{% autoescape None %}
{% extends "../../clean_base.html" %}
{% block content %}

<div class="container">
<h3>Help - {{uri}}</h3>
<div id="accordion" class="list-group">
</div>
<script>
var data = {{data}};
console.log(data);
Object.keys(data).forEach( function (group)
{
   var new_group = '<a class="list-group-item", data-toggle="collapse", data-parent="accordion" id="#' + group + 'Options" data-target="#' + group + 'Options"><b>' + group + '</b></a><div class = "list-group-collapse collapse" id="' + group + 'Options" ><ul id="'+group+'List"></ul></div>';
   $("#accordion").append(new_group);

   if (group === "meta_options"){
       Object.keys(data[group]).forEach( function(item) {
           var new_item = '<div class="list-group-item" id="meta_' + item + '"><i>' + item + '</i></div>';
           var fields =  data[group][item]["meta"]["fields"];
           var groups = data[group][item]["meta"]["groups"];
           $("#"+group+"List").append(new_item);
           $("#meta_"+item)
                  .append('<div class="list-group-item">Groups: ' + JSON.stringify(groups, null, 2) + '</div>')
                  .append('<div class="list-group-item">Fields: ' + JSON.stringify(fields, null, 2) + '</div>')
       });
   }

   else {
       Object.keys(data[group]).forEach( function(item) {
           var new_item = '<li class="list-group-item">' + item + ': '+ JSON.stringify(data[group][item]) + '</li>';
           $("#"+group+"List").append(new_item);       
       });
   }

});

$('.carousel').carousel({
interval: 7000
});

$(function () { $("[data-toggle='tooltip']").tooltip(); });
</script>
</div>

{% end %}
