{% autoescape None %}
{% extends "../../clean_base.html" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="http://rockerbox.com/css/dc.css">
<link rel="stylesheet" type="text/css" href="http://rockerbox.com/css/chosen.css">

<script type="text/javascript" src="http://rockerbox.com/js/d3.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/crossfilter.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/dc.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/colorbrewer.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/reporting.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/chosen.js"></script>

<div class='container'>

<h4>Select date range</h4>

<div class="row">
  <div class="col-sm-9">
    <form role="form">
      <div class="new-item"></div>
    </form>
    <script>
      var LOG = '<div class="col-sm-3"><select class="lists form-control" id="date_range" name="date_range" data-placeholder="date range"></select></div>',
       DUPLICATE = '<div class="col-md-1"><button type="submit" id="batch" class="submit btn ">Add</button></div>' 
        
      var NEW = "<div>" + LOG + DUPLICATE + "</div>"
      $(".new-item").append(NEW)

      var arrayToHashes = function(a){
        return a.map(function(x,i) {
          return {"key":x}
        })
      }

      var items = arrayToHashes(["yesterday","past_week","past_month"])

      $.each(items, function(i,v) {
        var vv = '<option value="' + v.key + '">' + v.key + "</option>" 
        $('.lists').append(vv)
      })
      </script>
  </div>
</div>
<br/>
<h4 id="results-header">Results</h4>

<table class="table table-hover dc-data-table">
  <thead>
    <tr id="headers"></tr>
  </thead>
</table>

</div>
<script>

var URL = window.location.pathname + window.location.search,
  META =  window.location.pathname + "/meta" + window.location.search

var addParam = function(u,p) {
  return u.indexOf("?") >= 0 ? u + "&" + p : u + "?" + p
}

URL = addParam(URL,"format=json")
META = addParam(META,"format=json")

$.getJSON(META,function(meta){
  window.meta = meta

  console.log(meta)

  d3.select("#results-header")
    .text("Imps Available for " + 
      meta['groups'].map(function(f){
        return f.charAt(0).toUpperCase() + f.slice(1)
      }).join(" and ")
    )

  $.getJSON(URL,function(data){
    window.data = data

    var crs = crossfilter(data);

    groups = meta["groups"]
    groupBy = groups[0]
      fields = meta["fields"]
      dim = crs.dimension(function(d){ return d[groupBy] })
      group = dim.group(function(x) {return x}).reduce(
        function(p,v){
          $(fields).each(function(i,f){
            p[f] += v[f]
          })
          return p
        },
        function(p,v){
          $(fields).each(function(i,f){
            p[f] -= v[f]
          })
          return p
        },
        function(){
          var o = {}
          $(fields).each(function(i,f){
            o[f] = 0
          })
          return o
        }

      )
    group.toHash = toHash
    hash = group.toHash()

    header = d3.select("#headers")
    header_values = meta["groups"].concat(meta["fields"])
    $(header_values).each(function(i,h){
       header.append("td")
        .text(h)
    })
   

    var format = d3.format("0,000");
    var percentFormat = d3.format(".4p")

    dc.dataTable(".dc-data-table")
      .dimension(dim)
      .group(function (d) {
        return d[groupBy]
      })
      .size(10000)
      .columns(header_values.map(function(x,i){
        if (i > 0)
          return function(h) {
            return isNaN(h[x]) ? h[x] : format(h[x])
          }
        }).concat([
          function(h){
            console.log("add details link to meta")
            return "<a href='" + window.location.pathname + "?" + 
              groups.slice(1).map(function(f){
                return f + "=" + h[f]
              }).join("&") +
              "' class='btn btn-primary btn-xs' target='_'>Details</a>"
          }
        ])
      )
      .sortBy(function (d) {
        return 10000000000 - parseInt(d.num_auctions);
      })
      .order(d3.ascending)
      .renderlet(function (table) {

        table.selectAll(".dc-table-row")//.classed("hide",true)
        table.selectAll(".dc-table-group")
          .selectAll(".dc-table-label")
          .attr("colspan",0)

        var s = table.selectAll(".dc-table-group")

        $(groups.slice(1).concat(fields)).each(function(i,f){
          s.append("td")
            .text(function(x){
              return isNaN(hash[x.key][f]) ? "" : format(hash[x.key][f])
            })
        })

        
        s.append("td")
          .append("a")
          .attr("href",function(x){
            return window.location.pathname + 
              "?" + groupBy + "=" + x.key
          })
          .attr("target","_")
          .text("More")
          .classed("btn btn-primary btn-xs", true)
            
        
        s.append("td")
          .classed("lock",true)
          .classed("right",true)
          .classed("btn-xs",true)
          .classed("hide",true)
          .text("Hide lists")
         
         
         

        table.selectAll(".dc-table-group").classed("info", true).on("click", function(e){
          var lock = d3.select(this.parentNode).selectAll(".lock");
          var text = lock.text();
          if (text == "Show lists") {
            lock.text("Hide lists")
            d3.select(this.parentNode)
              .selectAll(".dc-table-row")
              .classed("hide" , false)
              .transition().duration(500)

          } else if (text == "Hide lists") {
                    
            lock.text("Show lists")
            d3.select(this.parentNode)
              .selectAll(".dc-table-row")
              .classed("hide",true)
              .transition().duration(500)

          } 

        })
     
      });

    dc.renderAll()
              
  })
   
})



var send_data = function(json_string,cb) {
  $.ajax({
    type: "POST",
    dataType: "json",
    url: "/admin/advertiser/reporting/?format=json", 
    data: json_string, 
    success: function(last){ 
      if (cb) cb(last)
    },
    failure: function(last) {
      console.log(last)
    }
  })
}

$('#batch').click(function(e){
  e.preventDefault()
  var serialized = $(e.target).parents("form").serializeObject()
  var stringified = JSON.stringify(serialized)
  send_data(stringified,function(a){
    crs.remove()
    crs.add(a);
    dc.redrawAll()
  })
  return false;
})




</script>
<script src="http://rockerbox.com/js/jquery.serialize-object.js"></script>

{% end %}  
