{% autoescape None %}
{% extends "../../clean_base.html" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="http://rockerbox.com/css/dc.css">
<link rel="stylesheet" type="text/css" href="http://rockerbox.com/css/chosen.css">
<style>
input[type="checkbox"]:disabled + label{
  color: #ccc;
}

.loading {
   display: none;
}
</style>

<script type="text/javascript" src="http://rockerbox.com/js/d3.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/crossfilter.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/dc.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/colorbrewer.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/reporting.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/chosen.js"></script>
<script type="text/javascript" src="/static/js/dataframe_reporting.js"></script> 

<div class='container'>



<div class="row">
  <div class="col-sm-9">
    <form id="report-form" role="form">
      <div class="new-item"></div>
    </form>
    <script>
      data = {{data}}
      if (Object.keys(data).length) {
      var GROUPS = '<div class="col-sm-3"><h4>Select Grouping</h4><div class="groups" id="groups"></div></div>',
       FIELDS = '<div class="hidden col-sm-3"><h4>Select Fields</h4><div class="fields" id="fields"></div></div>', 
       DUPLICATE = '<div class="col-md-9">Reporting Link: <a id="reporting-link"></a><button type="submit" id="batch" class="hidden submit btn ">Add</button></div>' 
        
      var NEW = "<div>" + GROUPS + FIELDS + DUPLICATE + "</div>"
      $(".new-item").append(NEW)


      var items = {},
        fields = {},
        eligible_reports = Object.keys(data.groupings),
        report

      // convert all the groups to better format
      $.each(data.groupings,function(gn,gl){
        gl.map(function(gv){
          items[gv] = items[gv] || []
          items[gv].push(gn)
        })
      })

      $.each(data.fields,function(gn,gl){
        gl.map(function(gv){
          fields[gv] = fields[gv] || []
          fields[gv].push(gn)
        })
      }) 

      // add everything
      $.each(items, function(i,v) {
        var vv = '<input type="checkbox" value="' + i + '" class="' + v.join(" ") + '"><label>' + i+ "</label><br/>"
        $('.groups').append(vv)
      })

      $.each(fields, function(i,v) {
        var vv = '<input type="checkbox" value="' + i + '" class="' + v.join(" ") + '"><label>' + i+ "</label><br/>"
        $('.fields').append(vv)
      })

      // when an option added, recalc eligible
      $('.groups  input').on('change',function(y){
        
        var report_limits = {}

        $parent = $('#'+$(y.target).parents("form").attr('id'))

        var checked = $parent.find('input:checked')
        
        checked.each(function(i,x){
          var classes = $(x).attr('class').split(' ')
          classes.map(function(c){
            report_limits[c] = report_limits[c] || []
            report_limits[c].push( x.value )
          })
        })

        
        eligible_reports = []

        var keys = Object.keys(report_limits),
          counts = keys.map(function(x){
            return report_limits[x].length
          }),
          max = Math.max.apply(null,counts)

        $.each(report_limits,function(g,i){
          if (i.length == max) eligible_reports.push(g)
        })

        if (eligible_reports.length == 0) {
          eligible_reports = Object.keys(data.groupings)
        }

        $("input[type='checkbox']").each(function(i,o){
          $(o).attr('disabled','disabled')
        })

        eligible_reports.map(function(r){
          var a = $('.'+r)
          a.removeAttr('disabled')
        }) 
        
        report = eligible_reports[0]
        var includes = $.makeArray(checked).map(function(x){return x.value}).join(",")
        var url_base = "/admin/advertiser/" + report + "/reporting"

        if (includes.length > 0) {

          $('#reporting-link').attr("href",url_base + "?include=" + includes)
          $('#reporting-link').text(url_base + "?include=" + includes)
        }
        
      })

      var send_data = function(json_string,cb) {
        $.ajax({
          type: "POST",
          dataType: "json",
          url: "/admin/advertiser/reporting/?format=json", 
          data: json_string, 
          success: function(last){ 
            if (cb) cb(last)
          },
          failure: function(last) {
            console.log(last)
          }
        })
      }

      $('#batch').click(function(e){
        e.preventDefault()
        var serialized = $(e.target).parents("form").serializeObject()
        var stringified = JSON.stringify(serialized)
        send_data(stringified,function(a){
          crs.remove()
          crs.add(a);
          dc.redrawAll()
        })
        return false;
      })
 
      } else {
        var qs =  (window.location.search.indexOf("?") >=0 ) ?  "&" : "?";
        $('#report-form').append($("<a href='" +
          window.location.href.split('?')[0] +
          "/help' target=_blank>Help</a>"                  
        ))
        if (!window.location.search.match("past_week")) {
          $('#report-form').append($("<br /><a href='" + 
            window.location.href + 
            qs + 
            "include=date&wide=date&date=past_week"+
            "'>Show Past Week</a>"
          ))
        }
        $('#report-form').append($("<br/><a href='" +
          window.location.href + qs + "format=csv" +
          "'>Show as csv</a>"                  
        ))
      }
      </script>
  </div>
</div>
<br/>
<h4 id="results-header">Results</h4>
<div class="loading" align="center"><img src="http://portal.getrockerbox.com/static/img/general/logo-small.gif"></img></div>
<table id="data-table-avail" class="table table-hover dc-data-table">
  <thead>
    <tr class="data-table-headers"></tr>
  </thead>
</table>

</div>
<script>

var URL = window.location.pathname + window.location.search,
  META =  window.location.pathname + "/meta" + window.location.search

var addParam = function(u,p) {
  return u.indexOf("?") >= 0 ? u + "&" + p : u + "?" + p
}

URL = addParam(URL,"format=json")
META = addParam(META,"format=json")

$.getJSON(META,function(meta){

  d3.select("#results-header")
    .text("Imps Available for " + 
      meta['groups'].map(function(f){
        return f.charAt(0).toUpperCase() + f.slice(1)
      }).join(", ")
    )

  $(".loading").show();

  $.getJSON(URL,function(data){
    $(".loading").hide();
    if (data.length === 0){
        $("#data-table-avail").append("<tr><td>Sorry, no results available.</td></tr>");
    }

    else {
      var crsWrapped = new groupedDataWrapper(data,meta),
      tableWrapped = new groupedTableWrapper(crsWrapped,"#data-table-avail")

      tableWrapped.makeHeaders(".data-table-headers")
      tableWrapped.buildTable()
      tableWrapped.renderGroupHeaders(data.length > 100)
    
      dc.renderAll()
      window.crsWrapped = crsWrapped
   } 
  })

})

</script>
<script src="http://rockerbox.com/js/jquery.serialize-object.js"></script>

{% end %}  
