{% extends clean_base.html %}

{% block content %}
<link rel="stylesheet" type="text/css" href="http://rockerbox.com/css/dc.css">
<script type="text/javascript" src="http://rockerbox.com/js/d3.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/crossfilter.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/dc.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/colorbrewer.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/reporting.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<link href="http://rockerbox.com/css/bootstrap.css" rel="stylesheet">

<!-- DataTables CSS -->
<!--<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css">-->

<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

<!-- DataTables -->
<!--<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>-->

</script>
<style>
.content{
   width:1000px;
   margin:auto;
}
.header{
   float:left;
   width:100%;
}
.header h1{
   text-align:center;
}
.body{
   width:100%;
   float:left;
   padding-top:20px;
   margin:auto;
}
</style>


<div class="content">

<h2> Campaigns</h2>
<ul>
{% for camp in data %}
    <li><b>Name</b> {% raw camp['name'] %} <b>Status</b> {% raw camp['status'] %} <b> ID</b> {% raw camp['id'] %}</li>
    <a href="/adgroup?campaign_id={% raw camp['id'] %}" style="display: inline-block; border: solid 1px #e0e0e0; background-color: #fafafa; line-height: 24px; padding: 8px; border-radius: 3px; color: #666; text-decoration: none; font-family: sans-serif; font-size: 14px;">View Ad Groups</a>
    <br>
{% end %}
</ul>
<a href="/campaign/form" style="display: inline-block; border: solid 1px #e0e0e0; background-color: #fafafa; line-height: 24px; padding: 8px; border-radius: 3px; color: #666; text-decoration: none; font-family: sans-serif; font-size: 14px;">Create Campaign</a>
</div>
{% end %}
