{% autoescape None %}
{% extends "../base.html" %}

{% block page_title %}Streaming{% end %}
{% block page_header %}Streaming dashboard{% end %}

{% block page_css %}
	<link href="/static/css/streaming-style.css" type="text/css" rel="stylesheet" media="screen">
	<link href="/static/css/dc.css" type="text/css" rel="stylesheet" media="screen">
{% end %}

{% block page_sidebar %}
	<li><a href="/reporting"><img src="/static/img/sidebar/reporting-icon.png" alt="Reporting icon" /><span class="sidebar-label">campaign reporting</span></a></li>
	<li class="active"><a href="/streaming"><img src="/static/img/sidebar/global-icon.png" alt="Global icon" /><span class="sidebar-label">global streaming</span></a></li>
    <li><a href="/creative/reporting"><img src="/static/img/sidebar/creative-icon.png" alt="Creatives icon" /><span class="sidebar-label">creative reporting</span></a></li>
	<!--
	<li><a href="global"><img src="/static/img/sidebar/global-icon.png" alt="Global icon" /><span class="sidebar-label">global streaming</span></a></li>
	
	<li><a href="intraweek"><img src="/static/img/sidebar/intraweek-icon.png" alt="Intraweek icon" /><span class="sidebar-label">intraweek overview</span></a></li>
	-->
{% end %}

{% block page_content %}
	<div id="overall-box" class="box half-box">
        <ul id="overall-stats">
            <li class="border-green"><div class="overall-item-header">impressions</div><div id="imps-box" class="overall-item-value">0</div></li>
            <li class="border-blue"><div class="overall-item-header">domains</div><div id="domain-box" class="overall-item-value">0</div></li>
            <li class="border-orange"><div class="overall-item-header">unique visitors</div><div id="uniques-box" class="overall-item-value">0</div></li>
        </ul>
	</div>
	<div id="filter-box" class="box half-box">
        <div class="box-title">Filters</div>
        <ul id="filter-radio"><li class="filter-radio-active"><img src="/static/img/general/checked-radio.png" alt="Checked radio button" />impressions</li><li><img src="/static/img/general/unchecked-radio.png" alt="Unchecked radio button" />unique viewers</li></ul>
        <div class="clearfix"></div>
        <div class="custom-filter-select"><span class="filter-text">All campaigns</span><span class="filter-reset">reset</span></div>
        <div class="custom-filter-select"><span class="filter-text">All domains</span><span class="filter-reset">reset</span></div>
        <div class="custom-filter-select"><span class="filter-text">All locations</span><span class="filter-reset">reset</span></div>
        <div class="clearfix"></div>
    </div>    
	<div class="clearfix"></div>	
    <div id="map-box" class="box full-box">
    <div id="map-loading" class="data-loading"><div class="data-loading-content"><img src="/static/img/general/logo-small.gif" alt="Logo loader" /><br />waiting for data...</div></div>
	</div>
	<div class="clearfix"></div>
    <div id="campaign-box" class="box full-box">
        <div class="box-title">Campaigns</div>
        <div id="campaign-table" class="content-table">
            <ul class="header-row"><li class="campaign-name" title="Sort by campaign (descending)" data-sort="down">campaign</li><li class="campaign-imps active-sorted" title="Sort by impressions (ascending)" data-sort="up">impressions<img src="/static/img/general/dropdown-down.png" alt="Sort by impressions" /></li><li class="campaign-uniques" data-sort="down"  title="Sort by unique views (descending)" >uniques</li></ul>			
		</div>
        <div class="show-more">show more</div>
	</div>
	<div class="clearfix"></div>
	<div id="domain-box" class="box half-box">
        <div class="box-title">Domains</div>
        <div id="domain-table" class="content-table">
            <ul class="header-row"><li class="domain-name" title="Sort by domain (descending)" data-sort="down">domain</li><li class="domain-imps active-sorted" title="Sort by impressions (ascending)" data-sort="up">impressions<img src="/static/img/general/dropdown-down.png" alt="Sort by impressions" /></li><li class="domain-uniques" data-sort="down"  title="Sort by unique views (descending)" >uniques</li></ul>		
		</div>
        <div class="show-more">show more</div>
	</div>
	<div id="location-box" class="box half-box">
        <div class="box-title">Locations</div>
        <div id="location-table" class="content-table">
            <ul class="header-row"><li class="location-name" title="Sort by location (descending)" data-sort="down">location</li><li class="location-imps active-sorted" title="Sort by impressions (ascending)" data-sort="up">impressions<img src="/static/img/general/dropdown-down.png" alt="Sort by impressions" /></li><li class="location-uniques" data-sort="down"  title="Sort by unique views (descending)" >uniques</li></ul>			
		</div>
        <div class="show-more">show more</div>
	</div>
	<div class="clearfix"></div>	
{% end %}

{% block page_scripts %}
	<!-- IO GAUGE -->
	<script src="/static/js/gauge.min.js"></script>
    <script src="/static/js/topojson.v1.min.js"></script>
	<script src="/static/js/d3.v3.min.js"></script>
	<script src="/static/js/crossfilter.min.js"></script>
	<script src="/static/js/dc.mod.js"></script>
	<script src="/static/js/streaming.js"></script>
    <script src="/static/js/streaming-map.js"></script>
	<script>			
     $('#page-loader').hide();
	var extUserID =  {{ advertiser_id }};
	var buckets = {};
        
    // INITIALISE DC WIDGETS
    var impsBox = null, domainBox = null, uniquesBox = null, mapGraph = null, locationTable = null, domainTable = null, campaignTable = null;
    var domainRowSize = 10;        
    var campaignRowSize =  5;
    var locationRowSize =  10;
    
	// GET ADVERTISER BUDGET AND PROGRESS
	var getUserInfo = $.getJSON("/intraweek?format=json&ioinfo=" + extUserID, function(data){
        $('#header #right-align #user-name').text(data[0].advertiser.toLowerCase());
    });
        
    // FORMAT LOCATION
    function formatLocation(location){
        // IF COUNTRY UNKNOWN, RETURN UNKNOWN
        if($.inArray(location[2], ["", "0", 0]) != -1){
            return "Unknown";
        }
        // ELSE IF ONLY COUNTRY, RETURN COUNTRY
        else if($.inArray(location[0], ["", "0", 0]) != -1 && $.inArray(location[1], ["", "0", 0]) != -1){
            return location[2];
        }
        // ELSE IF CITY BUT NOT STATE
        else if($.inArray(location[1], ["", "0", 0]) != -1){
            return location[0] + ", " + location[2];
        }
        // ELSE IF STATE BUT NOT CITY
        else if($.inArray(location[0], ["", "0", 0]) != -1){
            return location[1] + ", " + location[2];
        }
        return location[0] + ', ' + location[1] + ', ' + location[2];
    }
    
    
    // GET USER DATA
    var getUserData = $.getJSON("/api?deleted=0&active=1&table=campaign_bucket&external_advertiser_id=" + extUserID, function(e){
        $.each(e, function(index, bucket){
            buckets[bucket.campaign_id] = bucket.bucket_name;
        });

        
        // REFRESH BUBBLES
        function refreshBubbles(){
            mapGraph.bubbles(
                dataWrapper.aggregateDimensions.latlong_location_data.top(Infinity),
                {
                    fillOpacity: 1,
                    borderWidth: 1,
                    popupTemplate: function(geography, data) { //this function should just return a string
                    return '<div class="tooltip"><div class="tooltip-content">' + formatLocation(data.location) + '<span id="tooltip-imps" class="tooltip-values">' + data.imps + '</span><span id="tooltip-uniques" class="tooltip-values">' + data.uniques + '</span></div></div>';
                    },
                    highlightOnHover: false
                }
            );
        }
       
        // GENERATE IMPRESSIONS COUNTER
        impsBox = dc.customDataBox('#overall-box #imps-box')
        .group(dataWrapper.groups.imps_data)
        .on("postRedraw", function(){
            if(dataWrapper.aggregateDimensions.latlong_location_data.top(1).length > 0){
                $('#map-loading').fadeOut();
            }
            refreshBubbles();
        });
        
        // GENERATE DOMAIN COUNTER
        domainBox = dc.customDataBox('#overall-box #domain-box')
        .group(dataWrapper.groups.domain_data)
        
        // GENERATE UNIQUE VISITORS COUNTER
        uniquesBox = dc.customDataBox('#overall-box #uniques-box')
        .group(dataWrapper.groups.uniques_data)
         ///*
        
        // GENERATE MAP
        mapGraph = new Datamap({
            scope: 'usa',
            element: document.getElementById('map-box'),
            projection:"mercator",
            /*
            setProjection: function(element) {
                var projection = d3.geo.mercator()
                
                  .translate([element.offsetWidth / 2, element.offsetHeight / 2]);
                var path = d3.geo.path()
                  .projection(projection);
                
                return {path: path, projection: projection};
            },*/
            fills: {
                defaultFill: '#333',
                'green': '#5ec34b',
                'orange': '#ffb952'
            },
             geographyConfig: {
                highlightOnHover: false,
                popupOnHover: false,
                borderColor: '#888888'
             }
        });
       
        // GENERATE DOMAINS TABLE   
       
        domainTable = dc.customDataTable('#domain-table')
        .dimension(dataWrapper.aggregateDimensions.domain_data)
        .group(dataWrapper.groups.domain_data)
        .sortBy(function(d){
            return d.imps;					
        })
        .sliceMode("bottom")
        .order(d3.descending)
        .size(domainRowSize)
        .rowClass("domain-row")
        .listClasses(["domain-name", "domain-imps", "domain-uniques"])
        .listItems([
            function(d){
                if($.inArray(d.domain, ["", "0", 0]) != -1){
                    return "Unknown";
                }
                return d.domain.replace("www.", "");
            },
            function(d){
                return formatNumber(d.imps);
            },
            function(d){
                return formatNumber(d.uniques);
            }
        ])
        .on("preRedraw", function(){
            if(dataWrapper.aggregateDimensions.domain_data.top(domainRowSize + 1).length > domainRowSize){
                $('#domain-box .show-more').css("display", "inline-block");
            }
            else {
                $('#domain-box .show-more').hide();
            }
        })
        
        // GENERATE LOCATION TABLE        
        
        locationTable = dc.customDataTable('#location-table')
        .dimension(dataWrapper.aggregateDimensions.location_data)
        .group(dataWrapper.groups.location_data)
        .sortBy(function(d){
            return d.imps;					
        })
        .order(d3.descending)
        .size(locationRowSize)
        .sliceMode("bottom")
        .rowClass("location-row")
        .listClasses(["location-name", "location-imps", "location-uniques"])
        .listItems([
            function(d){
                return formatLocation(d.location);
            },
            function(d){
                return formatNumber(d.imps);
            },
            function(d){
                return formatNumber(d.uniques);
            }
            ])
         .on("preRedraw", function(){
            if(dataWrapper.aggregateDimensions.location_data.top(locationRowSize + 1).length > locationRowSize){
                $('#location-box .show-more').css("display", "inline-block");
            }
            else {
                $('#location-box .show-more').hide();
            }
         })

        // GENERATE CAMPAIGN TABLE   
        
        campaignTable = dc.customDataTable('#campaign-table')
        .dimension(dataWrapper.aggregateDimensions.campaign_data)
        .group(dataWrapper.groups.campaign_data)
        .sortBy(function(d){
            return d.imps;					
        })
        .order(d3.descending)
        .size(campaignRowSize)
        .sliceMode("bottom")
        .rowClass("campaign-row")
        .listClasses(["campaign-name", "campaign-imps", "campaign-uniques"])
        .listItems([
            function(d){
                return d.campaign;
            },
            function(d){
                return formatNumber(d.imps);
            },
            function(d){
                return formatNumber(d.uniques);
            }
            ])
         .on("preRedraw", function(){
            if(dataWrapper.aggregateDimensions.campaign_data.top(campaignRowSize + 1).length > campaignRowSize){
                $('#campaign-box .show-more').css("display", "inline-block");
            }
            else {
                $('#campaign-box .show-more').hide();
            }
        })
        

        dc.renderAll();        
    });
    </script>
    <script>
        
        // IF SHOW MORE ON TABLE CLICKED
        $('.show-more').click(function(){
            var parentID = $(this).parent().attr('id');   
            if(parentID == "location-box"){
                locationRowSize = Infinity;
                locationTable.size(locationRowSize);
            }
            else if(parentID == "domain-box") {
                domainRowSize = Infinity;
                domainTable.size(domainRowSize);
            }
            else {
                campaignRowSize = Infinity;
                campaignTable.size(campaignRowSize);
            }
            dc.redrawAll();
        });
        
        // IF CHANGE FILTER RADIO
        $('#filter-radio li').click(function(){
            if(!$(this).hasClass('.filter-radio-active')){
                if($(this).text() == "unique viewers"){
                    dataWrapper.bubbleFillKey = "orange";     
                    dataWrapper.bubbleType = "uniques";
                }
                else {
                    dataWrapper.bubbleFillKey = "green";
                    dataWrapper.bubbleType = "imps";
                }
                $('#filter-radio li.filter-radio-active').removeClass('filter-radio-active').children('img').attr("src", "/static/img/general/unchecked-radio.png").attr("alt", "Unchecked radio button");
                $(this).addClass('filter-radio-active').children('img').attr("src", "/static/img/general/checked-radio.png").attr("alt", "Checked radio button");
                refreshBubbles();
            }
        });      
        
        // SHOW DROPDOWN ON DOMAIN/LOCATION TABLES
        $('.header-row li').hover(function(){
            if($(this).hasClass('active-sorted')){
                         
                if($(this).attr('data-sort') == "up"){
                    $(this).children('img').attr('src', '/static/img/general/dropdown-up.png');
                }
                else {
                    $(this).children('img').attr('src', '/static/img/general/dropdown-down.png');
                }
            }
            else {
                $(this).append('<img src="/static/img/general/dropdown-down.png" />');
                $(this).siblings('.active-sorted').children('img').hide();
            }
            }, function(){
            if($(this).hasClass('active-sorted')){
                if($(this).attr('data-sort') == "up"){
                    $(this).children('img').attr('src', '/static/img/general/dropdown-down.png');
                }
                else {
                    $(this).children('img').attr('src', '/static/img/general/dropdown-up.png');
                }
            }
            else {
                $(this).children('img').remove();
                 $(this).siblings('.active-sorted').children('img').css("display","inline");
            }
        });
        
        // CHANGE ORDERING ON CLICK
        $('.header-row li').click(function(){
            var parentID = $(this).parent().parent().attr("id");
            if(parentID == "location-table"){
                var parentTable = locationTable;
            }
            else if(parentID == "domain-table"){
                var parentTable = domainTable;
            }
            else {
                var parentTable = campaignTable;
            }   
            
            if($(this).attr("data-sort") == "up"){
                if($.inArray($(this).text(), ["location", "domain", "campaign"]) != -1){
                    parentTable.order(d3.descending)
                    .sliceMode("bottom");
                }
                else {
                     parentTable.order(d3.ascending)
                    .sliceMode("top");                    
                }  
                var newTitle = $(this).attr('title').replace("ascending", "descending");
                $(this).attr('title', newTitle);
            }
            else {
                if($.inArray($(this).text(), ["location", "domain", "campaign"]) != -1){
                    parentTable.order(d3.ascending)
                    .sliceMode("top");
                }
                else {
                    parentTable.order(d3.descending)
                    .sliceMode("bottom");                   
                }
                var newTitle = $(this).attr('title').replace("descending", "ascending");
                $(this).attr('title', newTitle);
            }
            
            if($(this).hasClass('active-sorted')){         
                if($(this).attr("data-sort") == "up"){
                    $(this).attr("data-sort", "down");
                    $(this).children('img').attr('src', '/static/img/general/dropdown-down.png');
                }
                else {
                    $(this).attr("data-sort", "up");
                    $(this).children('img').attr('src', '/static/img/general/dropdown-up.png');
                }
            }
            else {
                var sortRow = $(this).text();
                if(parentID == "location-table"){
                    if(sortRow == "uniques"){
                        parentTable.sortBy(function(d){
                            return d.uniques;					
                        })
                        dataWrapper.sortValueLocations = "uid_count";
                    }
                    else if(sortRow == "location"){
                         parentTable.sortBy(function(d){
                            return formatLocation(d.location);					
                        })
                         dataWrapper.sortValueLocations = "location";
                    }
                    else {
                        parentTable.sortBy(function(d){
                            return d.imps;		                            
                        })
                        dataWrapper.sortValueLocations = "imps";
                    }
                }
                else if(parentID == "domain-table"){
                    if(sortRow == "uniques"){
                        parentTable.sortBy(function(d){
                            return d.uniques;					
                        })
                        dataWrapper.sortValueDomains = "uid_count";
                    }
                    else if(sortRow == "domain"){
                        parentTable.sortBy(function(d){
                            return d.domain;					
                        })
                         dataWrapper.sortValueDomains = "domain";
                    }
                    else {
                         parentTable.sortBy(function(d){
                            return d.imps;					
                        })
                        dataWrapper.sortValueDomains = "imps";
                    }
                }  
                else {
                    if(sortRow == "uniques"){
                        parentTable.sortBy(function(d){
                            return d.uniques;					
                        })
                        dataWrapper.sortValueLocations = "uid_count";
                    }
                    else if(sortRow == "campaign"){
                        parentTable.sortBy(function(d){
                            return d.campaign;					
                        })
                         dataWrapper.sortValueLocations = "campaign";
                    }
                    else {
                         parentTable.sortBy(function(d){
                            return d.imps;					
                        })
                        dataWrapper.sortValueLocations = "imps";
                    }
                }      
                var newTitle = $(this).siblings('.active-sorted').attr('title').replace("ascending", "descending");
                 $(this).siblings('.active-sorted').removeClass('active-sorted').attr('title', newTitle).attr('data-sort', 'down').children('img').remove();
                 $(this).addClass('active-sorted').attr('data-sort', 'up').children('img').attr('src', '/static/img/general/dropdown-up.png');            
            }
                
            dc.redrawAll();
        });
        
        // FILTER CAMPAIGNS
        $('#campaign-select-expanded ul').on("click", 'li', function(){
            console.log($(this).text());
        });
    </script>
{% end %}
