{% autoescape None %}

<!-- COPYRIGHT ROCKERBOX INC. 2014 -->
<!DOCTYPE html>
<html>
  <head>
    <title>Rockerbox / {% block page_title %}{% end %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Julian Laval" /> 
    <meta name="description" content="" /> 
    <meta name="keywords" content="" />
    <link rel="icon" type="image/png" href="https://s3.amazonaws.com/getrockerbox.com/Fav_icon.png">
    <!-- FONTS -->
    <link href='/static/css/fonts.css' type='text/css' rel='stylesheet' media="screen">
    <!-- PAGE CSS -->
    <link href="/static/css/general-style.css" type="text/css" rel="stylesheet" media="screen">
   {% block page_css %}{% end %}
    <!-- GOOGLE ANALYTICS -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-50457693-1', 'rockerbox.com');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
    </script>   
  </head>
  <body>
		<div id="page-container">	
			<ul id="sidebar">
				<img id="sidebar-collapse" src="/static/img/general/menu-icon-white.png" alt="Collapse header icon" />
				{% block page_sidebar %}{% end %}
			</ul>
			<div id="container">
				<div id="header">
					<div id="left-align">
						<img id="sidebar-expand" src="/static/img/general/menu-icon-black.png" alt="Expand header icon" /><a href="#"><img id="header-logo" src="/static/img/general/logo-small-black.png" alt="Rockerbox logo" /></a><span id="page-title">{% block page_header %}{% end %}</span>
					</div>
                <div id="right-align"><span id="user-name"></span><img id="logout" title="Log out" src="/static/img/general/logout-icon.png" alt="Logout icon" /></div>
					<div class="clearfix"></div>
				</div>			
				<div id="content">		
					
					<div id="page-loader"><div id="page-loader-content"><img src="/static/img/general/logo-small.gif" alt="Logo loader" /><br />loading...</div></div>
					
					{% block page_content %}{% end %}
				</div>
			</div>
		</div>
		<!-- FROM http://code.jquery.com/jquery.min.js -->
		<script src="/static/js/jquery.min.js"></script>
		<!-- SEGMENT PIXEL -->
		<script src="http://ib.adnxs.com/seg?add=1478777&t=1" type="text/javascript"></script>
		<script>
			$('#sidebar-expand').click(function(){
				$('#sidebar').fadeIn();
			});
			$('#sidebar-collapse').click(function(){
				$('#sidebar').fadeOut();
			});
			
			function checkSidebar(){
				if($(window).width() > 1222){
					$('#sidebar').css("display", "block");
				}
				else {
					$('#sidebar').css("display", "none");
				}
			}
			$(window).resize(checkSidebar);

            // LOGOUT
            $('#logout').click(function(){
                document.cookie = 'user=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
                location.reload();
            });
            
			// FORMAT NUMBERS
			function formatNumber(number){
				return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
			}
			
			// FORMAT MONEY
			function formatMoney(money){
				return '$' + money.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');
			}
			
			// FORMAT DATE
			var monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
			var monthNamesAbbr = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
			function formatDate(date){
				return ("0" + date.getDate()).slice(-2) + " " + monthNamesAbbr[date.getMonth()] + " " + date.getFullYear();
			}
			function formatMonth(date){
				return monthNames[date.getMonth()] + " " + date.getFullYear();
			}
			
			// ADD DAYS TO DATE
			function addDays(firstDate, days){
				var endDate = new Date(firstDate);
				endDate.setDate(firstDate.getDate() + days);
				return endDate;
			}
			
			// REMOVE DAYS FROM DATE
			function removeDays(firstDate, days){
				var endDate = new Date(firstDate);
				endDate.setDate(firstDate.getDate() - days);
				return endDate;
			}
		</script>
		{% block page_scripts %}{% end %}
	</body>
</html>