/*
    Create Action
  */
  section.search_wrapper {
    position: relative;
    margin-top: 30px;
    overflow: auto;
  }

  section.search_wrapper img.search_loading_indicator {
    top: 20px;
    right: 215px;
    position: absolute;
    opacity: .4;
    display: none;
  }

  section.search_wrapper input[type="text"].search_input {
    width: calc(100% - 200px);
    outline: none;
    padding: 16px 16px 17px 16px;
    border: none;
    box-sizing: border-box;
    font-size: 18px;
    float: left;
  }

  section.search_wrapper div.create_action {
    padding: 18px;
    border: none;
    width: 200px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
    outline: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    float: right;
  }

  ol.filters {
    padding: 0;
    margin-top: 50px;
    overflow: auto;
  }

  ol.filters li {
    width: 25%;
    float: left;
    background-color: #FFF;
    box-sizing: border-box;
    padding: 15px 25px;
    background-color: #f8f8f8;
    cursor: pointer;
    border: none;
    color: #a9a9a9;
  }

  ol.filters li:hover {
    background-color: #FCFCFC;
  }

  ol.filters li.active {
    background-color: #FFF;
    color: rgb(51, 51, 51);
    opacity: 1;

    border: solid 1px #f0f0f0;
  }

  ol.filters li h3 {
    font-weight: bold;
    font-size: 14px;
  }

  section.matched_domains_wrapper {
    margin-top: 50px;
    text-align: left;
  }

  section.matched_domains_wrapper h3.matched_domains_title {
    font-size: 14px;
    font-weight: bold;
  }

  ol.matched_domains {
    padding: 0;
  }

  ol.matched_domains li {
    list-style-type: none;
    padding: 15px 0;
    /*border-top: solid 1px #eaeaea;*/
  }

  ol.matched_domains_loading {
    padding: 0;
  }

    ol.matched_domains_loading li {
      list-style-type: none;
      padding: 15px 0;
      height: 30px;
      background-color: #f6f6f6;
      margin-top: 15px;
    }

      ol.matched_domains_loading li:nth-child(3) {
        opacity: .8;
      }
      ol.matched_domains_loading li:nth-child(4) {
        opacity: .6;
      }
      ol.matched_domains_loading li:nth-child(5) {
        opacity: .4;
      }
      ol.matched_domains_loading li:nth-child(6) {
        opacity: .2;
      }

  ol.matched_domains li span.url {
    display: inline-block;
    width: calc(100% - 150px);
    /*font-size: 16px;*/
  }

  ol.matched_domains li span.url strong {
    font-size: 1.2em;
  }

  ol.matched_domains li div.importance_wrapper {
    display: inline-block;
    margin-right: 20px;
  }

  ol.matched_domains li span.visits {
    float: right;
    margin-right: 10px;
  }

.action-full_url table {
  margin-top: 15px;
}
