@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/SourceSansPro/SourceSansPro-Light.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/SourceSansPro/SourceSansPro-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/SourceSansPro/SourceSansPro-It.woff') format('woff');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/SourceSansPro/SourceSansPro-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Novecento';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Novecento/Novecento-Normal.woff') format('woff');
}
@font-face {
  font-family: 'Novecento';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Novecento/Novecento-Bold.woff') format('woff');
}

@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ProximaNova/ProximaNova700.woff') format('woff');
}
@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/ProximaNova/ProximaNova300.woff') format('woff');
}
@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ProximaNova/ProximaNova400.woff') format('woff');
}
