html {
  height: 100%; }

body {
  height: 100%;
  padding-top: 100px;
  font-family: "ProximaNova",sans-serif;
  font-size: 12px;
  -webkit-font-smoothing: antialiased; }

body > .container {
  min-height: 100%;
  background-color: #F0F4F7;
  margin-left: 340px; }

a {
  cursor: pointer; }

.container {
  padding-top: 15px; }

.row {
  margin: 0; }

body.hide-select > .container {
  margin-left: 70px; }

body.hide-select > aside > .selectbar {
  display: none; }

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     not supported by any browser */ }

.series {
  border-style: solid;
  border-width: 1px;
  border-color: #f0f0f0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  background-color: #FFFFFF;
  margin-bottom: 30px; }
  .series .title {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #5A5A5A;
    text-align: left; }
  .series .value {
    width: 100%;
    padding: 10px 10px 10px 0;
    font-size: 24px;
    font-weight: bold;
    color: #5A5A5A;
    text-align: left; }

/*
  Main Header
*/
.topbar {
  width: 100%;
  height: 50px;
  top: 0;
  position: fixed;
  margin-left: 70px;
  background-color: #5084b2;
  box-shadow: 0 1px rgba(255, 255, 255, 0.08), 0 -1px rgba(0, 0, 0, 0.15) inset;
  z-index: 100; }
  .topbar .item {
    background-color: #3f6a90;
    color: white;
    border-radius: 15px;
    display: inline-block;
    line-height: 30px;
    margin-top: 10px;
    margin-left: 15px;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: bold;
    font-size: 13px; }

/*
  Sub Header
*/
header.page-header {
  box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.08), 0 1px 0 0 rgba(0, 0, 0, 0.15) inset;
  position: fixed;
  font-size: 12px;
  right: 0;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #f0f0f0;
  top: 50px;
  left: 70px;
  padding-left: 20px;
  background-color: #FFF;
  margin: 0;
  z-index: 99; }

header.page-header.with-sidebar {
  left: 340px !important; }

h5.heading {
  position: fixed;
  top: 115px;
  left: 370px;
  right: 0px;
  background-color: #fff;
  z-index: 100; }

aside h5.heading {
  box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.08), 0 1px 0 0 rgba(0, 0, 0, 0.15) inset;
  left: 70px;
  display: block;
  width: 270px;
  border-bottom: 1px solid #f0f0f0;
  height: 50px;
  overflow-x: hidden;
  line-height: 48px;
  text-align: center;
  margin: 0;
  position: fixed;
  top: 50px; }

.side-navbar {
  z-index: 100;
  top: 0;
  left: 0;
  position: fixed;
  width: 70px;
  height: 100%;
  background-color: #192a39;
  color: rgba(255, 255, 255, 0.66);
  font-size: 14px; }
  .side-navbar .logo {
    box-shadow: 0 1px rgba(255, 255, 255, 0.08), 0 -1px rgba(0, 0, 0, 0.55) inset;
    width: 100%;
    text-align: center;
    display: block; }
    .side-navbar .logo .logo-wrapper {
      width: 25px;
      overflow: hidden;
      position: relative;
      display: inline-block;
      line-height: 1px; }
      .side-navbar .logo .logo-wrapper img {
        width: 250px;
        margin-top: -5px;
        padding-right: 20px;
        padding-left: 0;
        margin: 4px auto 6px; }

.logo-wrapper {
  width: 25px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  line-height: 1px; }

.side-navbar .logo {
  /*line-height:as_px($navbar-width);*/
  box-shadow: 0 1px rgba(255, 255, 255, 0.08), 0 -1px rgba(0, 0, 0, 0.55) inset;
  width: 100%;
  text-align: center;
  display: block; }

.side-navbar .logo img {
  width: 250px;
  margin-top: -5px;
  padding-right: 20px;
  padding-left: 0;
  margin: 4px auto 6px; }

.logout-item {
  text-align: center; }

.side-navbar a.logout-item,
.side-navbar a.menu-item {
  display: block;
  line-height: 60px;
  padding-left: 25px;
  padding-right: 25px;
  color: rgba(255, 255, 255, 0.66);
  text-decoration: none;
  cursor: pointer; }

.side-navbar a.menu-item {
  position: relative;
  margin-left: 2px;
  width: 70px; }

.side-navbar a.menu-item .icon {
  font-size: 16px; }

.side-navbar a.menu-item.active {
  width: 200px; }

.side-navbar a.menu-item .text {
  -webkit-box-shadow: 0 0 10px 3px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0 0 10px 3px rgba(51, 51, 51, 0.5);
  box-shadow: 0 0 10px 3px rgba(51, 51, 51, 0.5);
  border-radius: 4px;
  position: absolute;
  top: 10px;
  display: none;
  line-height: 40px;
  padding-left: 15px;
  padding-right: 20px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  margin-left: 35px; }

.side-navbar a.menu-item .text {
  opacity: 1;
  background: #485b71; }

.side-navbar a.menu-item .text:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #485b71;
  border-width: 5px;
  margin-top: -5px; }

.selectbar {
  padding-bottom: 150px;
  z-index: 0;
  top: 100px;
  left: 70px;
  position: fixed;
  width: 270px;
  overflow-x: hidden;
  overflow-wrap: break-word;
  border-right: 1px solid #f0f0f0;
  height: 100%;
  font-size: 14px;
  background-color: #F8FAFB; }
  .selectbar .menu-section .heading {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: bold;
    opacity: 0.75;
    padding: 15px; }
  .selectbar .menu-section:not(:first-of-type) {
    margin-top: 30px; }
  .selectbar .heading {
    background-color: #fff; }
    .selectbar .heading a {
      background-color: #fff;
      color: #333; }
  .selectbar a {
    background-color: #F8FAFB;
    display: block;
    color: #333;
    padding: 9px 15px 7px;
    text-decoration: none;
    cursor: pointer; }
  .selectbar a.active {
    border-left: 5px solid green;
    background-color: #F0F4F7;
    font-weight: bold;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb; }
  .selectbar a:hover {
    color: #007196; }

.card {
  overflow: auto; }
  .card .bar-series {
    overflow: auto; }
  .card h3 {
    margin: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: #888;
    letter-spacing: .05em; }
  .card div.description {
    margin-bottom: 20px; }

.ct-chart {
  /*width: 400px;
    height: 450px;*/
  border-style: solid;
  border-width: 1px;
  border-color: #f0f0f0;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  background-color: #FFFFFF;
  margin-bottom: 30px; }

.ct-chart svg {
  float: center; }

.ct-chart .chart-title {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color: #5A5A5A;
  text-align: left; }

.ct-chart .chart-total {
  width: 100%;
  padding: 10px 10px 10px 0;
  font-size: 24px;
  font-weight: bold;
  color: #5A5A5A;
  text-align: left; }

.ct-chart .chart-description {
  width: 100%;
  font-size: 14px;
  color: #5A5A5A;
  text-align: left; }

.chart-wrapper {
  padding-top: 20px; }

.ct-line {
  stroke-width: 3px; }

.ct-point {
  stroke-width: 8px; }

.ct-series-a .ct-line {
  stroke: #428bca; }

.ct-series-a .ct-area {
  fill: #428bca; }

.ct-series-a .ct-point {
  stroke: #428bca; }

.ct-series-a .ct-bar {
  stroke: #428bca; }

.ct-label {
  font-size: 12px; }

.list-group-item {
  border-width: 1px 0;
  border-radius: 0;
  border-color: #f0f0f0; }

.list-group-item:first-child {
  border-radius: 0;
  border-width: 0; }

.list-group-item .remove-funnel {
  float: right; }

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
  z-index: 2;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7; }

.list-group-item .btn {
  margin-top: -4px; }

.data-version-buttons a {
  border-radius: 0 !important; }

.data-version-buttons a:not(:first-child) {
  border-left: none !important; }

.data-version-buttons a:first-child {
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important; }

.data-version-buttons a:last-child {
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important; }

.data-version-buttons a:hover {
  background-color: #FDFDFF;
  cursor: pointer; }

.data-version-buttons a.active,
.data-version-buttons a.active:hover {
  background-color: #F4F8FA;
  box-shadow: inset 0 1px 1px 0 rgba(35, 35, 35, 0.03);
  color: #555; }

#HW_badge.HW_softHidden {
  transform: scale(0.5) !important; }

.topbar .item {
  background-color: #3f6a90;
  color: white;
  border-radius: 15px;
  display: inline-block;
  line-height: 30px;
  margin-top: 10px;
  margin-left: 15px;
  padding-right: 15px;
  padding-left: 15px;
  font-weight: bold;
  font-size: 13px; }

body {
  padding-top: 100px; }

.topbar {
  width: 100%;
  height: 50px;
  top: 0px;
  position: fixed;
  margin-left: 70px;
  background-color: #5084b2;
  box-shadow: 0 1px rgba(255, 255, 255, 0.08), 0 -1px rgba(0, 0, 0, 0.15) inset;
  z-index: 100; }

.menu-section .heading {
  text-transform: uppercase;
  font-size: .9em;
  font-weight: bold;
  opacity: .75;
  padding: 15px; }

.menu-section:not(:first-of-type) {
  margin-top: 30px; }

header.page-header {
  box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.08), 0 1px 0 0 rgba(0, 0, 0, 0.15) inset;
  position: fixed;
  font-size: 12px;
  right: 0px;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #f0f0f0;
  top: 50px;
  left: 70px;
  padding-left: 20px;
  background-color: #FFF;
  margin: 0;
  z-index: 99; }

header.page-header.with-sidebar {
  left: 340px !important; }

.statistic .item {
  line-height: 15px;
  padding-left: 10px; }

.funnel h5 {
  margin-top: 18px; }

.bootstrap-switch .bootstrap-switch-handle-on, .bootstrap-switch .bootstrap-switch-handle-off, .bootstrap-switch .bootstrap-switch-label {
  font-size: 12px; }

.estimate, .statistic {
  line-height: 30px; }

.twitter-typeahead {
  width: 100%; }

.bs-select-hidden {
  display: none; }

.compute-funnel-wrapper {
  /*padding-top: 8px;*/
  padding-bottom: 8px; }

.list-group-item .remove-funnel {
  float: right; }

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  z-index: 2;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7; }

.filter-wrapper h5 {
  font-size: 13px; }

.container {
  padding-top: 15px; }

input[type="checkbox"]:disabled + label {
  color: #ccc; }

.loading {
  display: none; }

body {
  font: 10px sans-serif; }

body {
  font-size: 12px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; }

.list-group-item .btn {
  margin-top: -4px; }

.axis {
  opacity: .4; }

.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges; }

.y.axis .tick line {
  stroke-dasharray: 2;
  stroke: #333333; }

.y.axis .domain {
  stroke: none; }

.x.axis path {
  display: none; }

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px; }

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px; }

.area {
  fill-opacity: .5;
  fill: lightsteelblue; }

.and {
  float: right;
  margin-right: -26px;
  font-size: 12px;
  line-height: 30px; }

.filter-wrapper .filter:last-of-type .and {
  display: none; }

.filter-wrapper .col-md-4 span:first-of-type {
  display: none; }

.filter-wrapper .filter:first-of-type .col-md-4:first-of-type span:last-of-type {
  display: none; }

.filter-wrapper .filter:first-of-type .col-md-4:first-of-type span:first-of-type {
  display: inline; }

a {
  cursor: pointer; }

/*.filter-wrapper {background:grey}*/
.chosen-container {
  margin-top: 2.5px; }

#seriesable, #filterable {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: -25px;
  margin-right: -25px;
  padding-right: 25px;
  padding-left: 25px;
  background-color: #ddd; }

.action-patterns, .action-steps {
  padding: 10px; }

.axis {
  font: 10px sans-serif; }

.axis path, .axis line {
  fill: none;
  /*stroke: #000;*/
  shape-rendering: crispEdges; }

.x.axis path {
  display: none; }

.container {
  background-color: #F0F4F7; }

.heading {
  background-color: white; }

.bar.series {
  padding-bottom: 20px; }

.domain-chart-svg {
  margin-top: 20px; }

.action {
  margin-bottom: 30px; }

.axis path, .axis line {
  fill: none;
  /*stroke: #000; */
  shape-rendering: crispEdges; }

.x.axis path {
  display: none; }

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px; }

.and {
  float: right;
  margin-right: -26px;
  font-size: 12px;
  line-height: 30px; }

.filter-wrapper .filter:last-of-type .and {
  display: none; }

.filter-wrapper .col-md-4 span:first-of-type {
  display: none; }

.filter-wrapper .filter:first-of-type .col-md-4:first-of-type span:last-of-type {
  display: none; }

.filter-wrapper .filter:first-of-type .col-md-4:first-of-type span:first-of-type {
  display: inline; }

body {
  font-family: "ProximaNova",sans-serif;
  -webkit-font-smoothing: antialiased; }

.block-quote {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px; }

.side-navbar {
  z-index: 100;
  top: 0px;
  left: 0px;
  position: fixed;
  width: 70px;
  height: 100%;
  /*background-color:#002632;*/
  background-color: #192a39;
  color: rgba(255, 255, 255, 0.66);
  font-size: 14px; }

.logo-wrapper {
  width: 25px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  line-height: 1px; }

.side-navbar .logo {
  /*line-height:as_px($navbar-width);*/
  box-shadow: 0 1px rgba(255, 255, 255, 0.08), 0 -1px rgba(0, 0, 0, 0.55) inset;
  width: 100%;
  text-align: center;
  display: block; }

.side-navbar .logo img {
  width: 250px;
  margin-top: -5px;
  padding-right: 20px;
  padding-left: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  margin-bottom: 6px; }

.logout-item {
  text-align: center; }

.side-navbar a.logout-item, .side-navbar a.menu-item {
  display: block;
  line-height: 60px;
  padding-left: 25px;
  padding-right: 25px;
  color: rgba(255, 255, 255, 0.66);
  text-decoration: none;
  cursor: pointer; }

.side-navbar a.menu-item {
  position: relative;
  margin-left: 2px;
  width: 70px; }

.side-navbar a.menu-item .icon {
  font-size: 16px; }

.side-navbar a.menu-item.active {
  width: 200px; }

.side-navbar a.menu-item .text {
  -webkit-box-shadow: 0px 0px 10px 3px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0px 0px 10px 3px rgba(51, 51, 51, 0.5);
  box-shadow: 0px 0px 10px 3px rgba(51, 51, 51, 0.5);
  border-radius: 4px;
  position: absolute;
  top: 10px;
  display: none;
  line-height: 40px;
  padding-left: 15px;
  padding-right: 20px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  margin-left: 35px; }

.side-navbar a.menu-item .text {
  opacity: 1;
  background: #485b71; }

.side-navbar a.menu-item .text:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #485b71;
  border-width: 5px;
  margin-top: -5px; }

.selectbar {
  padding-bottom: 150px;
  z-index: 0;
  top: 100px;
  left: 70px;
  position: fixed;
  width: 270px;
  overflow-x: hidden;
  overflow-wrap: break-word;
  border-right: 1px solid #f0f0f0;
  height: 100%;
  font-size: 14px;
  background-color: #F8FAFB; }

.selectbar .heading a {
  background-color: white;
  color: #333; }

.selectbar > a:first-of-type {
  padding-top: 15px; }

.selectbar a {
  background-color: #F8FAFB;
  display: block;
  color: #333;
  padding: 15px;
  padding-top: 9px;
  padding-bottom: 7px;
  /*
  padding-left:10px;
  padding-bottom:2px;
  padding-top:5px;
  */
  text-decoration: none;
  cursor: pointer; }

.selectbar a.active {
  border-left: 5px solid green;
  background-color: #F0F4F7;
  font-weight: bold;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb; }

.selectbar a:hover {
  color: #007196; }

aside h5.heading {
  box-shadow: 0 -1px 0 0 rgba(255, 255, 255, 0.08), 0 1px 0 0 rgba(0, 0, 0, 0.15) inset;
  left: 70px;
  display: block;
  width: 270px;
  border-bottom: 1px solid #f0f0f0;
  height: 50px;
  overflow-x: hidden;
  line-height: 48px;
  text-align: center;
  margin: 0px;
  position: fixed;
  top: 50px; }

.panel-default > .panel-heading {
  height: 50px;
  line-height: 50px;
  background-color: white;
  border-top: 0px;
  border-bottom: 1px solid #f0f0f0; }

.panel-default > .panel-heading > h3 {
  line-height: 50px; }

.panel-default {
  border: 0px; }

.wrapper {
  padding: 0px; }

.row {
  margin: 0px; }

.list-group-item {
  border-width: 1px 0;
  border-radius: 0;
  border-color: #f0f0f0; }

.list-group-item:first-child {
  border-radius: 0;
  border-width: 0px; }

.chzn-single {
  line-height: 34px !important;
  height: 34px !important; }

.table > tbody + tbody, .table > tbody > tr > td {
  border-top: 1px solid #f0f0f0 !important; }

.ct-chart {
  /*width: 400px;
  height: 450px;*/
  border-style: solid;
  border-width: 1px;
  border-color: #f0f0f0;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  background-color: #FFFFFF;
  margin-bottom: 30px; }

.ct-chart svg {
  float: center; }

.ct-chart .chart-title {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color: #5A5A5A;
  text-align: left; }

.ct-chart .chart-total {
  width: 100%;
  padding: 10px;
  padding-left: 0px;
  font-size: 24px;
  font-weight: bold;
  color: #5A5A5A;
  text-align: left; }

.ct-chart .chart-description {
  width: 100%;
  font-size: 14px;
  color: #5A5A5A;
  text-align: left; }

.chart-wrapper {
  padding-top: 20px; }

.ct-line {
  stroke-width: 3px; }

.ct-point {
  stroke-width: 8px; }

.ct-series-a .ct-line {
  stroke: #428bca; }

.ct-series-a .ct-area {
  fill: #428bca; }

.ct-series-a .ct-point {
  stroke: #428bca; }

.ct-series-a .ct-bar {
  stroke: #428bca; }

.ct-label {
  font-size: 12px; }

.series .title {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color: #5A5A5A;
  text-align: left; }

.series .value {
  width: 100%;
  padding: 10px;
  padding-left: 0px;
  font-size: 24px;
  font-weight: bold;
  color: #5A5A5A;
  text-align: left; }

.series {
  border-style: solid;
  border-width: 1px;
  border-color: #f0f0f0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  background-color: #FFFFFF;
  margin-bottom: 30px; }

.action-view .ts {
  margin-right: -15px;
  margin-left: -15px; }

.action-view > .urls > .description {
  padding-top: 10px;
  padding-bottom: 20px; }

.domain-chart-svg text {
  fill: #000; }

.green {
  color: green; }

.red {
  color: red; }

body > .container {
  margin-left: 340px; }

body.hide-select > aside > .selectbar, body.hide-select > aside > .heading {
  display: none; }

body.hide-select > .container {
  margin-left: 70px; }

body.hide-top .topbar, body.hide-top .page-header {
  display: none; }

body.hide-top {
  padding-top: 0px; }

.bar-row-header text {
  font-size: 13px;
  font-weight: bold; }

.bar-row text {
  display: inline-block; }

svg.svg-cloud {
  font-size: 10px;
  font-family: helvetica; }

svg.svg-cloud text {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.node {
  stroke: #fff;
  stroke-width: 1.5px; }

.link {
  stroke: #999;
  stroke-opacity: .6; }

svg.bubble-chart {
  fill: black; }

.bubble-chart .node {
  stroke: none; }

.table-title {
  color: #333;
  font-weight: bold;
  font-size: 13px;
  padding-top: 10px;
  margin-left: -15px;
  margin-right: -15px; }

polyline {
  opacity: .3;
  stroke: black;
  stroke-width: 1px;
  fill: none; }

.row.pie {
  margin-top: -10px;
  margin-bottom: -20px;
  font-size: 11px; }

.data-version-buttons a {
  border-radius: 0 !important; }

.data-version-buttons a:not(:first-child) {
  border-left: none !important; }

.data-version-buttons a:first-child {
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important; }

.data-version-buttons a:last-child {
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important; }

.data-version-buttons a:hover {
  background-color: #FDFDFF; }

.data-version-buttons a.active,
.data-version-buttons a.active:hover {
  background-color: #F4F8FA;
  box-shadow: inset 0 1px 1px 0 rgba(35, 35, 35, 0.03);
  color: #555; }

.info-popup {
  position: fixed;
  margin-top: 25px;
  width: 200px;
  background-color: #fff;
  box-shadow: 0 0 25px 3px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  line-height: 22px;
  cursor: default;
  border-radius: 3px; }
  .info-popup h3 {
    color: #222c36;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: solid 1px #EEE;
    margin-bottom: 0px;
    padding: 20px;
    text-align: center; }
  .info-popup p {
    padding: 20px 20px 20px 20px;
    margin: 0; }
  .info-popup .info-popup-close {
    display: inline-block;
    padding: 3px 12px;
    background-color: #5084b2;
    font-weight: bold;
    color: #fff;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 11px;
    margin: 0px 20px 20px 70px;
    cursor: pointer; }

.info-popup {
  position: fixed;
  background: #fff; }

.info-popup:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 15px;
  margin-left: -15px; }

.btn.export {
  background-color: #50b2af;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  border: none; }

.vendor-histogram {
  overflow: inherit !important; }

.w-tab-content {
  position: relative;
  display: block;
  overflow: hidden; }

.codepeek_content {
  width: 50%;
  float: left; }

.window {
  display: block;
  border-radius: 4px; }

.window.window-dark {
  background-color: #343b4a;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px; }

.window_bar {
  font-size: 14px;
  line-height: 21px;
  height: 30px;
  padding-top: 5px;
  padding-left: 10px;
  border-bottom: 1px solid #e8e8e8;
  text-align: left; }

.window_bar.window_bar-dark {
  border-bottom-color: rgba(255, 255, 255, 0.2); }

.window_bar_button {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 5px;
  border: 1px solid #e2e2e2;
  border-radius: 100%; }

.window_bar_button.window_bar_button-dark {
  border-color: rgba(255, 255, 255, 0.2); }

.codedemo {
  padding: 25px; }

.codedemo_text {
  width: 100%;
  float: left;
  font-family: Inconsolata, monospace;
  color: white;
  font-size: 13px;
  line-height: 20px; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

/* Highlight.js Theme */
.hljs-comment {
  color: #999999; }

.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #f2777a; }

.hljs-number,
.hljs-preprocessor,
.hljs-pragma,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #fc8181; }

.ruby .hljs-class .hljs-title,
.css .hljs-rule .hljs-attribute {
  color: #ffcc66; }

.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.hljs-name,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #52a4de; }

.hljs-title,
.css .hljs-hexcolor {
  color: #66cccc; }

.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #6699cc; }

.hljs-keyword,
.javascript .hljs-function {
  color: #FFF09A; }

.onwhite .hljs-keyword {
  color: #3EBD22; }

.hljs {
  display: block;
  overflow-x: auto;
  color: #EFEFEF;
  -webkit-text-size-adjust: none;
  white-space: pre-wrap; }

.hljs.onwhite {
  color: #444; }

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5; }

pre {
  background-color: transparent;
  border: 0px; }

.section_subtitle {
  display: block;
  width: 420px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  font-family: 'Open Sans', sans-serif;
  color: #525252;
  font-size: 16px;
  line-height: 24px;
  text-align: center; }

.section_title {
  margin-bottom: 30px;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  font-family: 'Open Sans', sans-serif; }

.section_sep {
  display: block;
  width: 80px;
  height: 2px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  border-radius: 3px;
  background-color: #dedede; }

.codepeek_text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #797979;
  line-height: 23px; }

.codepeek_text a {
  color: #525252;
  font-weight: 600;
  text-decoration: underline; }

.validated .pricing_summary.grey_row {
  text-align: left;
  font-size: 14px;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
  color: #ababab; }

.envelope.btn-env {
  box-shadow: none; }

body.dark .container {
  background-color: #40495c; }
body.dark .section-dark-top {
  background-image: linear-gradient(315deg, #192a39, #2f3f4c); }
  body.dark .section-dark-top .top-text {
    font-size: 38px;
    line-height: 44px;
    margin-top: 70px;
    margin-bottom: 30px;
    font-family: Ubuntu, Helvetica, sans-serif;
    color: white;
    font-weight: 300;
    text-align: center; }
  body.dark .section-dark-top .top-subtext {
    display: block;
    width: inherit;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
    color: white;
    font-size: 17px;
    line-height: 29px;
    font-weight: 300;
    text-align: center; }

.pricingtable {
  margin-top: 0px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  display: block; }
  .pricingtable .pricingtable_row {
    position: relative;
    margin-bottom: 60px;
    border-radius: 4px;
    background-color: white;
    box-shadow: #cfcfcf 0px 1px 3px 0px;
    font-family: 'Open Sans', sans-serif; }
    .pricingtable .pricingtable_row .pricingtable_ribbon {
      position: absolute;
      top: 42px;
      right: -40px;
      width: 220px;
      padding-top: 5px;
      padding-bottom: 5px;
      background-color: #fc8181;
      box-shadow: none;
      -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
      transform: rotate(40deg);
      color: white;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase; }
    .pricingtable .pricingtable_row .pricingtable_ribbon_pre {
      position: absolute;
      top: 30px;
      right: -68px;
      width: 220px;
      -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
      transform: rotate(40deg);
      color: #fc8181;
      font-size: 13px;
      font-weight: 400;
      text-align: center;
      letter-spacing: 0px;
      text-transform: none; }
    .pricingtable .pricingtable_row h2 {
      font-size: 32px;
      line-height: 36px;
      font-weight: 300; }
    .pricingtable .pricingtable_row p {
      color: #797979;
      font-weight: 300; }
    .pricingtable .pricingtable_row .pricingtable_text {
      font: normal normal 300 normal 15px / 26px 'Open Sans', sans-serif; }
    .pricingtable .pricingtable_row .pricingtable_column-centerx {
      border-right: 1px solid #f3f3f3;
      border-left: 1px solid #f3f3f3; }
    .pricingtable .pricingtable_row .pricingtable_column {
      padding: 70px 0px 30px;
      text-align: center;
      font-size: 14px; }
    .pricingtable .pricingtable_row .pricingtable_column.pricingtable_column-center {
      overflow-x: hidden;
      overflow-y: hidden;
      margin-top: -27px;
      margin-bottom: -40px;
      padding-top: 95px;
      padding-bottom: 30px;
      border: 0px solid #ececec;
      border-radius: 4px;
      background-color: white;
      box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 6px 0px; }
      .pricingtable .pricingtable_row .pricingtable_column.pricingtable_column-center .pricingtable_price {
        margin-top: 0px;
        padding-top: 0px;
        border: 0px; }
    .pricingtable .pricingtable_row .button.button-blue {
      background-color: #52a4de;
      -webkit-transition: background-color 200ms ease;
      transition: background-color 200ms ease; }
    .pricingtable .pricingtable_row .w-button {
      display: inline-block;
      padding: 9px 15px;
      background-color: #3898EC;
      color: white;
      border: 0;
      line-height: inherit;
      text-decoration: none;
      cursor: pointer;
      border-radius: 0; }
    .pricingtable .pricingtable_row .button {
      padding: 9px 25px 8px;
      border-radius: 4px;
      background-color: #2e2e2e;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
      font-family: 'Open Sans', sans-serif;
      color: white;
      font-size: 13px;
      font-weight: 700;
      letter-spacing: 1px;
      text-decoration: none;
      text-transform: uppercase; }
    .pricingtable .pricingtable_row .pricingtable_trialtext.teaser {
      margin-top: 30px;
      border-top: 1px dashed #e7e7e7;
      padding-top: 15px;
      margin-bottom: 0px;
      font-size: 12.6px;
      color: #999;
      font-weight: 400; }
  .pricingtable .pricingtable_title {
    margin-top: 0px;
    margin-bottom: 10px; }
  .pricingtable .pricingtable_streamer {
    margin-top: 10px;
    margin-bottom: 0px; }
  .pricingtable .pricingtable_text {
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 20px;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    font-weight: normal; }
  .pricingtable .pricingtable_streamer_column-title {
    text-align: center; }
  .pricingtable .pricingtable_price {
    margin-top: 40px;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 0px;
    border-top: 1px dashed #e7e7e7;
    color: #3e9acf;
    font-size: 23px;
    line-height: 35px;
    font-weight: 600; }
  .pricingtable .pricingtable_price.pricingtable_price-linethrough {
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 0px;
    color: #3e9acf;
    font-weight: 600; }
  .pricingtable .pricingtable_price.pricingtable_price-bold {
    margin-top: 30px;
    border-top-width: 1px;
    font-size: 30px;
    line-height: 42px;
    font-weight: 600; }
  .pricingtable .pricingtable_streamer_column-cta {
    text-align: center; }
  .pricingtable .pricingtable_streamer_column-cta.pricingtable_streamer_column-cta-padded {
    padding-top: 30px; }
  .pricingtable .pricingtable_trialtext {
    margin-bottom: 20px;
    color: #3e9acf;
    font-size: 15px;
    font-weight: 400; }
  .pricingtable .pricingtable_icon {
    margin-bottom: 20px; }
  .pricingtable .pricingtable_freeforever {
    position: absolute;
    left: 50%;
    top: 175px;
    z-index: 7;
    width: 140%;
    border: 5px solid #46ab55;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.87);
    -webkit-transform: translate(-50%, 0px) rotate(-3deg);
    -ms-transform: translate(-50%, 0px) rotate(-3deg);
    transform: translate(-50%, 0px) rotate(-3deg); }
  .pricingtable .ricingtable_freeforever_text {
    margin: 20px;
    color: #46ab55;
    font-size: 30px;
    font-weight: 500; }
  .pricingtable .pricingtable_freeforever_bold {
    font-size: 40px; }
  .pricingtable .pricingfeatures_text {
    display: inline-block;
    color: #a6a6a6;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 21px; }
  .pricingtable .pricingfeatures_text.pricingfeatures_text-unavailable {
    text-decoration: line-through;
    opacity: .8;
    padding-left: 30px;
    line-height: 32px; }
  .pricingtable li.pricingfeatures_item {
    list-style-type: none; }
  .pricingtable .pricingfeatures_checkmark {
    position: relative;
    top: -2px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px; }

.envelope {
  position: relative;
  z-index: 2;
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 650px;
  margin: -15px auto;
  padding-bottom: 40px;
  border-radius: 4px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px; }
  .envelope .envelope_gradient {
    display: block;
    height: 8px;
    background-color: #fc8181;
    background-image: -webkit-linear-gradient(135deg, #fc8181, #4cc6e6 97%);
    background-image: linear-gradient(315deg, #fc8181, #4cc6e6 97%); }
  .envelope .envelope_title {
    margin-top: 40px;
    margin-bottom: 40px;
    color: #40495c;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 30px; }
  .envelope .w-form {
    margin: 0 0 15px; }
  .envelope .envelope_form {
    margin-right: 100px;
    margin-left: 100px;
    text-align: center; }
  .envelope .form_input {
    height: 50px;
    padding-right: 15px;
    padding-left: 15px;
    border-color: #e5e5e5;
    border-radius: 4px; }
  .envelope .w-input, .envelope .w-select {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc; }
  .envelope .form_button {
    margin-top: 40px; }
  .envelope .button.button-blue {
    background-color: #52a4de;
    -webkit-transition: background-color 200ms ease;
    transition: background-color 200ms ease; }
  .envelope input.w-button {
    -webkit-appearance: button; }
  .envelope .w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898EC;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0; }
  .envelope .button {
    padding: 9px 25px 8px;
    border-radius: 4px;
    background-color: #2e2e2e;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    text-transform: uppercase; }
  .envelope .pricing_summary {
    margin-top: -20px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px dashed #e7e7e7;
    color: #3e9acf;
    font-size: 23px;
    line-height: 35px;
    font-weight: 600; }

.hist-row {
  line-height: 0px;
  max-height: 45px;
  overflow: hidden;
  margin-bottom: 2px; }
  .hist-row .hist-item {
    width: 14px;
    height: 14px;
    margin-top: 1px;
    margin-right: 1px;
    display: inline-block;
    background-color: steelblue; }

body > .tooltip {
  opacity: 1; }

body > .rhs {
  padding: 20px;
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100%;
  /*background: grey;*/ }

.site-details h3 {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  color: #888;
  letter-spacing: .05em; }

.site-details .item {
  width: 100%;
  line-height: 20px;
  min-height: 20px;
  overflow-x: scroll; }
  .site-details .item a {
    line-height: 18px;
    width: calc(100% - 90px);
    display: inline-block;
    word-break: break-all; }
  .site-details .item span {
    vertical-align: top;
    font-weight: bold;
    width: 80px;
    display: inline-block; }

.selectbar h5 a {
  padding: 0 0 0 10px;
  height: 100%; }

.page_tabs_item {
  padding: 20px 30px;
  display: inline-block;
  border-right: solid 1px #f0f0f0;
  cursor: pointer; }

.page_tabs_item.active {
  background-color: #FFF;
  font-weight: bold; }

.max-width-330 {
  width: 330px; }
  .max-width-330 .bar.series.views {
    min-height: 305px; }

.action-view-wrapper .heading {
  margin-top: -85px !important; }

.page-header-controls {
  display: inline-block;
  float: right;
  padding: 10px 15px 8px 15px;
  border: solid 2px;
  line-height: 14px;
  border-radius: 21px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0 0 30px 0;
  border-color: #AAA;
  color: #AAA;
  cursor: pointer; }

.page-header-controls:hover {
  border-color: #888;
  color: #888; }

body.hide-select aside .heading {
  display: none; }

body.hide-top .topbar, body.hide-top .page-header {
  display: none; }

body.hide-top {
  padding-top: 0px; }

body.hide-top.hide-select .pixel-description, body.hide-top.hide-select .vendor-name-column {
  display: none; }
body.hide-top.hide-select .container, body.hide-top.hide-select .vendors-list-card {
  padding: 0px; }

.vendor-domains-table .table_head_row {
  display: none; }

.segments-list-wrapper {
  width: 300px;
  float: left; }

.segments-list {
  width: 300px;
  outline: solid 1px #f0f0f0; }
  .segments-list input {
    width: 300px;
    display: inline-block;
    margin: 0;
    padding: 15px;
    border: none;
    outline: none; }
  .segments-list input:first-child {
    border-bottom: dashed 1px #f0f0f0; }
  .segments-list select {
    width: 300px;
    outline: none;
    border: none;
    background: #FFF;
    height: 45px;
    cursor: pointer; }

.segments-list-save {
  margin-top: 10px; }

.comparison-columns {
  text-align: center;
  background-color: #FFF; }
  .comparison-columns .loading-icon {
    padding: 20px;
    display: none;
    position: relative;
    top: -210px; }

.loading-comparison header {
  background: #FFF !important;
  -webkit-transition: background-color .3s, -webkit-transform .3s;
  transition: background-color .3s, transform .3s; }
.loading-comparison .comparison-svg {
  display: none; }

.loading-comparison.comparison-columns {
  height: 0; }
  .loading-comparison.comparison-columns .loading-icon {
    display: block !important; }
  .loading-comparison.comparison-columns .comparison-column {
    display: none; }

.comparison-column {
  width: 400px;
  min-height: 50px;
  display: inline-block;
  background-color: #FFF; }

.bar-series.comparison {
  padding: 0; }
  .bar-series.comparison .title, .bar-series.comparison .value, .bar-series.comparison .description {
    display: none; }

.action-tabs .tabs a {
  width: 16.666667%; }

/*
    Create Action
  */
section.search_wrapper {
  position: relative;
  margin-top: 30px;
  overflow: auto; }

section.search_wrapper img.search_loading_indicator {
  top: 20px;
  right: 215px;
  position: absolute;
  opacity: .4;
  display: none; }

section.search_wrapper input[type="text"].search_input {
  width: calc(100% - 200px);
  outline: none;
  padding: 16px 16px 17px 16px;
  border: none;
  box-sizing: border-box;
  font-size: 18px;
  float: left; }

section.search_wrapper div.create_action {
  padding: 18px;
  border: none;
  width: 200px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #FFF;
  outline: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  float: right; }

ol.filters {
  padding: 0;
  margin-top: 50px;
  overflow: auto; }

ol.filters li {
  width: 25%;
  float: left;
  background-color: #FFF;
  box-sizing: border-box;
  padding: 15px 25px;
  background-color: #f8f8f8;
  cursor: pointer;
  border: none;
  color: #a9a9a9; }

ol.filters li:hover {
  background-color: #FCFCFC; }

ol.filters li.active {
  background-color: #FFF;
  color: #333333;
  opacity: 1;
  border: solid 1px #f0f0f0; }

ol.filters li h3 {
  font-weight: bold;
  font-size: 14px; }

section.matched_domains_wrapper {
  margin-top: 50px;
  text-align: left; }

section.matched_domains_wrapper h3.matched_domains_title {
  font-size: 14px;
  font-weight: bold; }

ol.matched_domains {
  padding: 0; }

ol.matched_domains li {
  list-style-type: none;
  padding: 15px 0;
  /*border-top: solid 1px #eaeaea;*/ }

ol.matched_domains_loading {
  padding: 0; }

ol.matched_domains_loading li {
  list-style-type: none;
  padding: 15px 0;
  height: 30px;
  background-color: #f6f6f6;
  margin-top: 15px; }

ol.matched_domains_loading li:nth-child(3) {
  opacity: .8; }

ol.matched_domains_loading li:nth-child(4) {
  opacity: .6; }

ol.matched_domains_loading li:nth-child(5) {
  opacity: .4; }

ol.matched_domains_loading li:nth-child(6) {
  opacity: .2; }

ol.matched_domains li span.url {
  display: inline-block;
  width: calc(100% - 150px);
  /*font-size: 16px;*/ }

ol.matched_domains li span.url strong {
  font-size: 1.2em; }

ol.matched_domains li div.importance_wrapper {
  display: inline-block;
  margin-right: 20px; }

ol.matched_domains li span.visits {
  float: right;
  margin-right: 10px; }

.action-full_url table {
  margin-top: 15px; }

/*
  Progress Indicator
*/
.progress-indicator {
  position: relative;
  width: 500px;
  margin: 80px auto 40px auto; }

.progress-indicator hr {
  border-top: solid 2px #CCC;
  width: 50%; }

.progress-indicator hr:nth-child(1) {
  margin: 0 0 0 25%;
  float: left; }

.progress-indicator hr:nth-child(2) {
  margin: 0 25% 0 0;
  float: right; }

.progress-indicator ol {
  margin: 0;
  padding: 0; }

.progress-indicator ol li {
  display: inline-block;
  width: 50%;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  color: #AAA;
  font-weight: bold;
  letter-spacing: .03em;
  padding-top: 20px; }

.progress-indicator ol li .bullet {
  border: solid 2px #CCC;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  top: -4px;
  background-color: #f8f8f8; }

.progress-indicator ol li:nth-child(1) .bullet {
  left: calc(25% - 4px); }

.progress-indicator ol li:nth-child(2) .bullet {
  right: calc(25% - 4px); }

.progress-indicator ol li .bullet.active {
  border-color: #192a39; }

.progress-indicator[data-step="2"] hr:first-child,
.progress-indicator[data-step="3"] hr {
  border-color: #192a39; }

.progress-indicator[data-step="2"] li:nth-child(1) .bullet.active,
.progress-indicator[data-step="3"] li:nth-child(1) .bullet.active,
.progress-indicator[data-step="3"] li:nth-child(2) .bullet.active {
  background-color: #192a39; }

.progress-indicator[data-step="1"] li:nth-child(1) span,
.progress-indicator[data-step="2"] li:nth-child(1) span,
.progress-indicator[data-step="2"] li:nth-child(2) span,
.progress-indicator[data-step="3"] li:nth-child(1) span,
.progress-indicator[data-step="3"] li:nth-child(2) span,
.progress-indicator[data-step="3"] li:nth-child(3) span {
  color: #192a39; }

/*
  Getting Started
*/
.gettingstarted-step {
  transform: translate(-50%);
  left: 50%; }

.gettingstarted-step h3 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 0; }

.url-check-row {
  overflow: auto; }

.url-check-row span {
  float: left;
  line-height: 40px; }

.url-check {
  width: calc(100% - 100px);
  float: right;
  padding: 10px;
  box-sizing: border-box; }

/*
  Table view
*/
section.vendors-list-table {
  margin-left: 10px;
  padding: 30px;
  width: calc(100% - 30px);
  box-sizing: border-box;
  display: table;
  padding-right: 140px; }
  section.vendors-list-table .vendor-card-title {
    position: absolute; }
  section.vendors-list-table .vendor-loading {
    position: absolute;
    bottom: 20px; }
  section.vendors-list-table div.vendors-header-row {
    height: 170px;
    margin-top: -50px;
    display: table-row; }
    section.vendors-list-table div.vendors-header-row div.vendor-title {
      display: inline-block;
      width: 100px;
      text-transform: uppercase;
      line-height: 46px;
      border-bottom: 1px solid #ccc;
      display: table-cell;
      vertical-align: bottom; }
    section.vendors-list-table div.vendors-header-row div.timeseries-header-item {
      display: inline-block;
      line-height: 46px;
      border-bottom: 1px solid #ccc;
      display: table-cell;
      vertical-align: bottom;
      width: 80px;
      text-align: center;
      text-transform: uppercase;
      font-size: .9em;
      display: table-cell; }
  section.vendors-list-table div.vendor-category-header-item {
    position: relative;
    width: 50px;
    height: 150px;
    display: table-cell; }
    section.vendors-list-table div.vendor-category-header-item span {
      transform: rotate(-45deg);
      display: block;
      position: absolute;
      bottom: 50px;
      width: 155px;
      text-transform: uppercase;
      font-size: .85em;
      font-weight: normal;
      border-bottom: solid 1px #DDD;
      line-height: 30px;
      right: -120px; }
  section.vendors-list-table .vendors-row {
    display: table-row; }
    section.vendors-list-table .vendors-row div.vendor-column {
      text-align: center;
      text-transform: capitalize;
      border-bottom: 1px solid #ddd;
      line-height: 50px;
      display: table-cell; }
    section.vendors-list-table .vendors-row div.vendor-column:first-child {
      font-size: 13px;
      width: 120px;
      text-align: left;
      font-weight: bold; }
    section.vendors-list-table .vendors-row div.vendor-column:not(:first-child) {
      display: inline-block;
      width: 80px;
      display: table-cell; }
    section.vendors-list-table .vendors-row .vendor-column-item {
      position: relative;
      display: inline-block;
      display: table-cell;
      width: 50px;
      line-height: 50px;
      text-align: center;
      border-bottom: 1px solid #fbfbfb;
      border-right: 1px solid #fbfbfb; }

section.vendors-list-table.show-loading {
  padding-bottom: 60px !important; }

.vendor-histogram {
  overflow: inherit !important; }

/*
  Expanded View
*/
ul.vendors-list {
  padding: 0;
  margin: 0; }
  ul.vendors-list .vendor-onsite-column > div:first-of-type {
    padding: 0; }
  ul.vendors-list > li.vendors-list-item:first-child {
    border-top: none; }
  ul.vendors-list > li.vendors-list-item {
    list-style-type: none;
    padding: 20px 0;
    overflow: auto;
    min-height: 110px; }
    ul.vendors-list > li.vendors-list-item div.vendor-name-column div.vendor-name {
      margin-bottom: 10px;
      cursor: pointer; }
      ul.vendors-list > li.vendors-list-item div.vendor-name-column div.vendor-name h2 {
        margin: 0;
        text-transform: capitalize;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #5A5A5A; }
    ul.vendors-list > li.vendors-list-item div.vendor-name-column div.vendor-name:hover {
      text-decoration: underline; }
    ul.vendors-list > li.vendors-list-item div.vendor-name-column ul.vendor-navigation-list {
      padding: 0; }
      ul.vendors-list > li.vendors-list-item div.vendor-name-column ul.vendor-navigation-list li {
        list-style-type: none;
        line-height: 28px; }
    ul.vendors-list > li.vendors-list-item h3 {
      margin: 0;
      font-weight: bold;
      font-size: 14px;
      line-height: 22px;
      text-transform: uppercase;
      color: #888;
      letter-spacing: .05em; }
    ul.vendors-list > li.vendors-list-item h4 {
      color: #5A5A5A;
      font-size: 24px;
      font-weight: bold; }
    ul.vendors-list > li.vendors-list-item div.vendor-onsite-column h4 {
      margin: 0 0 15px 0;
      font-size: 14px; }
    ul.vendors-list > li.vendors-list-item p.chart-description {
      margin-bottom: 10px;
      padding-top: 13px; }
    ul.vendors-list > li.vendors-list-item .vendor-domains-pie {
      position: relative;
      left: 50%;
      margin-left: -110px; }
    ul.vendors-list > li.vendors-list-item .coming-soon-box {
      border: dashed 2px #CCC;
      text-align: center;
      line-height: 220px;
      min-width: 220px;
      max-width: 330px;
      margin-top: 12px;
      font-weight: bold;
      font-size: 14px;
      color: #CCC; }
    ul.vendors-list > li.vendors-list-item .vendor-loading {
      line-height: 200px;
      text-align: center; }
      ul.vendors-list > li.vendors-list-item .vendor-loading img {
        width: 16px;
        margin-right: 5px; }
    ul.vendors-list > li.vendors-list-item .vendor-views-column svg text {
      fill: #000 !important; }

@media only screen and (max-width: 800px) {
  .vendor-category-header-item:nth-child(n+10) {
    display: none !important; }

  .vendor-column-item:nth-child(n+10) {
    display: none !important; } }
@media only screen and (max-width: 1400px) {
  .vendor-category-header-item:nth-child(n+16) {
    display: none !important; }

  .vendor-column-item:nth-child(n+16) {
    display: none !important; } }
div.table_pagination {
  display: inline-block;
  border: solid 1px #ccc; }
  div.table_pagination div.pagination_button {
    display: inline-block;
    padding: 0 15px;
    min-width: 40px;
    line-height: 40px;
    text-align: center;
    border-right: solid 1px #ccc;
    cursor: pointer;
    color: #777; }
    div.table_pagination div.pagination_button strong {
      color: #000; }
  div.table_pagination div.pagination_button:last-child {
    border-right: none; }

.info-popup {
  position: fixed;
  margin-top: 25px;
  width: 200px;
  background-color: #fff;
  box-shadow: 0 0 25px 3px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  line-height: 22px;
  cursor: default;
  border-radius: 3px; }
  .info-popup h3 {
    color: #222c36;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: solid 1px #EEE;
    margin-bottom: 0;
    padding: 20px;
    text-align: center; }
  .info-popup p {
    padding: 20px;
    margin: 0; }
  .info-popup .info-popup-close {
    display: inline-block;
    padding: 3px 12px;
    background-color: #5084b2;
    font-weight: bold;
    color: #fff;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 11px;
    margin: 0 20px 20px 70px;
    cursor: pointer; }

.info-popup:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 15px;
  margin-left: -15px; }

.row.pie {
  margin-top: -10px;
  margin-bottom: -20px;
  font-size: 11px; }

polyline {
  opacity: 0.3;
  stroke: black;
  stroke-width: 1px;
  fill: none; }

.action-view .ts {
  margin-right: -15px;
  margin-left: -15px; }

.action-view > .urls > .description {
  padding-top: 10px;
  padding-bottom: 20px; }

.domain-chart-svg text {
  fill: #000; }

.green {
  color: green; }

.red {
  color: red; }

.axis {
  opacity: 0.4; }

.axis line,
.axis path {
  fill: none;
  shape-rendering: crispEdges; }

.y.axis .tick line {
  stroke-dasharray: 2;
  stroke: #333333; }

.y.axis .domain {
  stroke: none; }

.x.axis path {
  display: none; }

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px; }

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px; }

.area {
  fill-opacity: 0.5;
  fill: lightsteelblue; }

.btn.export {
  background-color: #50b2af;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  border: none; }

/*# sourceMappingURL=style.css.map */
