.table-wrapper tr { height:33px}
.table-wrapper tr th { border-right:1px dotted #ccc } 
.table-wrapper tr th:last-of-type { border-right:none } 

.table-wrapper tr { border-bottom:1px solid #ddd }
.table-wrapper tr th, .table-wrapper tr td { 
  padding-left:10px;
  max-width:200px
}

.table-wrapper thead tr { 
  background-color:#e3ebf0;
}
.table-wrapper thead tr th .title { 
  text-transform:uppercase
}
.table-wrapper tbody tr { 
}
.table-wrapper tbody tr:hover { 
  background-color:white;
  background-color:#f9f9fb
}
