<link rel="stylesheet" type="text/css" href="http://rockerbox.com/css/dc.css">
<script type="text/javascript" src="http://rockerbox.com/js/d3.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/crossfilter.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/dc.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/colorbrewer.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/reporting.js"></script>

<style>
/*.dataTables_wrapper{margin-left: 200; margin-right: 200;}*/
.content{margin-left: 400; margin-right: 400;}
</style>

<div class="content">
<h1>Table types:</h1>
<ul>
	{% for link in links %}
		<li><a href="/analysis?type={{ link }}">{{ link }}</a></li>
	{% end %}
</ul>
</div>