{% extends ../clean_base.html %}

{% block content %}

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css">

<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>

<script>
$(document).ready( function () {
    $('.dataframe').dataTable( {
        "pageLength": 20,
        "order": [ 1, 'asc' ],
        "dom": 'T<"clear">lfrtip',
        "tableTools": {
            "sSwfPath": "/static/copy_csv_xls_pdf.swf"
        }
    });
} );
</script>

<style>
.page{
    margin: auto;
    width: 1000px;
}
</style>

<div class="page">
{% raw data %}
</div>
{% end %}
