{% extends "analysis_base.html" %}



{% block stuff %}
<script type="text/javascript" language="javascript" src="http://cdn.datatables.net/tabletools/2.2.2/js/dataTables.tableTools.js"></script>
<link rel="stylesheet"  type="text/css" href="http://cdn.datatables.net/tabletools/2.2.2/css/dataTables.tableTools.css"></script>
<div class="table_wrapper">
<a href="/analysis">Back to Index</a>

<script>
$(document).ready( function () {
    $('.dataframe').dataTable( {
        "pageLength": 20,
        "order": [ 1, 'asc' ],
        "dom": 'T<"clear">lfrtip',
        "tableTools": {
            "sSwfPath": "/static/copy_csv_xls_pdf.swf"
        }       
    });   
} );
</script>

<h1>{{ name }}</h1>

<form>
Segments (comma separated): <input type="text" name="query" size=50></input><input type="submit" value="Submit">
</form> 

{% raw stuff %}

{% end %}
