{% autoescape None %}<!doctype html>
<html>
<head>
  <title>Crusher</title>{% block scripts_top %}{% end %}
  <script type="text/javascript">
    window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var n=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(n?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var o=document.getElementsByTagName("script")[0];o.parentNode.insertBefore(a,o);for(var r=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["clearEventProperties","identify","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=r(p[c])};

    var user_type = document.cookie.split("user_type=")[1].split(";")[0];
    switch(user_type) {
      case 'rockerbox':
        heap.load("3611187932");
        break;
      case 'client':
        heap.load("1793449886");
        break;
    }
  </script>
  <!-- Rockerbox - Rockerbox - Logged In Segment -->
  <script src="https://getrockerbox.com/pixel?source=rockerbox&type=imp&an_seg=4396443" type="text/javascript"></script>
  <!-- End of Segment Pixel -->
</head>
<body>
  {% block content %}{% end %}
  {% block scripts_bottom %}{% end %}
</body>
</html>
