{% extends "base.html" %}
{% block scripts_top %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic%7CUbuntu:300,300italic,400,400italic,500,500italic,700,700italic%7CInconsolata:400,400italic,700,700italic%7CLato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic">
<link type="text/css" rel="stylesheet" href="/static/js/chosen/chosen.min.css"/>
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css"/>
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css"/>
<link type="text/css" rel="stylesheet" href="/static/css/fonts.css"/>
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap-switch.css"/>
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap-select.css"/>

<link type="text/css" rel="stylesheet" href="/static/css/style.css"/>
<link type="text/css" rel="stylesheet" href="/static/css/font-awesome.min.css"/>

<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.7/highlight.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>

<script type="text/javascript" src="/static/js/bootstrap-select.js"></script>


<script type="text/javascript" src="/static/js/d3.js" charset="utf-8"></script>

<script type="text/javascript" src="/js/api/build/api.js"></script>
<script type="text/javascript" src="/js/state/build/state.js"></script>

<script type="text/javascript" src="/js/start/build/start.js"></script>
<script type="text/javascript" src="/js/filter/build/filter.js"></script>
<script type="text/javascript" src="/js/table/build/table.js"></script>
<script type="text/javascript" src="/js/media_plan/build/media_plan.js"></script>
<script type="text/javascript" src="/js/dashboard/build/dashboard.js"></script>
<script type="text/javascript" src="/js/tabular/build/tabular.js"></script>

<script type="text/javascript" src="/js/selectize.js/dist/js/standalone/selectize.js"></script>
<link type="text/css" rel="stylesheet" href="/js/selectize.js/dist/css/selectize.css"/>



<script type="text/javascript" src="/static/js/rockerbox/crusher/sidebar.js"></script>

<!--
<script type="text/javascript" src="/static/js/rockerbox/routes/routes.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/routes/routes.navigation.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/menu/menu.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/menu/menu.navbar.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/menu/menu.selectbar.js"></script>
-->

<script type="text/javascript" src="/static/js/rockerbox/helper.js"></script>






<script type="text/javascript">
  /*
    Google analytics
  */
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50457693-2', 'auto');
  ga('send', 'pageview');
</script>
{% end %}
{% block scripts_bottom %}{% end %}
{% block content %}
<div class="hidden" style="position:fixed;width:200px;top:0px;left:0px;height:100%;background:black">
  <div class="row col-md-12">
    <a href="/crusher/funnel/action?source=baublebar">Action</a>
  </div>
  <div class="row col-md-12">
    <a href="/crusher/funnel?source=baublebar">Funnel</a>
  </div>
</div>
<div class="container" style="width:inherit;padding-top:0px"></div>
<style>
.scrollbox {
  /*border-top:1px solid #ccc;*/
  padding-top:12px;
  padding-left:5px;
}

.scrollbox:first-of-type {
  /*border-right:1px solid #ccc;*/
}

.inner > select, .inner > input {
  height: 36px;
  vertical-align:top
}
.selectize-control.multi {
  display: inline-block
}
.selectize-dropdown.multi {
  padding:5px;
}
</style>

<style>

  .ba-row .table-wrapper tr th {
    padding-top:20px
  }

  .ba-row .table-wrapper tr.expanded th {
    padding-top:0px
  }
  .timing-row .table-wrapper tr.expanded th, .ba-row .table-wrapper tr.expanded th, .ba-row .table-wrapper tr.expanded td  {
    width:31px;
    max-width:200px
  }

  .expanded thead tr {
    height:28px;
    background:none
  }

  .expanded .table-wrapper tr { height:28px }

  .timing-row .table-wrapper tr th, .timing-row .table-wrapper tr td, .ba-row .table-wrapper tr th, .ba-row .table-wrapper tr td  {
    width:31px;
    max-width:31px
  }

  
  .timing-row .table-wrapper tr th:first-of-type, .ba-row .table-wrapper tr th:first-of-type, .ba-row .table-wrapper tr td:first-of-type {
    width:300px;
  }

  .dash-row > div {
    display: inline-block;
    width: 50%;
    padding: 0px 10px 10px; 
    background-color: rgb(227, 235, 240);
  }
  .dash-row > div > h3 {
    font-size: 12px;
    color: rgb(51, 51, 51);
    line-height: 33px;
    background-color: rgb(227, 235, 240);
    margin-left: -10px;
    margin-bottom: 10px;
    padding-left: 10px;
    margin-top: 0px;
    font-weight: bold;
    text-transform: uppercase;
    
  }

  .inner .header-wrap, .inner select { flex: 1}

  .head-wrap {
    height: 150px;
    border-bottom:1px solid #ddd
  }
  body {
    padding-top:0px;
  }
  body > .container {
    margin-left: 0px;
  }
  .body-wrap {
    overflow:hidden
  }
  .head-wrap .item, .body-wrap .item {
    display:table-cell;
    width:50px;
    height:50px;
    position:relative;
    vertical-align:top
  }

  .head-wrap .item {
    display:table-cell;
    width:50px;
    height:150px;
    position:relative
  }

  .tabular-wrapper {
    width:900px
  }

  .head-wrap .item span {
    transform: rotate(-45deg);
    display: block;
    position: absolute;
    bottom: 50px;
    width: 155px;
    text-transform: uppercase;
    font-size: .85em;
    font-weight: normal;
    border-bottom: solid 1px #DDD;
    line-height: 30px;
    right: -120px;
  }
  .versus {

    margin-top:10px;
    margin-right:10px;
    display:inline-block;

    padding:10px;
    border-radius:10px;
    border: 1px solid #ccc;
  }
  a.versus:hover {
    text-decoration:none;

  }

  .versus.selected, .square.selected {
    background-color:white
  }

  .axis { opacity:.7 }
</style>
<script>
(function() {


  //RB.menu.routes.roots = [
  //    {
  //      "name": "Filter",
  //      "push_state": "/crusher/dashboard",
  //      "class": "glyphicon glyphicon-filter",
  //    }, {
  //      "name": "Compare",
  //      "push_state": "/crusher/comparison",
  //      "class": "glyphicon glyphicon-th",
  //    }, {
  //      "name": "Create Segment",
  //      "push_state": "/crusher/action/recommended",
  //      "class": "glyphicon glyphicon-plus",
  //    }, {
  //      "name": "Settings",
  //      "push_state": "/crusher/settings",
  //      "class": "glyphicon glyphicon-cog"
  //    }
  //  ]
  //RB.menu.render(d3.select("body"),true)

  var centered = d3_updateable(d3.select(".container"),"div","div")
    .style("width","1000px")
    .style("margin-left","auto")
    .style("margin-right","auto")

  var deepcopy = function(x) {
    return JSON.parse(JSON.stringify(x))
  } 

  function buildCategories(value) {
    var categories = d3.nest()
      .key(function(x){ return x.parent_category_name})
      .rollup(function(v) {
        return v.reduce(function(p,c) { return p + c.uniques },0)
      })
      .entries(value.full_urls)

    var total = categories.reduce(function(p,c) { return p + c.values },0)

    categories.map(function(x) {
      x.value = x.values
      x.percent = x.value / total
    })

    value["display_categories"] = {
        "key":"Categories"
      , "values": categories.filter(function(x) { return x.key != "NA" })
    }
  }

  function buildCategoryHour(value) {
    var category_hour = d3.nest()
      .key(function(x){ return x.parent_category_name + x.hour + x.minute})
      .rollup(function(v) {
        return {
            "parent_category_name": v[0].parent_category_name
          , "hour": v[0].hour
          , "minute": v[0].minute 
          , "count":v.reduce(function(p,c) { return p + c.count },0)
        }
      })
      .entries(value.full_urls)
      .map(function(x) { return x.values })

    value["category_hour"] = category_hour
   
  }

  function prepareFilters(filters) {

    var mapping = {
        "Category": "parent_category_name"
      , "Title": "url"
      , "Time": "hour"
    }

    var filters = filters.filter(function(x) { return Object.keys(x).length && x.value }).map(function(z) {
      return { 
          "field": mapping[z.field]
        , "op": z.op
        , "value": z.value
      }
    })

    return filters

  }

  function buildData(data,buckets,pop_categories) {


        var times = d3.nest()
          .key(function(x) { return x.time_diff_bucket })
          .map(data.filter(function(x){ return x.parent_category_name != "" }) )

        var cats = d3.nest()
          .key(function(x) { return x.parent_category_name })
          .map(data.filter(function(x){ return x.parent_category_name != "" }) )




        var time_categories = buckets.reduce(function(p,c) { p[c] = {}; return p }, {})
        var category_times = Object.keys(cats).reduce(function(p,c) { p[c] = {}; return p }, {})


        var categories = d3.nest()
          .key(function(x) { return x.parent_category_name })
          .key(function(x) { return x.time_diff_bucket })
          .entries(data.filter(function(x){ return x.parent_category_name != "" }) )
          .map(function(row) {
            row.values.map(function(t) {
              t.percent = d3.sum(t.values,function(d){ return d.uniques})/ d3.sum(times[t.key],function(d) {return d.uniques}) 
              time_categories[t.key][row.key] = t.percent
              category_times[row.key][t.key] = t.percent

            })
            return row
          })
          .sort(function(a,b) { return ((pop_categories[b.key] || {}).normalized_pop || 0)- ((pop_categories[a.key] || {}).normalized_pop || 0) })


        var time_normalize_scales = {}

        d3.entries(time_categories).map(function(trow) {
          var values = d3.entries(trow.value).map(function(x) { return x.value })
          time_normalize_scales[trow.key] = d3.scale.linear()
            .domain([d3.min(values),d3.max(values)])
            .range([0,1])
        })

        var cat_normalize_scales = {}

        d3.entries(category_times).map(function(trow) {
          var values = d3.entries(trow.value).map(function(x) { return x.value })
          cat_normalize_scales[trow.key] = d3.scale.linear()
            .domain([d3.min(values),d3.max(values)])
            .range([0,1])
        })

        categories.map(function(p) {
          var cat = p.key
          p.values.map(function(q) {
            q.norm_cat = cat_normalize_scales[cat](q.percent)
            q.norm_time = time_normalize_scales[q.key](q.percent)

            q.score = 2*q.norm_cat/3 + q.norm_time/3
            q.score = q.norm_time

            var percent_pop = pop_categories[cat] ? pop_categories[cat].percent_pop : 0

            q.percent_diff = (q.percent - percent_pop)/percent_pop

          })
        })

        return categories
      }

  var ops = {
      "is in": function(field,value) {
          return function(x) {
            var values = value.split(",")
            return values.reduce(function(p,value) { return p + String(x[field]).indexOf(String(value)) > -1 }, 0) > 0
          } 
        }
    , "is not in": function(field,value) {
          return function(x) {
            var values = value.split(",")
            return values.reduce(function(p,value) { return p + String(x[field]).indexOf(String(value)) > -1 }, 0) == 0
          } 
        }
     , "does not contain": function(field,value) {
          return function(x) {
            var values = value.split(",")
            return values.reduce(function(p,value) { return p + String(x[field]).indexOf(String(value)) > -1 }, 0) == 0
          } 
        }
      , "contains": function(field,value) {
          return function(x) {
            var values = value.split(",")
            return values.reduce(function(p,value) { return p + String(x[field]).indexOf(String(value)) > -1 }, 0) > 0
          } 
        }
  }

  function buildDashboardLoading(value) {
      var db = dashboard.new_dashboard(centered)
          .loading(value.loading || false)
          .draw()


  }

  function buildDashboard(value) {
      var db = dashboard.new_dashboard(centered)
          .staged_filters(value.staged_filter || "")
          .saved(value.saved || [])
          .data(value.formatted_data)
          .actions(value.actions)
          .selected_action(value.selected_action || {})
          .selected_comparison(value.selected_comparison || {})
          .action_date(value.action_date || 0)
          .comparison_date(value.comparison_date || 0)
          .loading(value.loading || false)
          .line_items(value.line_items || false)
          .summary(value.summary)
          .time_summary(value.time_summary)
          .category_summary(value.category_summary)
          .keyword_summary(value.keyword_summary)
          .before(value.before_urls || [])
          .after(value.after_urls || [])
          .logic_options(value.logic_options)
          .logic_categories(value.logic_categories)
          .filters(value.filters)
          .view_options(value.dashboard_options)
          .explore_tabs(value.tabs)
          .on("add-filter", function(filter) { s.publish("filters",s.state().filters.concat(filter).filter(x => x.value) ) })
          .on("modify-filter", function(filter) { 
            var filters = s.state().filters

            var has_exisiting = filters.filter(x => (x.field + x.op) == (filter.field + filter.op) )
            
            if (has_exisiting.length) {
              var new_filters = filters.reverse().map(function(x) {
                if ((x.field == filter.field) && (x.op == filter.op)) {
                  x.value += "," + filter.value
                }
                return x
              })
              s.publish("filters",new_filters.filter(x => x.value))
            } else {
              s.publish("filters",s.state().filters.concat(filter).filter(x => x.value))
            }

          })

          .on("staged-filter.change", function(str) { s.publish("staged_filter",str ) })
          .on("action.change", function(action) { s.publish("selected_action",action) })
          .on("action_date.change", function(date) { s.publish("action_date",date) })
          .on("comparison_date.change", function(date) { s.publish("comparison_date",date) })
          .on("comparison.change", function(action) { 
            if (action.value == false) return s.publish("selected_comparison",false)
            s.publish("selected_comparison",action)
          })
          .on("logic.change", function(logic) {
            s.publish("logic_options",logic)
          })
          .on("filter.change", function(filters) {

            s.publishBatch({
                "filters":filters
            })
          })
          .on("view.change", function(x) {
            db.loading(true)
            var CP = deepcopy(value.dashboard_options)
            CP.map(function(d) {
              if (x.value == d.value) return d.selected = 1
              d.selected = 0
            })
            s.publish("dashboard_options",CP)
          })
          .on("tab.change", function(x) {
            db.loading(true)
            value.tabs.map(function(t) {
              if (t.key == x.key) return t.selected = 1
              t.selected = 0
            })
            s.publishStatic("tabs",value.tabs)
          })
          .on("ba.sort", function(x) {
            s.publish("sortby",x.value)
            s.publish("filters",value.filters)
   
          })
          .draw()


  }

  var state_module = state

  var s = state.state()
    .subscribe("filter.tabs", function(error,dbo,state) {
      s.publishStatic("formatted_data",state.data)
    })
    .subscribe("filter.dashboard_options", function(error,dbo,state) {
      s.publishStatic("formatted_data",state.data)
    })
    .subscribe("filter.logic_options", function(error,filters,state) {
      s.publish("filters",state.filters)
    })
    .subscribe("filter.filters", function(error,filters,state) {

      var value = state.data
      if (value == undefined) return

      if (filters.filter(x => x.field != undefined && x.value == undefined).length) return

      var filters = prepareFilters(filters)

      var logic = state.logic_options.filter(function(x) { return x.selected })
      logic = logic.length > 0 ? logic[0] : state.logic_options[0]

      var full_urls = filter
        .filter_data(value.original_urls)
        .op("is in", ops["is in"])
        .op("is not in", ops["is not in"])
        .op("does not contain", ops["does not contain"])
        .op("contains", ops["contains"])
        .logic(logic.value)
        .by(filters)


      







      // should not filter if...
      //debugger

      if ( (value.full_urls) && 
           (value.full_urls.length == full_urls.length) && 
           (state.selected_comparison && (state.comparison_data == value.comparison))) return

      value.full_urls = full_urls

      var compareTo = state.comparison_data ? state.comparison_data.original_urls : value.original_urls;

      value.comparison = compareTo

      // all this logic should be move to the respective views...

      // ----- START : FOR MEDIA PLAN ----- //

      buildCategories(value)
      buildCategoryHour(value)

      // ----- END : FOR MEDIA PLAN ----- //

      var tabs = [
          dashboard.buildDomains(value)
        , dashboard.buildUrls(value)
        //, dashboard.buildTopics(value)
      ]

      var summary_data = dashboard.buildSummaryData(value.full_urls)
        , pop_summary_data = dashboard.buildSummaryData(compareTo)

      var summary = dashboard.buildSummaryAggregation(summary_data,pop_summary_data)

      var ts = dashboard.prepData(value.full_urls)
        , pop_ts = dashboard.prepData(compareTo)

      var mappedts = ts.reduce(function(p,c) { p[c.key] = c; return p}, {})

      var prepped = pop_ts.map(function(x) {
        return {
            key: x.key
          , hour: x.hour
          , minute: x.minute
          , value2: x.value
          , value: mappedts[x.key] ?  mappedts[x.key].value : 0
        }
      })

      var cat_roll = d3.nest()
        .key(function(k) { return k.parent_category_name })
        .rollup(function(v) {
          return v.reduce(function(p,c) {
            p.views += c.count
            p.sessions += c.uniques
            return p
          },{ articles: {}, views: 0, sessions: 0})
        })
        .entries(value.full_urls)

      var pop_cat_roll = d3.nest()
        .key(function(k) { return k.parent_category_name })
        .rollup(function(v) {
          return v.reduce(function(p,c) {
            p.views += c.count
            p.sessions += c.uniques
            return p
          },{ articles: {}, views: 0, sessions: 0})
        })
        .entries(compareTo)

      var mapped_cat_roll = cat_roll.reduce(function(p,c) { p[c.key] = c; return p}, {})

      var cat_summary = pop_cat_roll.map(function(x) {
        return {
            key: x.key
          , pop: x.values.views
          , samp: mapped_cat_roll[x.key] ? mapped_cat_roll[x.key].values.views : 0
        }
      }).sort(function(a,b) { return b.pop - a.pop})
        .filter(function(x) { return x.key != "NA" })

      var parseWords = function(p,c) {
        var splitted = c.url.split(".com/")
        if (splitted.length > 1) {
          var last = splitted[1].split("/").slice(-1)[0].split("?")[0]
          var words = last.split("-").join("+").split("+").join("_").split("_").join(" ").split(" ")
          words.map(function(w) { 
            if ((w.length <= 4) || (String(parseInt(w[0])) == w[0] ) || (w.indexOf("asp") > -1) || (w.indexOf("php") > -1) || (w.indexOf("html") > -1) ) return
            p[w] = p[w] ? p[w] + 1 : 1
          })
        }
        return p
      }

      var pop_counts = compareTo.reduce(parseWords,{})
      var samp_counts = value.full_urls.reduce(parseWords,{})


      var entries = d3.entries(pop_counts).filter(function(x) { return x.value > 1})
        .map(function(x) {
          x.samp = samp_counts[x.key]
          x.pop = x.value
          return x
        })
        .sort(function(a,b) { return b.pop - a.pop})
        .slice(0,25)


      var modifyWithComparisons = function(ds) {

        var aggs = ds.reduce(function(p,c) {
          p.pop_max = (p.pop_max || 0) < c.pop ? c.pop : p.pop_max
          p.pop_total = (p.pop_total || 0) + c.pop

          if (c.samp) {
            p.samp_max = (p.samp_max || 0) > c.samp ? p.samp_max : c.samp
            p.samp_total = (p.samp_total || 0) + c.samp
          }

          return p
        },{})

        console.log(aggs)

        ds.map(function(o) {
          o.normalized_pop = o.pop / aggs.pop_max
          o.percent_pop = o.pop / aggs.pop_total

          o.normalized_samp = o.samp / aggs.samp_max
          o.percent_samp = o.samp / aggs.samp_total

          o.normalized_diff = (o.normalized_samp - o.normalized_pop)/o.normalized_pop
          o.percent_diff = (o.percent_samp - o.percent_pop)/o.percent_pop
        })
      }

      modifyWithComparisons(cat_summary)
      modifyWithComparisons(entries)


      if (value.before) {
        var before_urls = filter
          .filter_data(value.before)
          .op("is in", ops["is in"])
          .op("is not in", ops["is not in"])
          .op("does not contain", ops["does not contain"])
          .op("contains", ops["contains"])
          .logic(logic.value)
          .by(filters)

        var after_urls = filter
          .filter_data(value.after)
          .op("is in", ops["is in"])
          .op("is not in", ops["is not in"])
          .op("does not contain", ops["does not contain"])
          .op("contains", ops["contains"])
          .logic(logic.value)
          .by(filters)


        var bu = d3.nest()
          .key(function(x) { return x.parent_category_name })
          .key(function(x) { return x.time_diff_bucket })
          .entries(before_urls)

        var au = d3.nest()
          .key(function(x) { return x.parent_category_name })
          .key(function(x) { return x.time_diff_bucket })
          .entries(after_urls)

        var buckets = [10,30,60,120,180,360,720,1440,2880,5760,10080].map(function(x) { return x*60 })
          , pop_categories = cat_summary.reduce(function(p,c) { p[c.key] = c; return p }, {})
          , cats = cat_summary.map(function(p) { return p.key })

        var before_categories = buildData(before_urls,buckets,pop_categories)
          , after_categories = buildData(after_urls,buckets,pop_categories)

        var sortby = state.sortby

        if (sortby == "score") {

          before_categories = before_categories.sort(function(a,b) { 
            var p = -1, q = -1;
            try { p = b.values.filter(function(x){ return x.key == "600" })[0].score } catch(e) {}
            try { q = a.values.filter(function(x){ return x.key == "600" })[0].score } catch(e) {}
            return d3.ascending(p, q)
          })
          
        } else if (sortby == "pop") {

          before_categories = before_categories.sort(function(a,b) { 
            var p = cats.indexOf(a.key)
              , q = cats.indexOf(b.key)
            return d3.ascending(p > -1 ? p : 10000, q > -1 ? q : 10000)
          })

        } else {

          before_categories = before_categories.sort(function(a,b) { 
            var p = -1, q = -1;
            try { p = b.values.filter(function(x){ return x.key == "600" })[0].percent_diff } catch(e) {}
            try { q = a.values.filter(function(x){ return x.key == "600" })[0].percent_diff } catch(e) {}
            return d3.ascending(p, q)
          })

          
        }


        var order = before_categories.map(function(x) { return x.key })

        after_categories = after_categories.filter(function(x) { return order.indexOf(x.key) > -1 }).sort(function(a,b) {
          return order.indexOf(a.key) - order.indexOf(b.key)
        })
//debugger

        s.setStatic("before_urls",{"after":after_urls,"before":before_urls,"category":cat_summary,"before_categories":before_categories,"after_categories":after_categories,"sortby":value.sortby}) 
        s.setStatic("after_urls", after_urls)

        


      }

      

      s.setStatic("keyword_summary", entries) 
      s.setStatic("time_summary", prepped)
      s.setStatic("category_summary", cat_summary)

      s.setStatic("summary",summary)
      s.setStatic("tabs",tabs)
      s.publishStatic("formatted_data",value)
      
    })
    .subscribe("filter.loading", function(error,loading,value) {
debugger
      if (value.formatted_data) buildDashboard(value)
      else buildDashboardLoading(value)
      
    })
    .subscribe("filter.formatted_data", function(error,formatted_data,value) {

      value.loading = false
      s.update("loading",false)

      if (value.formatted_data) buildDashboard(value)
    })
    .subscribe("raw.data",function(error,value,state) {

      value.actions = state.actions
      s.publishStatic("logic_categories",value.categories)
      s.publish("filters",state.filters)

    })
    .subscribe("raw.comparison_data",function(error,value,state) {

      s.publish("filters",state.filters)

    })
    .subscribe("raw.actions",function(error,value,_state) {
      var qs_state = state.qs({}).from(window.location.search)
      //s.update("selected_action",value[0])

      // TODO: Bugfix this... the from object should be empty and the updates should also be empty

      if (window.location.search.length && Object.keys(qs_state).length) {
        var updates = dashboard.state.compare(qs_state,_state)
        return publishQSUpdates(updates,qs_state)
      } else {
       s.publish("selected_action",value[0])
      }

    })
    .subscribe("raw.action_date",function(error,value,state) {
      s.publishStatic("data",api.action.getData(state.selected_action,state.action_date))
    })
    .subscribe("raw.comparison_date",function(error,value,state) {
      if (!value) return s.publishStatic("comparison_data",false)
      s.publishStatic("comparison_data",api.action.getData(state.selected_comparison,state.comparison_date))
    })
    .subscribe("raw.selected_action",function(error,value,state) {
      s.publishStatic("data",api.action.getData(value,state.action_date))
    })
    .subscribe("raw.selected_comparison",function(error,value,state) {
      if (!value) return s.publishStatic("comparison_data",false)
      s.publishStatic("comparison_data",api.action.getData(value,state.comparison_date))
    })
    .subscribe("history",function(error,state) {
      console.log("current: " + JSON.stringify(state.qs_state), JSON.stringify(state.filters), state.dashboard_options )
      var for_state = ["filters"]

      var qs_state = for_state.reduce((p,c) => {
        if (state[c]) p[c] = state[c]
        return p
      },{})

      if (state.selected_action) qs_state['selected_action'] = state.selected_action.action_id
      if (state.selected_comparison) qs_state['selected_comparison'] = state.selected_comparison.action_id
      if (state.dashboard_options) qs_state['selected_view'] = state.dashboard_options.filter(x => x.selected)[0].value
      if (state.action_date) qs_state['action_date'] = state.action_date
      if (state.comparison_date) qs_state['comparison_date'] = state.comparison_date


      if (state.selected_action && state_module.qs(qs_state).to(qs_state) != window.location.search) {
        s.publish("qs_state",qs_state)
      }
    })
    .subscribe("history.qs_state", function(error,qs_state,state) {

      if (JSON.stringify(history.state) == JSON.stringify(qs_state)) return

      if (window.location.search == "") history.replaceState(qs_state,"",state_module.qs(qs_state).to(qs_state))
      else history.pushState(qs_state,"",state_module.qs(qs_state).to(qs_state))

    })

  function publishQSUpdates(updates,qs_state) {
    if (Object.keys(updates).length) {
      updates["qs_state"] = qs_state
      s.publishBatch(updates)
    }
  }

  window.onpopstate = function(i) {

    var state = s._state
      , qs_state = i.state

    var updates = dashboard.state.compare(qs_state,state)

    debugger

    publishQSUpdates(updates,qs_state)
  }



  s.publishStatic("actions",api.action.getAll)
  s.publishStatic("saved",api.dashboard.getAll)
  s.publishStatic("line_items",api.line_item.getAll)




  var DEFAULTS = {
      logic_options: [{"key":"All","value":"and"},{"key":"Any","value":"or"}]
    , logic_categories: []
    , filters: [{}] 
    , dashboard_options: [
          {"key":"Data summary","value":"summary-view","selected":1}
        , {"key":"Explore data","value":"data-view","selected":0}
        , {"key":"Before & After","value":"ba-view","selected":0}
        , {"key":"Timing","value":"timing-view","selected":0}

        //, {"key":"Media Plan", "value":"media-view","selected":0}

      ]
  }

  s.update(false,DEFAULTS)


  window.s = s



})();
</script>


{% end %}
