{% autoescape None %}
{% block content %}

<head>
  <script type="text/javascript" src="/static/js/d3.js" charset="utf-8"></script>
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/crossfilter.min.js"></script> 
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/rockerbox/rho/data.js"></script> 
  <script src="/static/js/rockerbox/rho/controller.js"></script> 
  <script src="/static/js/rockerbox/rho/ui.js"></script> 
  <script src="/static/js/rockerbox/rho/ui.filter.js"></script>  

  <script type="text/javascript" src="/static/js/chosen/chosen.jquery.min.js"> </script>

  <link href="/static/js/chosen/chosen.min.css" rel="stylesheet"> 
  <link href="/static/css/bootstrap.css" rel="stylesheet"> 

  <style>
    input[type="checkbox"]:disabled + label{ color: #ccc; }
    .loading { display: none; } 
    body { font: 10px sans-serif; }
    .axis path,
    .axis line { fill: none; stroke: #000; shape-rendering: crispEdges; }
    .x.axis path { display: none; }
    .line { fill: none; stroke: steelblue; stroke-width: 1.5px; }
  </style>

  <script>
    RB.rho.controller.init()
  </script>

</head>

<body>

  <div class="container">
    <h1>Availability</h1>
    <div id="filterable"></div>
  </div>
</body>

{% end %}   
