{% extends "base.html" %}
{% block scripts_top %}
<link type="text/css" rel="stylesheet" href="/static/css/jquery.toast.css"/>
<link type="text/css" rel="stylesheet" href="/static/js/chosen/chosen.min.css"/>
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.css"/>
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css"/>
<link type="text/css" rel="stylesheet" href="/static/css/fonts.css"/>
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap-switch.css"/>
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap-select.css"/>
<link type="text/css" rel="stylesheet" href="/static/js/typeahead.js/typeahead.css"/>
<link type="text/css" rel="stylesheet" href="/static/css/chartist.min.css"/>
<link type="text/css" rel="stylesheet" href="/static/css/prism.css"/>
<link type="text/css" rel="stylesheet" href="/static/css/style.css"/>
<script type="text/javascript" src="/static/js/d3.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/js/queue.js"></script>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/crossfilter.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.toast.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/routes/routes.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/routes/routes.navigation.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/menu/menu.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/menu/menu.navbar.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/menu/menu.selectbar.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/helper.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/subscribe.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/api.helpers.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/api.endpoints.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/api.js"></script>
<script type="text/javascript" src="/static/js/advertiser/info.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/permissions.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/component.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/pie.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/new_pie.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/turnip/build/turnip.min.js"></script>

<script type="text/javascript" src="/static/js/rockerbox/crusher/action/init.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/funnel/wait.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/funnel/show.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/funnel/domains.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/funnel/avails.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/funnel/idf.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/funnel/init.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/funnel/final.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/controller.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/controller.funnel.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/controller.action.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/controller.campaign.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/controller.lookalike.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/ui.gettingstarted.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/ui.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/ui.settings.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/ui.pixel.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/ui.home.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/ui.vendors.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/ui.action.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/ui.action.keywords.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/ui.action.dashboard.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/ui.action.domains.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/ui.action.clusters.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/ui.action.comparison.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/ui.action.behavior.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/ui.action.tabs.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/ui.action.timing.js"></script>

<script type="text/javascript" src="/static/js/rockerbox/crusher/ui.funnel.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/ui.funnel.action.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/ui.funnel.show.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/ui.funnel.edit.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/ui.funnel.campaign.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/ui.funnel.campaign.lookalike.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/ui.action.pattern.js"></script>
<!--<script type="text/javascript" src="/static/js/rockerbox/crusher/mock.json"></script>-->

<script type="text/javascript" src="/static/js/rockerbox/rho/ui.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/rho/ui.filter.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/crusher/ui.helpers.js"></script>
<script type="text/javascript" src="/static/js/rockerbox/visit_urls.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-switch.js"></script>
<script type="text/javascript" src="/static/js/jquery.serialize-object.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-select.js"></script>
<script type="text/javascript" src="/static/js/typeahead.js/typeahead.bundle.js"></script>
<script type="text/javascript" src="/static/js/chosen/chosen.jquery.min.js"> </script>
<script type="text/javascript" src="/static/js/chartist.min.js"></script>
<script type="text/javascript" src="/static/js/prism.js" data-default-language="markup"></script>
<script type="text/javascript" src="/static/js/cookie-toasts.js"></script>
<script type="text/javascript">
$(function() {
  /*
    Initialize things
  */
  console.log("// start things")
  RB.init()
  var page = window.location.pathname + window.location.search//.replace("/crusher/","")
  RB.menu.render(d3.select("body"))
  RB.crusher.controller.init(page)
  console.log("// finish things")
});

  /*
    Google analytics
  */
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-50457693-2', 'auto');
  ga('send', 'pageview');
</script>
<style>
body.demo * {
  cursor:  pointer;
  cursor: url('/static/css/cursor-smaller.png') 15 15, pointer;
}
body.demo a {
  cursor:  pointer;
  cursor: url('/static/css/cursor-smaller.png') 15 15, pointer;
}

.bar-series, .bar.series { padding-bottom:20px }
.behavior .area {
  fill-opacity: 1;
  fill: none;
}
.before-wrapper .bar-row-header text {
  font-weight:normal; font-size:12px
}
.bar.positive {
  fill:rgb(49, 163, 84)
}
.bar.negative {
  fill:rgb(230, 85, 13)
}
.item.selected {
        font-weight:bold;
}
.item.selected:after, .item.selected:before {
	top: 95%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.item.selected:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}
.item.selected:before {
	border-color: rgba(240, 240, 240, 0);
	border-top-color: #f0f0f0;
	border-width: 11px;
	margin-left: -11px;
}
rect.bordered {
  stroke: #fff;
  stroke-width:1.5px;
}

text.mono {
  font-size: 7.5pt;
  fill: #aaa;
}

text.axis-workweek {
  fill: #000;
}

text.axis-worktime {
  fill: #000;
}
.timing .axis {opacity:1}

</style>
{% end %}
{% block scripts_bottom %}{% end %}
{% block content %}
<div class="hidden" style="position:fixed;width:200px;top:0px;left:0px;height:100%;background:black">
  <div class="row col-md-12">
    <a href="/crusher/funnel/action?source=baublebar">Action</a>
  </div>
  <div class="row col-md-12">
    <a href="/crusher/funnel?source=baublebar">Funnel</a>
  </div>
</div>
<div class="container" style="width:inherit"></div>
{% end %}
