@import 'partials/misc';
@import 'partials/pixel';
@import 'partials/pricing';
.hist-row {
    line-height: 0px;
    max-height: 45px;
    overflow: hidden;
    margin-bottom: 2px;

  .hist-item {
    width: 14px;
    height: 14px;
    margin-top: 1px;
    margin-right: 1px;
    display: inline-block;
    background-color: steelblue;    
  }
}

body > .tooltip {
  opacity:1
}
body > .rhs {
    padding:20px;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    /*background: grey;*/
}
.site-details h3 {
    margin: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: #888;
    letter-spacing: .05em;
}
.site-details .item {
  width:100%;
  line-height:20px;
  min-height: 20px;
  overflow-x: scroll;

  a {
    line-height:18px;
    width: calc(100% - 90px);
    display: inline-block;
    word-break: break-all;
  }

  span {
    vertical-align: top;
    font-weight:bold;
    width:80px;
    display:inline-block;
  }
}
