$color_blue: #5084b2;
$color_yellow: #b2af50;
$color_red: #cd4b5b;
$color_light_green: #84b250;
$color_light_pink: #b25084;
$color_dark_green: #50b27e;
$color_brown: #b27e50;
$color_green_blue: #50b2af;
$color_purple: #5053b2;
$container-color: #F0F4F7;

$navbar-width: 70;
$sidebar-width: 270;
$header-height: 50;
$total-sidebar: $navbar-width + $sidebar-width;
$background-color: #F8FAFB;

@function as_px($i){
  @return #{ ($i) + 'px'};
}

@import 'core/body';
@import 'core/header';
@import 'core/sidebar';
@import 'core/card';
@import 'core/header-tabs';
