{
    "external_wrapper_directories":["../.link/custom_wrappers"],
    "external_wrapper_packages": ["custom_wrappers"],
    "dbs": {
       "my_api": {
           "wrapper": "MysqlDB",
           "host": "localhost",
           "user": "root",
           "password": "",
           "database":"rockerbox_dev"
        },
        "digital_ocean": {
           "wrapper": "MysqlDB",
           "host": "162.243.122.235",
           "user": "rick",
           "password": "rick",
           "database":"rockerbox"
        }
    },
    "api": {
      "console": {
          "wrapper": "PaginatedConsoleAPIRequestWrapper",
          "base_url": "http://api.appnexus.com",
          "user": "ron@getrockerbox.com",
          "password": "!Rockerbox1"
      }
    },
    "scp":{
      "graphite": {
        "wrapper": "SCPWrapper",
        "host_name": "ec2-54-225-214-56.compute-1.amazonaws.com",
        "user_name": "ubuntu",
        "key_path" : "/root/.ssh/id_rsa.pub"
      }
    }
}
