{
    "external_wrapper_packages": ["lib.custom_wrappers"],
    "dbs": {
       "mongo": {
           "wrapper": "MongoDB2",
	   "host": "10.128.99.106",
	   "port": 49155
       },

       "mongo_test": {
           "wrapper": "MongoDB2",
	   "host": "10.128.99.106",
	   "port": 49154
       },
    
       "cassandra": {
           "wrapper": "CassandraDB",
           "nodes": ["docker-cassandra.marathon.mesos"],
           "database": "rockerbox",
           "user":"",
           "password":""
       }, 
       "hive": {
           "wrapper": "MarathonHive2DB",
       	   "marathon_endpoint": "http://m.marathon.getrockerbox.com:8080/v2/tasks",
           "database": "default",
           "user":"root",
           "password":""
       },
       "hive_dev": {
           "wrapper": "MarathonHive2DB",
       	   "marathon_endpoint": "http://m.marathon.getrockerbox.com:8080/v2/tasks",
           "database": "default",
           "user":"root",
           "password":"",
           "identifier": "pixel-archive-1.2"
       },
       "my_api": {
           "wrapper": "MysqlDB",
           "host": "localhost",
           "user": "root",
           "password": "",
           "database":"rockerbox_dev"
        },
        "digital_ocean": {
           "wrapper": "MysqlDB",
           "host": "162.243.122.235",
           "user": "rick",
           "password": "rick",
           "database":"rockerbox"
        },
        "mysql" : {
           "wrapper": "MysqlDB",
           "host": "107.170.18.93",
           "user": "ron_test",
           "password": "ron_test",
           "database":"appnexus_reporting"
        },
        "reporting" : {
           "wrapper": "MysqlDB",
           "host": "10.128.229.239",
           "user": "ron_test",
           "password": "ron_test",
           "database":"reporting"
        }, 
        "rockerbox" : {
           "wrapper": "MysqlDB",
           "host": "107.170.18.93",
           "user": "ron_test",
           "password": "ron_test",
           "database":"rockerbox"
        },
        "venue" : {
           "wrapper": "MysqlDB",
           "host": "107.170.18.93",
           "user": "ron_test",
           "password": "ron_test",
           "database":"venue"
        },
        "test" : {
           "wrapper": "MysqlDB",
           "host": "162.243.1.73",
           "user": "will_test",
           "password": "will_test",
           "database":"test"
        },
        "vluu_local" : {
           "wrapper": "MysqlDB",
           "host": "50.112.210.39",
           "user": "ron_test",
           "password": "ron_test",
           "database":"test"
        },
        "wei_local" : {
           "wrapper": "MysqlDB",
           "host": "107.170.18.93",
           "user": "root",
           "password": "rockerbox",
           "database":"roclocal"
        },
        "campaigntest" : {
           "wrapper": "MysqlDB",
           "host": "107.170.18.93",
           "user": "ron_test",
           "password": "ron_test",
           "database":"rockerbox"
        }

    },
    "api": {
      "console": {
          "wrapper": "PaginatedConsoleAPIRequestWrapper",
          "base_url": "http://api.appnexus.com",
          "user": "ron@getrockerbox.com",
          "password": "!Rockerbox1"
      },
      "reporting": {
          "wrapper": "ReportAPIRequestWrapper",
          "base_url": "http://api.appnexus.com",
          "user": "ron@getrockerbox.com",
          "password": "!Rockerbox1"
      },
      "rockerbox": {
          "wrapper": "RockerboxAPIRequestWrapper",
          "user": "rockerbox",
          "password": "rockerbox",
          "base_url": "http://portal.getrockerbox.com/admin"
      }, 
      "bidder": {
          "wrapper": "PaginatedConsoleAPIRequestWrapper",
          "base_url": "http://api.adnxs.com",
          "user": "rockerboxinc_bidder_user",
          "password": "aJomnBY"
      },
      "data": {
          "wrapper": "PaginatedConsoleAPIRequestWrapper",
          "base_url": "http://api.adnxs.com",
          "user": "rockerbox_rtdp_user",
          "password": "rckrbx7837"
      },
      "marathon": {
          "wrapper": "APIRequestWrapper",
          "base_url": "http://master2:8080"
      },
      "digitalocean": {
          "wrapper":"DigitalOceanAPIRequestWrapper",
          "user": "e5b7a275b09846ff3a6b60ddf20b957ec0470acc32dd31180aa0419567a2f94e"  ,
          "password": "",
          "base_url": "https://api.digitalocean.com/v2"
      }
    },
    "scp":{
      "graphite": {
        "wrapper": "SCPWrapper",
        "host_name": "ec2-54-225-214-56.compute-1.amazonaws.com",
        "user_name": "ubuntu",
        "key_path" : "/root/.ssh/id_rsa.pub"
      }
    }
}
