.info-popup {
  position: fixed;
  margin-top: 25px;
  width: 200px;
  background-color: #fff;
  box-shadow: 0 0 25px 3px rgba(0,0,0,0.1);
  z-index: 9999;
  line-height: 22px;
  cursor: default;
  border-radius: 3px;
  h3 {
    color: #222c36;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: solid 1px #EEE;
    margin-bottom: 0;
    padding: 20px;
    text-align: center;
  }
  p {
    padding: 20px;
    margin: 0;
  }
  .info-popup-close {
    display: inline-block;
    padding: 3px 12px;
    background-color: #5084b2;
    font-weight: bold;
    color: #fff;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 11px;
    margin: 0 20px 20px 70px;
    cursor: pointer;
  }
}
.info-popup:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 15px;
  margin-left: -15px;
}
