div.table_pagination {
  // width: 250px;
  display: inline-block;
  border: solid 1px #ccc;

  div.pagination_button {
    display: inline-block;
    padding: 0 15px;
    min-width: 40px;
    line-height: 40px;
    text-align: center;
    border-right: solid 1px #ccc;
    cursor: pointer;
    color: #777;

    strong {
      color: #000;
    }
  }

  div.pagination_button:last-child {
    border-right: none;
  }
}
