

{% autoescape None %}
{% extends "reporting_base.html" %}


{% block stuff %}
<link rel="stylesheet" type="text/css" href="http://rockerbox.com/css/dc.css">
<script type="text/javascript" src="http://rockerbox.com/js/d3.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/crossfilter.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/dc.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/colorbrewer.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/reporting.js"></script>

<style>
.table tbody tr.info td {
  background-color: #d9edf7;
}
</style>
<script>

var qs = window.location.search.slice(1,window.location.search.length).split('&');
var qs_params = {};
for(var i = 0; i < qs.length; i++) {
    var bits = qs[i].split('=');
    qs_params[bits[0]] = bits[1];
}

var advertiser_id = qs_params['advertiser'] || {{ advertiser_id }}

$.getJSON("/api?table=advertiser&external_advertiser_id=" + advertiser_id).done(function(e){
  var name = e[0]["advertiser_name"];
  $(".advertiser").text(name);
  $(".campaign").text("Advertiser")
  $(".breadcrumb").append("<li><a href='" + 
    window.location.origin + 
    window.location.pathname + 
    "?advertiser=" + 
    advertiser_id + "'>" + name + "</a></li>"
  );
})

$.getJSON("/api?table=campaign_bucket&external_advertiser_id=" + advertiser_id).done(function(e){
  var buckets = {};

  e.forEach(function(bucket){
    buckets[bucket.campaign_id] = bucket
  })

  var data_link = window.location.origin + window.location.pathname 
  data_link += window.location.search.length ? window.location.search : "?"

  d3.json(data_link+"&format=json",function(data){
    window.data = data

    data.forEach(function(d) {
      var name = "Default Campaign"
      try {
        name = buckets[d.campaign_id]['bucket_name'] 
      } catch(e) {}
      d.campaign_id = d.campaign_id || d.campaign 
      d.dd = new Date(d.date*1000)
      d.imps = +d.imps
      d.clicks = +d.clicks
      d.conversions = +d.is_valid
      d.cost = d.media_cost*d.cpm_multiplier
      d.campaign_bucket = name
      d.domain = 0
      d.referrer = 0
    })

    var crs = crossfilter(data);
    window.CRS = crossfilterNS(crs,dc) 

    var impsChart = CRS.charts.imps('#imps-chart'),
      spendChart = CRS.charts.impsBar('#spend-chart')

    impsChart 
      .renderArea(true)
      .width(960)
      .height(200)
      .transitionDuration(500)
      .margins({top: 30, right: 50, bottom: 28, left: 60})
      .mouseZoomable(false)
      .elasticY(true)
      .brushOn(false)
      .yAxisLabel("Impressions")
      .rangeChart(spendChart)

    spendChart
      .width(960)
      .height(80)
      .margins({top: 15, right: 50, bottom: 28, left: 60})
      .centerBar(true)
      .colors("gray")
      .gap(1)
      .round(d3.time.hour.round)
      .alwaysUseRounding(true)
      .xUnits(d3.time.hours)
      .yAxisLabel("Cost")
      .valueAccessor(function(d){return d.value.cost})
    spendChart
      .yAxis().ticks(4);

    var numberFormat = d3.format("0,000.00")
        
    dc.dataTable(".dc-data-table")
      .dimension(CRS.aggregateDimensions.daily_campaign_bucket)
      .group(function (d) {
        return dateFormatPretty(d.date)
      })
      .size(50) 
      .columns([
        function (d) {
           return "<a href='" + data_link + 
            "&group=" + d.campaign_bucket + 
            "'>"+ d.campaign_bucket +"</a>"
        },
        function (d) {
          return numberFormat(d.imps);
        },
        function (d) {
          return numberFormat(d.clicks);
        },
        function (d) {
          return d.conversions;
        },
        function (d) {
          return "$" + numberFormat(d3.round(d.cost,2));
        }
      ])
      .sortBy(function (d) {
        return d.dd;
      })
      .order(d3.ascending)
      .renderlet(function (table) {
        table.selectAll(".dc-table-group").classed("info", true);
      }); 

    dc.dataCounts(".summary-wrapper")
      .dimension(CRS.dimensions.datetime)
      .group(CRS.groups.all)

    dc.dataCounts(".range")
      .dimension(CRS.dimensions.datetime)
      .group(CRS.groups.all)

    dc.renderAll()  

    $('.chart-selector').click(function(e){
      var selector = $(e.target).parents('.chart-selector')[0],
        dataset = selector.dataset,
        fn = function(d) {
          return d.value[dataset.series]
        }
      impsChart.valueAccessor(fn)
      impsChart.colors(dataset.color)
      impsChart.yAxisLabel($(selector).find("p").text())
      impsChart.render() 

      $('.chart-selector').removeClass("selected")
      $(selector).addClass("selected")
    })


  })

  

})
</script>
<br/>

<div class="row summary-wrapper">
  <div class="col-md-2"></div>
  <div class="col-md-8 col-sm-12">
    <div class="col-md-1"></div>
    <div class="col-md-3 col-sm-4 summary-stat selected blue chart-selector" data-series="imps" data-color="#1f77b4">
      <p class="text-uppercase"><strong>Impressions</strong></p>
      <h2 class="imps"></h2>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3 col-sm-4 summary-stat orange chart-selector" data-series="clicks" data-color="#ff7f0e">
      <p class="text-uppercase"><strong>Clicks</strong></p>
      <h2 class="clicks"></h2>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3 col-sm-4 summary-stat green chart-selector" data-series="conversions" data-color="#2ca02c">
      <p class="text-uppercase"><strong>Conversions</strong></p>
      <h2 class="conversions"></h2>
    </div>
  </div> 
</div>

<div class="row">
  <div id="imps-chart"></div>
</div>

<div class="row">
  <div id="spend-chart"></div>
  <p class="muted pull-right" style="margin-right: 15px;">select a time range to zoom in</p>
</div>

<h4>Delivery Details</h4>

<table class="table table-hover dc-data-table">
  <thead>
    <tr>
      <th>Campaign</th>
      <th>Impressions</th>
      <th>Clicks</th>
      <th>Conversions</th>
      <th>Cost</th>

    </tr>
  </thead>
</table>
<div class="hidden">{{ stuff }}</div>
{% end %}

