{% autoescape None %}
{% extends "reporting_base.html" %}

{% block stuff %}
<link rel="stylesheet" type="text/css" href="http://rockerbox.com/css/dc.css">
<script type="text/javascript" src="http://rockerbox.com/js/d3.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/crossfilter.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/dc.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/colorbrewer.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/reporting.js"></script>

<script>


var getLocation = function(href) {
  href = href.match(/http/) ? href : "http://" + href
  var l = document.createElement("a");
  l.href = href;
  var host = l.hostname
  var split = host.split(".")
  if (host.slice(0,host.length/2) == host.slice(host.length/2,host.length)) {
    return host.slice(host.length/2,host.length)
  } else {
    var len = split.length
    var h = split[len-2] + "." + split[len-1];
    if (split[len-1].length > 2) {
      return h
    } else {
      return split[len-3] + "." + h
    }
  }
};



$(document).ready(function(){

  var qs = window.location.search.slice(1,window.location.search.length).split('&');
  var qs_params = {};
  for(var i = 0; i < qs.length; i++) {
      var bits = qs[i].split('=');
      qs_params[bits[0]] = bits[1];
  }

  var advertiser_id = qs_params['advertiser'],
    campaign_id = qs_params['campaign'],
    bucket = qs_params['group'] ? unescape(qs_params['group']) : false

  $.getJSON("/api?table=advertiser&external_advertiser_id=" + advertiser_id).done(function(e){
    var name = e[0]["advertiser_name"];
    $(".advertiser").text(name);
    $(".breadcrumb").append("<li><a href='" + 
      window.location.origin + 
      window.location.pathname + 
      "?advertiser=" + 
      advertiser_id + "'>" + name + "</a></li>"
    );
    if (bucket) {
      $(".campaign").text(bucket);
      $(".breadcrumb").append("<li>" + bucket + "</li>");
    }
  })
  
  if (campaign_id) {
    $.getJSON("/api?table=campaign_bucket&campaign_id=" + campaign_id).done(function(e){
      var name = (e.length > 0) ? e[0]["bucket_name"] : "Default Campaign"
      $(".campaign").text(name);
      $(".breadcrumb").append("<li>" + name + "</li>");
    })
  }



  d3.json(window.location.href+"&format=json",function(data){

    // Clear loading dialog...
    $('#imps-chart').html("")

    var dateFormatPretty = d3.time.format("%b %d, %Y at %_I %p");

    // Data prep
    data.forEach(function(d) {
      
      d.domain = getLocation(d.referrer);
      d.campaign_id = d.campaign_id || d.campaign 
      d.dd = new Date(d.date*1000)
      d.imps = +d.imps

      // unused in this view
      // need to make the included dimensions and groups lazy
      d.clicks = +d.clicks
      d.conversions = +d.is_valid
      d.campaign_bucket = d.campaign
      d.media_cost = d.media_cost || 0
      d.cpm_multiplier = d.cpm_multiplier || 0
      d.cost = d.media_cost*d.cpm_multiplier
    })

    var crs = crossfilter(data);
    window.CRS = crossfilterNS(crs,dc)

    var dateDimension = CRS.dimensions.datetime

    var impsChart = CRS.charts.imps('#imps-chart')
      impsBarChart = CRS.charts.impsBar('#historical-chart')
      domainTable = CRS.charts.domain('.dc-data-table')

    impsChart
      .renderArea(true)
      .width(960)
      .height(200)
      .transitionDuration(1000)
      .margins({top: 30, right: 50, bottom: 28, left: 60})
      .mouseZoomable(false)
      .elasticY(true)
      .rangeChart(impsBarChart)
      .brushOn(false) 
      .yAxisLabel("Ads Served");
    
    impsBarChart
      .width(960)
      .height(80)
      .margins({top: 15, right: 50, bottom: 28, left: 60})
      .brushOn(true)
      .centerBar(true)
      .colors("gray")
      .gap(1)
      .round(d3.time.hour.round)
      .alwaysUseRounding(true)
      .xUnits(d3.time.hours)
      .yAxisLabel("");

    impsBarChart 
      .yAxis().ticks(4);


     
    var numberFormat = d3.format("0,000.00")
        
    domainTable
      .size(10000000) 
      .columns([
        function (d) {
           return d.referrer;
        },
        function (d) {
          return numberFormat(d.imps);
        },
        function (d) {return ""}
      ])
      .sortBy(function (d) {
        return d.imps;
      })
      .sortGroupBy(function (d) {
        return d.values[0].domain_imps;
      })
      .groupRowFormatter(function (row) {
        row.append("td")
          .html(function(d) {
              return d['key']
          })      
        row.append("td")
          .html(function(d) {
              return numberFormat(d.values[0].domain_imps)
          })
        row.append("td")
          .html(function(d) {
              return numberFormat(d.values.length)
          })
      })
      .order(d3.descending)
      .renderlet(function (table) {
        table.selectAll(".dc-table-group")
          .classed("info", true)
          .on("click", function(e){
            d3.select(this.parentNode)
              .selectAll(".dc-table-row")
              .classed("hidden" ,function(e){
                return d3.select(this).classed("hidden") ?
                  false : true;
              })
              .transition().duration(500)
          })
        table.selectAll(".dc-table-row").classed("hidden",true)
      }); 

    

    dc.dataCounts(".summary-wrapper")
      .dimension(CRS.dimensions.datetime)
      .group(CRS.groups.all)

    dc.dataCounts(".range")
      .dimension(CRS.dimensions.datetime)
      .group(CRS.groups.all)



    dc.renderAll()  
    
  })
})
</script>
<br/>

<div class="row summary-wrapper">
  <div class="col-md-2"></div>
  <div class="col-md-8 col-sm-12">
    <div class="col-md-1"></div>
    <div class="col-md-3 col-sm-4">
      <p class="text-uppercase"><strong>Impressions</strong></p>
      <h2 class="imps"></h2>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3 col-sm-4">
      <p class="text-uppercase"><strong>Domains</strong></p>
      <h2 class="domains"></h2>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3 col-sm-4">
      <p class="text-uppercase"><strong>Pages</strong></p>
      <h2 class="referrers"></h2>
    </div>
    
  </div> 
</div>

<div class="row">
  <div id="imps-chart">
    <div style="text-align:center;line-height:200px;height:300px" class="col-md-12 col-sm-12">
      Loading...
    </div>
  </div>
</div>

<div class="row">
  <div id="historical-chart"></div>
  <p class="muted pull-right" style="margin-right: 15px;">select a time range to zoom in</p>
</div>



<div class="row hidden">
  <table class="table table-hover summary">
    <thead>
      <tr>
        <th>Domains</th>
        <th>Pages</th>
        <th>Impressions</th>
      </tr>
    </thead>
  </table>
</div>

<h4>Delivery Details</h4>

<table class="table table-hover dc-data-table">
  <thead>
    <tr>
      <th>Domain</th>
      <th>Impressions</th>
      <th>Pages</th>
    </tr>
  </thead>
</table>
<div class="hidden">{{ stuff }}</div>
{% end %}

