{% extends "_internal_report_base.html" %}


{% block subject %}{{subject}}{% end %}

<!-- body -->
{% block body %}

    <table class="body-wrap" width={{ width }}>
      <tr>
        <td></td>
        <td class="container" bgcolor="#FFFFFF">

          <div class="content">
              {% for table in tables %}
                  {% if table.title %}
                    <div class='header'>
                        <table>
                            <tr>
                                <td>
                                  <h4>{{ table.title }}</h4>
                                </td>
                            </tr>
                        </table>
                        <hr/>
                    </div>
                  {% end %}


                <div class="data">
                      <table>
                        {% for row in table.rows %}
                           {% include "_internal_report_table.html" %}
                        {% end %}
                      </table>

                </div>
              {% end %}
          </div>
        </td>
      </tr>
    </table>
{% end %}

