{% autoescape None %}
{% extends "../base.html" %}

{% block page_title %}Reporting{% end %}
{% block page_header %}Campaign overview{% end %}

{% block page_css %}
	<link href="/static/css/reporting-style.css" type="text/css" rel="stylesheet" media="screen">
	<link href="/static/css/dc.css" type="text/css" rel="stylesheet" media="screen">
  <style>
    .dc-axis {
      opacity:0
    }
    .dc-axis.placed {
      opacity:.5
    }
    
    .metric.raw , .metric.rate, .metric.cost_rate {
      display:none; opacity:.5
    }

    .interval-type {
      opacity:.5
    }

    .datetime .interval-type.datetime,  
    .daily .interval-type.daily, 
    .weekly .interval-type.weekly, 
    .monthly .interval-type.monthly {
      opacity:1; font-weight:bold
    }

    

    .details-table.raw .metric.raw, .details-table.rate .metric.rate, .details-table.cost_rate .metric.cost_rate {
      display:block    
    }
    .details-table.raw.imps .imps > .metric.raw, 
    .details-table.raw.views .views > .metric.raw,  
    .details-table.raw.visits .visits > .metric.raw,  
    .details-table.raw.clicks .clicks > .metric.raw,  
    .details-table.raw.conversions .conversions > .metric.raw,  
    .details-table.raw.cost .cost > .metric.raw ,

    .details-table.rate.imps .imps > .metric.rate, 
    .details-table.rate.views .views > .metric.rate,  
    .details-table.rate.visits .visits > .metric.rate,  
    .details-table.rate.clicks .clicks > .metric.rate,  
    .details-table.rate.conversions .conversions > .metric.rate,  
    .details-table.rate.cost .cost > .metric.rate ,

    .details-table.cost_rate.imps .imps > .metric.cost_rate, 
    .details-table.cost_rate.views .views > .metric.cost_rate,  
    .details-table.cost_rate.visits .visits > .metric.cost_rate,  
    .details-table.cost_rate.clicks .clicks > .metric.cost_rate,  
    .details-table.cost_rate.conversions .conversions > .metric.cost_rate,  
    .details-table.cost_rate.cost .cost > .metric.cost_rate
    {
      opacity:1
    }

    .series-selector.raw.imps  .metric.raw.imps, 
    .series-selector.raw.views  .metric.raw.views,  
    .series-selector.raw.visits  .metric.raw.visits,  
    .series-selector.raw.clicks  .metric.raw.clicks,  
    .series-selector.raw.conversions  .metric.raw.conversions,  
    .series-selector.raw.cost  .metric.raw.cost,
    .series-selector.imps  .metric.imps, 
    .series-selector.rate.views  .metric.rate.views,  
    .series-selector.rate.visits  .metric.rate.visits,  
    .series-selector.rate.clicks  .metric.rate.clicks,  
    .series-selector.rate.conversions  .metric.rate.conversions,  
    .series-selector.rate.cost  .metric.rate.cost,
    .series-selector.cost_rate.imps  .metric.cost_rate.imps, 
    .series-selector.cost_rate.views  .metric.cost_rate.views,  
    .series-selector.cost_rate.visits  .metric.cost_rate.visits,  
    .series-selector.cost_rate.clicks  .metric.cost_rate.clicks,  
    .series-selector.cost_rate.conversions  .metric.cost_rate.conversions,  
    .series-selector.cost_rate.cost  .metric.cost_rate.cost 
    {
      opacity:1
    }
    .series-selector.raw .metric.raw, .series-selector.rate .metric.rate, .series-selector.cost_rate .metric.cost_rate {
      display:block    
    }
 

    #content {padding-right: 15px;}
    #content #campaign-box {width:100%}
    #page-container {width:inherit}
    .with-border { border-top-width: 1px; border-top-style: solid; border-top-color: rgb(221, 221, 221); }
    .dc-grid-top {font-size:13px}
    .dc-table-group { display:none }
    .campaign {cursor:pointer}
    .active-row {font-weight:bold}
    .expansion {
      display:none;
      padding-top:10px;padding-bottom:10px;
      border-top:1px solid rgb(221, 221, 221);
      background:#f0f0f0
    }
    .expansion div div div {background:white}
    .active-row .expansion {display:block}
    .shadow{
      box-shadow:
      inset 0px 11px 8px -10px #CCC,
      inset 0px -11px 8px -10px #CCC; 

box-shadow: inset 0px 0px 5px 0px #CCC;
-webkit-box-shadow: inset 0px 0px 7px -1px #CCC;
-moz-box-shadow: inset 0px 0px 10px 2px #ABABAB;
-o-box-shadow: inset 0px 0px 10px 2px #ABABAB;
      
    }
    .row {
      margin-right: -10px;
      margin-left: -10px;
    }
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
      padding-left:10px;
      padding-right:10px
    }
  </style>
{% end %}

{% block page_sidebar %}
	<li class="active"><a href="/reporting"><img src="/static/img/sidebar/reporting-icon.png" alt="Reporting icon" /><span class="sidebar-label">campaign reporting</span></a></li>
    <li><a href="/streaming"><img src="/static/img/sidebar/global-icon.png" alt="Global icon" /><span class="sidebar-label">global streaming</span></a></li>
    <li><a href="/creative/reporting"><img src="/static/img/sidebar/creative-icon.png" alt="Creatives icon" /><span class="sidebar-label">creative reporting</span></a></li>
    <li><a href="/advertiser"><img src="/static/img/sidebar/pixel-icon.png" alt="Pixels icon" /><span class="sidebar-label">pixels</span></a></li>
 <li >
    <a href="/campaign" style="padding:0px;position:relative">
      <div style="opacity:.6;text-align:center;width:50px;line-height:50px;font-size:20px;color:white" class="glyphicon glyphicon-th-list"></div>
      <span class="sidebar-label" style="top:0px;margin-top:0px"> campaign manager</span>
    </a>
  </li>

  <li>
    <a href="/pixel" style="padding:0px;position:relative">
      <div style="opacity:.6;text-align:center;width:50px;line-height:50px;font-size:20px;color:white" class="glyphicon glyphicon glyphicon-star"></div>
      <span class="sidebar-label" style="top:0px;margin-top:0px"> pixel reporting</span>
    </a>
  </li>  
<!--
	<li><a href="global"><img src="/static/img/sidebar/global-icon.png" alt="Global icon" /><span class="sidebar-label">global streaming</span></a></li>
	
	<li><a href="intraweek"><img src="/static/img/sidebar/intraweek-icon.png" alt="Intraweek icon" /><span class="sidebar-label">intraweek overview</span></a></li>
	-->
{% end %}

{% block page_content %}

	<div id="campaign-box" class="box three-quarters-box"></div>	

{% end %}

{% block page_scripts %}
	<!-- IO GAUGE -->
  <script src="/static/js/d3.v3.min.js"></script> 
  <script src="/static/js/rockerbox/ajax.js"></script>
	<script src="/static/js/rockerbox/data.js"></script> 
  <script src="/static/js/rockerbox/portal/ui.campaign.js"></script>
	<script src="/static/js/gauge.min.js"></script>
	
	<script src="/static/js/crossfilter.min.js"></script>
	<script src="/static/js/dc.mod.js"></script>
	<script src="/static/js/reporting.js"></script>
	<script src="/static/js/reporting-functions.js"></script>
  <script src="/static/js/mixpanel.js"></script>
  <script>
    addMixpanelEvent({{ advertiser_id }}, "{{ user_id }}", "load reporting");
  </script>
	<script>					
		// FORMAT DATE BASED ON DISPLAY MODE
		function createDateValue(dateMode, firstDate){
			if(dateMode == "daily") return formatDate(firstDate);
			else if(dateMode == "weekly"){
                var endOfWeek = addDays(firstDate, 6);
                if(endOfWeek > CRS.groups.all.summary().date_max) endOfWeek.setTime(CRS.groups.all.summary().date_max.getTime());
				return formatDate(firstDate) + " - " + formatDate(endOfWeek);
			}
			else if(dateMode == "monthly"){
				return formatMonth(firstDate);
			}
		}
		
        // GET TIME DIFFERENCE BETWEEN TWO DATES
        function timeDifference(startDate, endDate){
            return (endDate.getTime() - startDate.getTime()) / 1000 / 60 / 60 / 24;
        }
        
		// INITIALISE TABLES
		var campaignTable = null, campaignReportsTable = null, sliderGraph = null, mainGraph = null;
		
		var extUserID =  {{ advertiser_id }};
		
		var userBudget = 0, userSpent = 0;

    //changes where the selector is on the graph. note that the campaign buckets list above will change to the selection!
    var dt = new Date();
    var ioStartDate = dt.setMonth(dt.getMonth()-3);
    ioStartDate = new Date(ioStartDate);
        
		// GET ADVERTISER BUDGET AND PROGRESS       

		$.getJSON("/api?table=advertiser&external_advertiser_id=" + extUserID, function(data){
      $('#header #right-align #user-name').text(data[0].advertiser_name.toLowerCase());
    });

    RB.portal.data.reporting(function(data){

      var crs = crossfilter(data);
      window.CRS = crossfilterNS(crs, dc);

      RB.portal.UI.campaign_bucket.buildPanel(CRS,d3.select("#campaign-box"))
      
      //dc.renderAll("graph-group");
      
      // SET TIME INTERVAL
      var baseInterval = formatDate(ioStartDate) + " - " + formatDate(CRS.groups.all.summary().date_max);

      
      intervalBox = dc.customDataBox('.interval-span', "interval-group")
        .valueAccessor(function(d){ return formatDate(d.date_min) + " - " + formatDate(d.date_max) })
        .group(CRS.groups.all)
      

      //mainGraph.focus([ioStartDate, CRS.groups.all.summary().date_max])

      try {
        if(ioStartDate < CRS.groups.all.summary().date_min){
          ioStartDate = new Date(CRS.groups.all.summary().date_min.getTime());
           //mainGraph.focus([ioStartDate, CRS.groups.all.summary().date_max]);
           baseInterval = formatDate(ioStartDate) + " - " + formatDate(CRS.groups.all.summary().date_max);
           intervalBox.redraw();                   
        }     
      } catch(e) {}
      
      // HACKHACKHACK
      //$('#io-completion-box #io-progress #io-estimated-spent').text(formatMoney(CRS.groups.all.value().cost) + "*");
      $('#page-loader').fadeOut();
    });		
	</script>
	<script>		
		// SWITCH CAMPAIGN FOCUS
		
		
		// SWITCH REPORTING MODE ON CLICK
		$('#campaign-reports-box .outer-interval-select .interval-select li').on("click", function(){
			if(!$(this).hasClass('interval-active')){
				$(this).siblings('.interval-active').removeClass('interval-active');
				$(this).addClass('interval-active');
				
				var currentCampaign = $('.active-row .campaign-name-no-style').text();
				if(currentCampaign == "Campaign total"){
					CRS.dimensions.total_campaign_bucket.filterAll();
				}
				else {
					CRS.dimensions.total_campaign_bucket.filter(function(d){return d == currentCampaign});
				}		
				
				updateCampaignReports($(this).text(), currentCampaign);
				
				$('#campaign-reports-table').fadeOut(250, "linear", function(){
					campaignReportsTable.redraw();
				});			
			}
		});
		
		// IF SHOW MORE ON CAMPAIGN REPORTS
		$('#campaign-reports-box .show-more').click(function(){			
        
			var currentCampaign = $('#campaign-table .campaign-row.active-row .campaign-name-no-style').text();
			if(currentCampaign == "Campaign total"){
				CRS.dimensions.total_campaign_bucket.filterAll();
			}
			else {
				CRS.dimensions.total_campaign_bucket.filter(function(d){return d == currentCampaign});
			}		
			updateCampaignReports($('#campaign-reports-box .outer-interval-select .interval-select li.interval-active').text(), currentCampaign, Infinity);

			campaignReportsTable.redraw();		
		});
        
        // IF CLICK ON DATESPAN
		$('#campaign-reports-table').on("click", '.date-span', function(){			
            if($(this).parent().hasClass('date-day')){
                dc.filterAll("graph-group");
                var currentDate = new Date($(this).text());
                //mainGraph.focus([currentDate, addDays(currentDate, 1)])
                dc.redrawAll("graph-group");
            }
            else if($(this).parent().hasClass('date-week')){
                var currentWeek = $(this).text().split(" - ");
                dc.filterAll("graph-group");
                //mainGraph.focus([new Date(currentWeek[0]), addDays(new Date(currentWeek[1]), 1)])
                dc.redrawAll("graph-group");
            }
            else if($(this).parent().hasClass('date-month')){
                var currentMonth = new Date($(this).text());
                var monthEnd = new Date($(this).text());
                monthEnd.setMonth(monthEnd.getMonth() + 1);
                dc.filterAll("graph-group");
                //mainGraph.focus([currentMonth, monthEnd])
                dc.redrawAll("graph-group");
            }
		});
		
		// RESET DATE FILTER
		$('#interval-reset').click(function(){
			// CRS.dimensions.datetime.filterAll();
			//dc.filterAll("graph-group");
      //mainGraph.focus([ioStartDate, CRS.groups.all.summary().date_max])
			//dc.redrawAll("graph-group");
			// $(this).parent().fadeOut(500);
		});
		
		// CHANGE METRIC
		$('#filter-box #filter-options #filter-metric li').click(function(){
			if(!$(this).hasClass('filter-metric-active')){
				var currentMetric = $(this).text();
				$('#campaign-graph-box').removeClass('data-metric-' + $('#filter-box #filter-options #filter-metric li.filter-metric-active').text()).addClass("data-metric-" + currentMetric);

				/*
        mainGraph.valueAccessor(function(d){										
					if(currentMetric == "clicks") return d.value.clicks;
					else if(currentMetric == "conversions") return d.value.conversions;
					else if(currentMetric == "cost") return d.value.cost;
					return d.value.imps;
				});*/

				/*sliderGraph.valueAccessor(function(d){					
					if(currentMetric == "clicks") return d.value.clicks;
					else if(currentMetric == "conversions") return d.value.conversions;
					else if(currentMetric == "cost") return d.value.cost;
					return d.value.imps;
				});*/
				
				var currentCampaign = $('#campaign-table .campaign-row.active-row .campaign-name-no-style').text();
				if(currentCampaign == "Campaign total"){
					CRS.dimensions.total_campaign_bucket.filterAll();
				}
				else {
					CRS.dimensions.total_campaign_bucket.filter(function(d){return d == currentCampaign});
				}		
				
				if(currentMetric == "cost"){
					$('.tooltip').addClass('value-cost');
				}
				else $('.tooltip').removeClass('value-cost');
				
				$('#filter-box #filter-options #filter-metric li.filter-metric-active').removeClass('filter-metric-active').children('img').attr('src', '/static/img/general/unchecked-radio.png').attr('alt', 'Unchecked radio button');
				$(this).addClass('filter-metric-active').children('img').attr('src', '/static/img/general/checked-radio.png').attr('alt', 'Checked radio button');
				
				//sliderGraph.redraw();
				//mainGraph.redraw();
			}
		});
    
	</script>
{% end %}
