{% autoescape None %}
{% extends "../base.html" %}

{% block page_title %}Reporting{% end %}
{% block page_header %}Campaign overview{% end %}

{% block page_css %}
	<link href="/static/css/reporting-style.css" type="text/css" rel="stylesheet" media="screen">
	<link href="/static/css/dc.css" type="text/css" rel="stylesheet" media="screen">
  <style>
  /* selectorLegend */

  .selector-legend .header {
    border-bottom: 1px solid #ccc;
    line-height: 35px;
    margin-top: 0px;
    padding-left: 10px;
  }

  .selector-legend .metric-span {
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 35px;
    padding-right: 12px;
    float: right; 
  }

  .metric-span .metric-type {
    margin-left:15px
  }

  .metric-type.cost_rate, .metric-type.rate, .metric-type.raw {
    opacity:.5
  }

  .metric-span.raw .metric-type.raw, 
  .metric-span.rate .metric-type.rate, 
  .metric-span.cost_rate .metric-type.cost_rate { 
    font-weight:bold;
    opacity:1
  }

  </style>

  <style>
  /* campaign-selection body */
  .row.campaign-selection-body {
    margin:0px;
    height:350px;
    padding-top:350px
  }

  .campaign-selection-body .campaign-table-new {
    background:white;
    padding:0px;
    padding-top:10px;
    border:1px solid rgb(221, 221, 221);
    height:inherit
  }

  .campaign-table-new .header {
    line-height:40px;
    font-weight:500;
    font-size:13px;
    text-transform:uppercase;
    position:absolute;
    top:0px;
    width:inherit; 
  }

  .campaign-table-new .campaigns-body {
    position:absolute;
    top:50px;
    width:inherit; 
    height:300px;
    overflow:scroll; 
  }



  </style>

  <style>
    .dc-axis {
      opacity:0
    }
    .dc-axis.placed {
      opacity:.5
    }
    
    .metric.raw , .metric.rate, .metric.cost_rate {
      display:none; opacity:.5
    }

    .interval-select-span {
      
    }

    .interval-type {
      opacity:.5
    }

    .datetime .interval-type.datetime,  
    .daily .interval-type.daily, 
    .weekly .interval-type.weekly, 
    .monthly .interval-type.monthly {
      opacity:1; font-weight:bold
    }

    .details-table .details-header {
      font-size:13px;font-weight:500;text-transform:uppercase;margin:0px;margin-top:10px
    }

    .campaign-table-new.raw .metric.raw, 
    .campaign-table-new.rate .metric.rate, 
    .campaign-table-new.cost_rate .metric.cost_rate {
      display:block; opacity:1
    }
    

    .details-table.raw .metric.raw, .details-table.rate .metric.rate, .details-table.cost_rate .metric.cost_rate {
      display:block    
    }
    .details-table.raw.imps .imps > .metric.raw, 
    .details-table.raw.views .views > .metric.raw,  
    .details-table.raw.visits .visits > .metric.raw,  
    .details-table.raw.clicks .clicks > .metric.raw,  
    .details-table.raw.conversions .conversions > .metric.raw,  
    .details-table.raw.cost .cost > .metric.raw ,

    .details-table.rate.imps .imps > .metric.rate, 
    .details-table.rate.views .views > .metric.rate,  
    .details-table.rate.visits .visits > .metric.rate,  
    .details-table.rate.clicks .clicks > .metric.rate,  
    .details-table.rate.conversions .conversions > .metric.rate,  
    .details-table.rate.cost .cost > .metric.rate ,

    .details-table.cost_rate.imps .imps > .metric.cost_rate, 
    .details-table.cost_rate.views .views > .metric.cost_rate,  
    .details-table.cost_rate.visits .visits > .metric.cost_rate,  
    .details-table.cost_rate.clicks .clicks > .metric.cost_rate,  
    .details-table.cost_rate.conversions .conversions > .metric.cost_rate,  
    .details-table.cost_rate.cost .cost > .metric.cost_rate
    {
      opacity:1
    }

    .series-selector.raw.imps  .metric.raw.imps, 
    .series-selector.raw.views  .metric.raw.views,  
    .series-selector.raw.visits  .metric.raw.visits,  
    .series-selector.raw.clicks  .metric.raw.clicks,  
    .series-selector.raw.conversions  .metric.raw.conversions,  
    .series-selector.raw.cost  .metric.raw.cost,
    .series-selector.imps  .metric.imps, 
    .series-selector.rate.views  .metric.rate.views,  
    .series-selector.rate.visits  .metric.rate.visits,  
    .series-selector.rate.clicks  .metric.rate.clicks,  
    .series-selector.rate.conversions  .metric.rate.conversions,  
    .series-selector.rate.cost  .metric.rate.cost,
    .series-selector.cost_rate.imps  .metric.cost_rate.imps, 
    .series-selector.cost_rate.views  .metric.cost_rate.views,  
    .series-selector.cost_rate.visits  .metric.cost_rate.visits,  
    .series-selector.cost_rate.clicks  .metric.cost_rate.clicks,  
    .series-selector.cost_rate.conversions  .metric.cost_rate.conversions,  
    .series-selector.cost_rate.cost  .metric.cost_rate.cost 
    {
      opacity:1
    }
    .series-selector.raw .metric.raw, .series-selector.rate .metric.rate, .series-selector.cost_rate .metric.cost_rate {
      display:block    
    }
 
    .details-header {display:none}

    #content {padding-right: 15px;}
    #content #campaign-box {width:100%}
    #page-container {width:inherit}
    .with-border { border-top-width: 1px; border-top-style: solid; border-top-color: rgb(221, 221, 221); }
    .dc-grid-top {font-size:13px}
    .dc-table-group { display:none }
    .campaign {cursor:pointer}
    .active-row {font-weight:bold}
    .expansion {
      margin-top:1px;
      padding-top:10px;padding-bottom:10px;
      /*border-top:1px solid rgb(221, 221, 221);*/
      max-height:0px;
      /*transition: max-height 0.2s;
      -webkit-transition: max-height 0.2s;
      -moz-transition: max-height 0.2s;*/
      overflow:hidden
    }
    .expansion .details-table {
      display:none
    }
    .active-row .expansion .details-table {
      display:block
    }
    /*.expansion div div div {background:white}*/
    .active-row .expansion {
      max-height:2500px;
      background:#f0f0f0;
      /*transition: max-height 0s;
      -webkit-transition: max-height 0s;
      -moz-transition: max-height 0s; */
    }
    .shadow{
      box-shadow:
      inset 0px 11px 8px -10px #CCC,
      inset 0px -11px 8px -10px #CCC; 

box-shadow: inset 0px 0px 5px 0px #CCC;
-webkit-box-shadow: inset 0px 0px 7px -1px #CCC;
-moz-box-shadow: inset 0px 0px 10px 2px #ABABAB;
-o-box-shadow: inset 0px 0px 10px 2px #ABABAB;
      
    }
    .row {
      margin-right: -10px;
      margin-left: -10px;
    }
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
      padding-left:10px;
      padding-right:10px
    }
  </style>
{% end %}

{% block page_sidebar %}
	<li class="active"><a href="/reporting"><img src="/static/img/sidebar/reporting-icon.png" alt="Reporting icon" /><span class="sidebar-label">campaign reporting</span></a></li>
  <!--<li><a href="/streaming"><img src="/static/img/sidebar/global-icon.png" alt="Global icon" /><span class="sidebar-label">global streaming</span></a></li>-->
    <!--<li><a href="/creative/reporting"><img src="/static/img/sidebar/creative-icon.png" alt="Creatives icon" /><span class="sidebar-label">creative reporting</span></a></li>-->
    <li><a href="/advertiser"><img src="/static/img/sidebar/pixel-icon.png" alt="Pixels icon" /><span class="sidebar-label">pixels</span></a></li>
 <li >
    <a href="/campaign" style="padding:0px;position:relative">
      <div style="opacity:.6;text-align:center;width:50px;line-height:50px;font-size:20px;color:white" class="glyphicon glyphicon-th-list"></div>
      <span class="sidebar-label" style="top:0px;margin-top:0px"> campaign manager</span>
    </a>
  </li>

  <li>
    <a href="/pixel" style="padding:0px;position:relative">
      <div style="opacity:.6;text-align:center;width:50px;line-height:50px;font-size:20px;color:white" class="glyphicon glyphicon glyphicon-star"></div>
      <span class="sidebar-label" style="top:0px;margin-top:0px"> pixel reporting</span>
    </a>
  </li>  
  <li>
    <a href="/hoverboard" style="padding:0px;position:relative">
      <div style="opacity:.6;text-align:center;width:50px;line-height:50px;font-size:20px;color:white" class="glyphicon glyphicon-ice-lolly"></div>
      <span class="sidebar-label" style="top:0px;margin-top:0px"> hoverboard</span>
    </a>
  </li>   
<!--
	<li><a href="global"><img src="/static/img/sidebar/global-icon.png" alt="Global icon" /><span class="sidebar-label">global streaming</span></a></li>
	
	<li><a href="intraweek"><img src="/static/img/sidebar/intraweek-icon.png" alt="Intraweek icon" /><span class="sidebar-label">intraweek overview</span></a></li>
	-->
{% end %}

{% block page_content %}

	<div id="wrapper" class="col-md-12" style="position:relative;height:100%"></div>	

{% end %}

{% block page_scripts %}
	<!-- IO GAUGE -->
  <script src="/static/js/dexie.js"></script>  
  <script src="/static/js/d3.v3.min.js"></script> 
  <script src="/static/js/rockerbox/ajax.js"></script>
	<script src="/static/js/rockerbox/data.js"></script> 
  <script src="/static/js/rockerbox/portal/ui.campaign.interval.js"></script>  
  <script src="/static/js/rockerbox/portal/ui.campaign.table.js"></script>   
  <script src="/static/js/rockerbox/portal/ui.campaign.selector.js"></script>    
  <script src="/static/js/rockerbox/portal/ui.campaign.chart.js"></script>     
  <script src="/static/js/rockerbox/portal/ui.campaign.slider_chart.js"></script>      
  <script src="/static/js/rockerbox/portal/ui.campaign.campaign_selector.js"></script>       
 
  <!-- <script src="/static/js/rockerbox/portal/ui.campaign.accordian.js"></script>-->
  <script src="/static/js/rockerbox/portal/ui.campaign.js"></script>
	<script src="/static/js/gauge.min.js"></script>
	
	<script src="/static/js/crossfilter.min.js"></script>
	<script src="/static/js/dc.mod.js"></script>
	<script src="/static/js/reporting.js"></script>
	<script src="/static/js/reporting-functions.js"></script>
  <script src="/static/js/mixpanel.js"></script>
  <script>
    addMixpanelEvent({{ advertiser_id }}, "{{ user_id }}", "load reporting");
  </script>
	<script>					
		var extUserID =  {{ advertiser_id }};

		$.getJSON("/api?table=advertiser&external_advertiser_id=" + extUserID, function(data){
		  $.getJSON("/account/permissions", function(permissions) {
		    console.log(permissions);
		    if ("error" in permissions){
		      return;
		    }
		// NEED TO GET THE DROPDOWN NOT TO SHOW UP WHEN THE USER HAS NO PERMISSIONS
		    var advertiser_name = data[0].advertiser_name.toLowerCase();
		    var dropdown = $('<div class="btn-group" id="advertiser" />');
		    dropdown.append('<button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">' + data[0].advertiser_name + '<span class="caret"></span></button>')
	            var ul = $('<ul class="dropdown-menu" />');
		    var p = permissions["results"]

		    // Create dropdown
		    for (var val in p) {
		      if (p[val]["advertiser_name"] != data[0].advertiser_name){
		          $('<li><a href="#" class="change-advertiser" value="'+ p[val]["external_advertiser_id"] + '">' + p[val]["advertiser_name"] + '</a></li>').appendTo(ul);
		      }
		    };
	            dropdown.append(ul);
		    dropdown.prependTo("#header #right-align");
		    //$('#header #right-align #user-name').text(advertiser_name);

		    // Listen for changes in the dropdown...
		    $(".change-advertiser").click(function() {
		      var id = $(this).attr("value");
		      var payload = "{\"advertiser_id\":" + id + "}"

		      $.post("/account/permissions", payload, function() {
		        location.reload();
		        console.log(id);
		      });
		    });
		  });
		});
 

    RB.portal.data.reporting(function(data){

      try {
      var crs = crossfilter(data);
      window.CRS = crossfilterNS(crs, dc);

      RB.portal.UI.campaign_bucket.buildPanel(CRS,d3.select("#wrapper"))
      
      // This should be moved inside at somepoint...
      var intervalBox = dc.customDataBox('.interval-span', "interval-group")
        .valueAccessor(function(d){ return formatDate(d.date_min) + " - " + formatDate(d.date_max) })
        .group(CRS.groups.all)
      
      //mainGraph.focus([ioStartDate, CRS.groups.all.summary().date_max])

      $('#page-loader').slideUp(200);
      } catch(e) {
        console.log(e)
      }
    });		
	</script>
	
{% end %}
