{% autoescape None %}
{% extends "../base.html" %}

{% block page_title %}Reporting{% end %}
{% block page_header %}Campaign overview{% end %}

{% block page_css %}
	<link href="/static/css/reporting-style.css" type="text/css" rel="stylesheet" media="screen">
	<link href="/static/css/dc.css" type="text/css" rel="stylesheet" media="screen">
  <style>
    .dc-axis {
      opacity:0
    }
    .dc-axis.placed {
      opacity:.5
    }
    
    .metric.raw , .metric.rate, .metric.cost_rate {
      display:none; opacity:.5
    }

    .interval-type {
      opacity:.5
    }

    .datetime .interval-type.datetime,  
    .daily .interval-type.daily, 
    .weekly .interval-type.weekly, 
    .monthly .interval-type.monthly {
      opacity:1; font-weight:bold
    }

    

    .details-table.raw .metric.raw, .details-table.rate .metric.rate, .details-table.cost_rate .metric.cost_rate {
      display:block    
    }
    .details-table.raw.imps .imps > .metric.raw, 
    .details-table.raw.views .views > .metric.raw,  
    .details-table.raw.visits .visits > .metric.raw,  
    .details-table.raw.clicks .clicks > .metric.raw,  
    .details-table.raw.conversions .conversions > .metric.raw,  
    .details-table.raw.cost .cost > .metric.raw ,

    .details-table.rate.imps .imps > .metric.rate, 
    .details-table.rate.views .views > .metric.rate,  
    .details-table.rate.visits .visits > .metric.rate,  
    .details-table.rate.clicks .clicks > .metric.rate,  
    .details-table.rate.conversions .conversions > .metric.rate,  
    .details-table.rate.cost .cost > .metric.rate ,

    .details-table.cost_rate.imps .imps > .metric.cost_rate, 
    .details-table.cost_rate.views .views > .metric.cost_rate,  
    .details-table.cost_rate.visits .visits > .metric.cost_rate,  
    .details-table.cost_rate.clicks .clicks > .metric.cost_rate,  
    .details-table.cost_rate.conversions .conversions > .metric.cost_rate,  
    .details-table.cost_rate.cost .cost > .metric.cost_rate
    {
      opacity:1
    }

    .series-selector.raw.imps  .metric.raw.imps, 
    .series-selector.raw.views  .metric.raw.views,  
    .series-selector.raw.visits  .metric.raw.visits,  
    .series-selector.raw.clicks  .metric.raw.clicks,  
    .series-selector.raw.conversions  .metric.raw.conversions,  
    .series-selector.raw.cost  .metric.raw.cost,
    .series-selector.imps  .metric.imps, 
    .series-selector.rate.views  .metric.rate.views,  
    .series-selector.rate.visits  .metric.rate.visits,  
    .series-selector.rate.clicks  .metric.rate.clicks,  
    .series-selector.rate.conversions  .metric.rate.conversions,  
    .series-selector.rate.cost  .metric.rate.cost,
    .series-selector.cost_rate.imps  .metric.cost_rate.imps, 
    .series-selector.cost_rate.views  .metric.cost_rate.views,  
    .series-selector.cost_rate.visits  .metric.cost_rate.visits,  
    .series-selector.cost_rate.clicks  .metric.cost_rate.clicks,  
    .series-selector.cost_rate.conversions  .metric.cost_rate.conversions,  
    .series-selector.cost_rate.cost  .metric.cost_rate.cost 
    {
      opacity:1
    }
    .series-selector.raw .metric.raw, .series-selector.rate .metric.rate, .series-selector.cost_rate .metric.cost_rate {
      display:block    
    }
 

    #content {padding-right: 15px;}
    #content #campaign-box {width:100%}
    #page-container {width:inherit}
    .with-border { border-top-width: 1px; border-top-style: solid; border-top-color: rgb(221, 221, 221); }
    .dc-grid-top {font-size:13px}
    .dc-table-group { display:none }
    .campaign {cursor:pointer}
    .active-row {font-weight:bold}
    .expansion {
      display:none;
      padding-top:10px;padding-bottom:10px;
      border-top:1px solid rgb(221, 221, 221);
      background:#f0f0f0
    }
    .expansion div div div {background:white}
    .active-row .expansion {display:block}
    .shadow{
      box-shadow:
      inset 0px 11px 8px -10px #CCC,
      inset 0px -11px 8px -10px #CCC; 

box-shadow: inset 0px 0px 5px 0px #CCC;
-webkit-box-shadow: inset 0px 0px 7px -1px #CCC;
-moz-box-shadow: inset 0px 0px 10px 2px #ABABAB;
-o-box-shadow: inset 0px 0px 10px 2px #ABABAB;
      
    }
    .row {
      margin-right: -10px;
      margin-left: -10px;
    }
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
      padding-left:10px;
      padding-right:10px
    }
  </style>
{% end %}

{% block page_sidebar %}
	<li class="active"><a href="/reporting"><img src="/static/img/sidebar/reporting-icon.png" alt="Reporting icon" /><span class="sidebar-label">campaign reporting</span></a></li>
    <li><a href="/streaming"><img src="/static/img/sidebar/global-icon.png" alt="Global icon" /><span class="sidebar-label">global streaming</span></a></li>
    <li><a href="/creative/reporting"><img src="/static/img/sidebar/creative-icon.png" alt="Creatives icon" /><span class="sidebar-label">creative reporting</span></a></li>
    <li><a href="/advertiser"><img src="/static/img/sidebar/pixel-icon.png" alt="Pixels icon" /><span class="sidebar-label">pixels</span></a></li>
 <li >
    <a href="/campaign" style="padding:0px;position:relative">
      <div style="opacity:.6;text-align:center;width:50px;line-height:50px;font-size:20px;color:white" class="glyphicon glyphicon-th-list"></div>
      <span class="sidebar-label" style="top:0px;margin-top:0px"> campaign manager</span>
    </a>
  </li>

  <li>
    <a href="/pixel" style="padding:0px;position:relative">
      <div style="opacity:.6;text-align:center;width:50px;line-height:50px;font-size:20px;color:white" class="glyphicon glyphicon glyphicon-star"></div>
      <span class="sidebar-label" style="top:0px;margin-top:0px"> pixel reporting</span>
    </a>
  </li>  
<!--
	<li><a href="global"><img src="/static/img/sidebar/global-icon.png" alt="Global icon" /><span class="sidebar-label">global streaming</span></a></li>
	
	<li><a href="intraweek"><img src="/static/img/sidebar/intraweek-icon.png" alt="Intraweek icon" /><span class="sidebar-label">intraweek overview</span></a></li>
	-->
{% end %}

{% block page_content %}

	<div id="campaign-box" class="box three-quarters-box"></div>	

{% end %}

{% block page_scripts %}
	<!-- IO GAUGE -->
  <script src="/static/js/d3.v3.min.js"></script> 
  <script src="/static/js/rockerbox/ajax.js"></script>
	<script src="/static/js/rockerbox/data.js"></script> 
  <script src="/static/js/rockerbox/portal/ui.campaign.accordian.js"></script>
	<script src="/static/js/gauge.min.js"></script>
	
	<script src="/static/js/crossfilter.min.js"></script>
	<script src="/static/js/dc.mod.js"></script>
	<script src="/static/js/reporting.js"></script>
	<script src="/static/js/reporting-functions.js"></script>
  <script src="/static/js/mixpanel.js"></script>
  <script>
    addMixpanelEvent({{ advertiser_id }}, "{{ user_id }}", "load reporting");
  </script>
	<script>					
        
		var extUserID =  {{ advertiser_id }};

		$.getJSON("/api?table=advertiser&external_advertiser_id=" + extUserID, function(data){
      $('#header #right-align #user-name').text(data[0].advertiser_name.toLowerCase());
    });

    RB.portal.data.reporting(function(data){

      var crs = crossfilter(data);
      window.CRS = crossfilterNS(crs, dc);

      RB.portal.UI.campaign_bucket.buildPanel(CRS,d3.select("#campaign-box"))
      
      intervalBox = dc.customDataBox('.interval-span', "interval-group")
        .valueAccessor(function(d){ return formatDate(d.date_min) + " - " + formatDate(d.date_max) })
        .group(CRS.groups.all)
      
      //mainGraph.focus([ioStartDate, CRS.groups.all.summary().date_max])

      $('#page-loader').fadeOut();
    });		
	</script>
	
{% end %}
