{% autoescape None %}
{% extends "../clean_base.html" %}

{% block right_toolbar %}
  <a class="btn btn-default btn-success" href="/streaming">
    Streaming
  </a>
{% end %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="advertiser">[[Advertiser Name]]</h2>
    </div>
    <div class="col-md-6 range text-right muted">
      <p style="margin-top:10px">
        <span class="date-range"></span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4 style="margin-top:20px"><span class="campaign">[[Campaign Name]]</span> Delivery</h4>
    </div>
    
  </div>
    {% block stuff %}default{% end %}  
</div> 
{% end %}
