{% extends "imps_base.html" %}

{% block stuff %}
<script type="text/javascript" language="javascript" src="http://cdn.datatables.net/tabletools/2.2.2/js/dataTables.tableTools.js"></script>
<link rel="stylesheet"  type="text/css" href="http://cdn.datatables.net/tabletools/2.2.2/css/dataTables.tableTools.css"></script>
<div class="table_wrapper">

<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">

<script>
$(document).ready( function () {
    $('.dataframe').dataTable( {
        "pageLength": 20,
        "order": [ 1, 'asc' ],
        "dom": 'T<"clear">lfrtip',
        "tableTools": {
            "sSwfPath": "/static/copy_csv_xls_pdf.swf"
        }       
    });   
    
    $( "#from_date" ).datepicker({
      defaultDate: "-1",
      changeMonth: true,
      numberOfMonths: 1,
      onClose: function( selectedDate ) {
        $( "#to_date" ).datepicker( "option", "minDate", selectedDate );
        $( "#from_date" ).datepicker( "option", "dateFormat", "y-mm-dd" );
      }
    });
    
    $( "#to_date" ).datepicker({
      defaultDate: "-1",
      changeMonth: true,
      numberOfMonths: 1,
      onClose: function( selectedDate ) {
        $( "#from_date" ).datepicker( "option", "maxDate", selectedDate );
        $( "#to_date" ).datepicker( "option", "dateFormat", "y-mm-dd" );
      }
    });    
} );
</script>

<form action="reporting">
<table>
<tr>
  <td><label for="from_date">From: </label></td>
  <td><input type="text" id="from_date" name="from_date"></td>
</tr>
<tr>
  <td><label for="to_date">To: </label></td>
  <td><input type="text" id="to_date" name="to_date"></td>
</tr>
<tr>
  <td>Domain Report: </td>
  <td><input type="text" name="segments" placeholder="Segments (comma-separated)" size=50></input></td>
  <td><input type="radio" name="group_by" value="domain"></input></td>
  <td><input type="submit" value="Submit"></td>
</tr>
<tr>
<td>DMA Report: </td>
    <td><input type="text" name="segments" placeholder="Segments (comma-separated)" size=50></input></td>
    <td><input type="radio" name="group_by" value="dma"></input></td>
    <td><input type="submit" value="Submit"></td>
</tr>
<tr>
  <td><input type="hidden" id="from_hour" name="from_hour"></td>
  <td><input type="hidden" id="to_hour" name="to_hour"></td>
</tr>
</table>

</form> 

{% raw stuff %}

{% end %}
