{% autoescape None %}
{% extends "../clean_base.html" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="http://rockerbox.com/css/dc.css">
<link rel="stylesheet" type="text/css" href="http://rockerbox.com/css/chosen.css">

<script type="text/javascript" src="http://rockerbox.com/js/d3.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/crossfilter.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/dc.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/colorbrewer.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/reporting.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/chosen.js"></script>

<div class='container'>

<h4>Add Segment</h4>

<div class="row">
  <div class="col-sm-9">
    <form role="form">
      <div class="new-item"></div>
    </form>
  </div>
  <div class="col-sm-3">
    <div class="data-loading-content">
      <img style="height:30px" src="/static/img/general/logo-small.gif" alt="Logo loader" /> loading volume data...
    </div>
  </div>
</div>
<br/>
<h4>Existing</h4>

<table class="table table-hover dc-data-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Volume (today)</th> 
      <th>Considered</th> 
      <th>Approved</th> 
      <th>Actions</th>
    </tr>
  </thead>
</table>

</div>
<script>




var data = {{ profile }},
  crs = crossfilter(data);

log = crs.dimension(function(d){ return "Segments"})
group = log.group().all()

var LOG = '<div class="col-sm-3"><input class="form-control" id="id" name="id" data-placeholder="id"></input></div>',
 DUPLICATE = '<div class="col-md-1"><button type="submit" id="batch" class="submit btn ">Add</button></div>' 
  
var NEW = "<div>" + LOG + DUPLICATE + "</div>"
$(".new-item").append(NEW)
var format = d3.format("0,000");

dc.dataTable(".dc-data-table")
  .dimension(log)
  .group(function (d) {
    return "Current Segments:" 
  })
  .size(10000)
  .columns([
    function (d) {
      return d.id
    },
    function (d) {
      return d.name
    },
    function (d) {
      return "<span id='volume-"+d.id+"'>"+format(d.imps)+"</span>"
    },
    function (d) {
      return "<span id='volume-"+d.id+"'>"+format(d.considered)+"</span>"
    }, 
    function (d) {
      return "<span id='volume-"+d.id+"'>"+format(d.approved)+"</span>"
    }, 
    function (d) {
      return d.actions
    }
  ])
  .sortBy(function (d) {
    return d.log;
  })
  .order(d3.ascending)
  .renderlet(function (table) {

    table.selectAll(".dc-table-row")
    $(document.getElementsByClassName('dc-table-row')).each(function(x,y){
      y.classList.add("warning")
    })
  });

dc.renderAll()


$(".remove").click(function(e){
  e.preventDefault()
  $.ajax({
    url: "/admin/segment/scrubbed/"+e.target.id.split("delete=")[1],
    type: "DELETE"
  }).done(function(){
    if (e.target.id.match("delete")) {
      $(e.target).parents("tr").remove()
    } else {
      $(e.target).parent().find("button").toggleClass("hidden")
    }
  })
})

var send_data = function(json_string,cb) {
  console.log(json_string)
  $.ajax({
    type: "POST",
    dataType: "json",
    url: "/admin/segment/scrubbed/", 
    data: json_string, 
    success: function(last){ 
      if (cb) cb()
    },
    failure: function(last) {
      console.log(last)
    }
  })
}

$('#batch').click(function(e){
  e.preventDefault()
  var serialized = $(e.target).parents("form").serializeObject()
  var stringified = JSON.stringify(serialized)
  send_data(stringified)
  return false;
})


$.getJSON("/admin/segment/reporting", function(d){ 
  $('.data-loading-content').hide()
  var h = {};
  $(d).each(function(a,x){
    h[x.segment] = {};
    h[x.segment].imps = x.imps;
    h[x.segment].considered = x.considered_imps; 
    h[x.segment].approved = x.approved_imps; 
  })
  window.h = h;
  $(data).each(function(a,x){
    try {
      data[a].imps = parseInt(h[x.id].imps) || 0
      data[a].considered = parseInt(h[x.id].considered) || 0 
      data[a].approved = parseInt(h[x.id].approved) || 0  
    } catch (e) {}
  })
  dc.redrawAll()
})

</script>
<script src="http://rockerbox.com/js/jquery.serialize-object.js"></script>

{% end %} 
