{% autoescape None %}
{% extends "../clean_base.html" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="http://rockerbox.com/css/dc.css">
<link rel="stylesheet" type="text/css" href="http://rockerbox.com/css/chosen.css">

<script type="text/javascript" src="http://rockerbox.com/js/d3.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/crossfilter.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/dc.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/colorbrewer.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/reporting.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/chosen.js"></script>

<div class='container'>

<h4>Add Segment</h4>

<form role="form">
  <div class="row new-item">
</form>
</div>
<br/>
<h4>Existing</h4>

<table class="table table-hover dc-data-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
</table>

</div>
<script type="text/javascript" src="/static/streaming.js"></script>
<script>




var data = {{ profile }},
  crs = crossfilter(data);

log = crs.dimension(function(d){ return "Segments"})
group = log.group().all()

var LOG = '<div class="col-sm-3"><input class="form-control" id="id" name="id" data-placeholder="id"></input></div>',
 DUPLICATE = '<div class="col-md-1"><button type="submit" id="batch" class="submit btn ">Add</button></div>' 
  
var NEW = "<div>" + LOG + DUPLICATE + "</div>"
$(".new-item").append(NEW)

dc.dataTable(".dc-data-table")
  .dimension(log)
  .group(function (d) {
    return "Current Segments:" 
  })
  .size(10000)
  .columns([
    function (d) {
      return d.id
    },
    function (d) {
      return d.name
    },
    function (d) {
      return d.actions
    }
  ])
  .sortBy(function (d) {
    return d.log;
  })
  .order(d3.ascending)
  .renderlet(function (table) {

    table.selectAll(".dc-table-row")
    $(document.getElementsByClassName('dc-table-row')).each(function(x,y){
      y.classList.add("warning")
    })
  });

dc.renderAll()


$(".remove").click(function(e){
  e.preventDefault()
  $.ajax({
    url: "/admin/scrubbed_segments/"+e.target.id.split("delete=")[1],
    type: "DELETE"
  }).done(function(){
    if (e.target.id.match("delete")) {
      $(e.target).parents("tr").remove()
    } else {
      $(e.target).parent().find("button").toggleClass("hidden")
    }
  })
})

var send_data = function(json_string,cb) {
  console.log(json_string)
  $.ajax({
    type: "POST",
    dataType: "json",
    url: "/admin/scrubbed_segments/", 
    data: json_string, 
    success: function(last){ 
      if (cb) cb()
    },
    failure: function(last) {
      console.log(last)
    }
  })
}

$('#batch').click(function(e){
  e.preventDefault()
  var serialized = $(e.target).parents("form").serializeObject()
  var stringified = JSON.stringify(serialized)
  send_data(stringified)
  return false;
})

</script>
<script src="http://rockerbox.com/js/jquery.serialize-object.js"></script>

{% end %} 
