{% extends "../clean_base.html" %}

{% block content %}
<style>
.page {
   margin:auto;
   width:1000px;
}
</style>

<div class="page">
<h2>Production</h2>
<ul>
  {% for i in production_links %}
      <li><a href="{% raw i[0] %}", target="_blank">{% raw i[1] %}</a></li>
  {% end %}
</ul>

<h2>Internal Dashboards</h2>
<ul>
  {% for i in dashboard_links %}
      <li><a href="{% raw i[0] %}", target="_blank">{% raw i[1] %}</a></li>
  {% end %}
</ul> 

<h2>Tools</h2>
<ul>
  {% for i in tools %}
      <li><a href="{% raw i[0] %}", target="_blank">{% raw i[1] %}</a></li>
  {% end %}
</ul> 

<h4>Delorean</h4>
<ul>
  {% for i in delorean_links %}
      <li><a href="{% raw i[0] %}", target="_blank">{% raw i[1] %}</a></li>
  {% end %}
</ul> 
 

<h2>Internal APIs</h2>

<h4>Hoverboard</h4>
<ul>
  {% for i in hoverboard_links %}
      <li><a href="{% raw i[0] %}", target="_blank">{% raw i[1] %}</a></li>
  {% end %}
</ul> 

<h4>Served Reporting</h4>
<ul>
  {% for i in advertiser_served_links %}
      <li><a href="{% raw i[0] %}", target="_blank">{% raw i[1] %}</a></li>
  {% end %}
</ul> 

<h4>Pixel Reporting</h4>
<ul>
  {% for i in advertiser_pixel_links %}
      <li><a href="{% raw i[0] %}", target="_blank">{% raw i[1] %}</a></li>
  {% end %}
</ul> 

<h4>Visits Reporting</h4>
<ul>
  {% for i in advertiser_visit_links %}
      <li><a href="{% raw i[0] %}", target="_blank">{% raw i[1] %}</a></li>
  {% end %}
</ul> 

<h4>Conversion Reporting</h4>
<ul>
  {% for i in advertiser_conversion_links %}
      <li><a href="{% raw i[0] %}", target="_blank">{% raw i[1] %}</a></li>
  {% end %}
</ul> 

<h4>Click Reporting</h4>
<ul>
  {% for i in advertiser_click_links %}
      <li><a href="{% raw i[0] %}", target="_blank">{% raw i[1] %}</a></li>
  {% end %}
</ul> 

<h4>Viewability Reporting</h4>
<ul>
  {% for i in advertiser_viewability_links %}
      <li><a href="{% raw i[0] %}", target="_blank">{% raw i[1] %}</a></li>
  {% end %}
</ul>

<h4>Domains</h4>
<ul>
  {% for i in domain_links %}
      <li><a href="{% raw i[0] %}", target="_blank">{% raw i[1] %}</a></li>
  {% end %}
</ul>

<h4>Demographics</h4>
<ul>
  {% for i in demographics_links %}
      <li><a href="{% raw i[0] %}", target="_blank">{% raw i[1] %}</a></li>
  {% end %}
</ul>

<h2>Data Pipeline Tools</h4>
<ul>
  {% for i in datapipeline_links %}
      <li><a href="{% raw i[0] %}", target="_blank">{% raw i[1] %}</a></li>
  {% end %}
</ul>

<h2>Deprecated</h2>
<ul>
  {% for i in deprecated %}
      <li><a href="{% raw i[0] %}", target="_blank">{% raw i[1] %}</a></li>
  {% end %}
</ul>
</div>
{% end %}
