<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
				<script src="http://mbostock.github.com/d3/d3.v2.js"></script>
				<script src="http://metrics.rockerbox.com:8080/static/bar.js"></script>
				<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
				<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

				<link href="http://rockerbox.com/css/bootstrap.css" rel="stylesheet">
				<link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">
				<style>
						td {max-width:200px;max-height:40px;overflow:hidden}
						path { stroke: steelblue; stroke-width: 1; fill: none; }
						.axis {font-size:8px}
						.bar { fill: steelblue; }
						.bar:hover { fill: brown; }
						.axis { font: 10px sans-serif; }
						.axis path,
						.axis line { fill: none; stroke: #ddd; shape-rendering: crispEdges; }
						.x.axis path { display: none; }
            .x.axis text { }
            body {
              shape-rendering: crispEdges;
            }

            .day {
              fill: #fff;
              stroke: #ccc;
            }

            .month {
              fill: none;
              stroke: #000;
              stroke-width: 2px;
            }

            .RdYlGn .q0-11{fill:rgb(165,0,38)}
            .RdYlGn .q1-11{fill:rgb(215,48,39)}
            .RdYlGn .q2-11{fill:rgb(244,109,67)}
            .RdYlGn .q3-11{fill:rgb(253,174,97)}
            .RdYlGn .q4-11{fill:rgb(254,224,139)}
            .RdYlGn .q5-11{fill:rgb(255,255,191)}
            .RdYlGn .q6-11{fill:rgb(217,239,139)}
            .RdYlGn .q7-11{fill:rgb(166,217,106)}
            .RdYlGn .q8-11{fill:rgb(102,189,99)}
            .RdYlGn .q9-11{fill:rgb(26,152,80)}
            .RdYlGn .q10-11{fill:rgb(0,104,55)}
				</style>
		</head>
   <body data-spy="scroll" data-target=".navbar" data-offset="150"> 
   <div class="navbar-wrapper">
	 	 <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#">
				      <img src="http://rockerbox.com/img/logo.png" width="150px" style="margin-top:-5px">
	          </a>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <li><a href="#about">About</a></li>
 							<li><a href="#technology">Tech</a></li>
	            <li><a href="#team">Team</a></li>
							 <li><a href="#contact">Contact</a></li>
	           
	            <!-- <li><a href="demo.html">Demo</a></li> -->
	          </ul>
	        </div><!--/.nav-collapse -->
	    </nav>
		</div>
 		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class=""><a href="/streaming">Streaming</a></li>
            <li><a href="/debug">Arbitrage</a></li>
            <li class="active"><a href="/lookback">Lookback</a></li>
            <li><a href="#">Export</a></li>
          </ul>
        </div>
				<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h3 class="page-header">Lookback Dashboard</h3>
          <h5>Categorization of Impressions Seen over time</h5>
          <br/>
					<div  id="timeline"></div>
          <br/>
          <h5 id="summary"></h5>
          <div id="verbose"></div>
				</div>
			</div>
		</div>
    </body>
  <style>

  svg {
    font: 8px sans-serif;
  }

  .background {
    fill: #fff;
  }

  line {
    stroke: none;
  }

  text.active {
    fill: red;
  }
  svg {
    font-size:10px
  }

  </style>
<script>

</script>
    <script>
    var generateLookback = function(lookback_data) {
        window.lookback_data = lookback_data;
        var width = 1095,
            height = lookback_data['columns'].length * 16 + 30,
            div = d3.select('#timeline'),
            svg = div.append('svg')
                .attr('width', width)
                .attr('height', height) ,
            rw = 15,
            rh = 15;   
           
        var offset = 15;

        var x = d3.scale.linear()
            .domain([0,60])
            .range([0,960])

        var q = d3.svg.axis()
            .scale(x)
            .ticks(10)
            .tickSize(lookback_data['columns'].length*16+13)
            .orient('bottom')


        var headers = svg.append("g")
            .attr("transform",function(d,i){return 'translate(105,10)'})
            .attr("class","time_header")

        var impressions = svg.append("g")
            .attr("transform",function(d,i){return 'translate(105,15)'})

        var served = impressions.selectAll('g')
            .data(lookback_data["served"])
            .enter()
            .append('rect')
                .attr('fill',function(d,i) {return d == 1 ? 'yellow' : 'none'})
                .attr('fill-opacity',0.5)
                .attr('x', function(d, i) { return (rw + 1) * i ; })
                .attr('width', rw)
                .attr('height',(rh+1)*(lookback_data['columns'].length))
        

        var conversions = svg.append("g")
            .attr("transform",function(d,i){return 'translate(105,15)'})

        var events = conversions.selectAll('g')
            .data(
                d3.range(0,lookback_data['served'].length).map(function(d){return ((d % 61 == 0) && (d > 0)) ? 1: 0})
            )
            .enter()
            .append('g')
            .attr("class",'asdf')

        events
            .append('rect')
                .attr('fill',function(d,i) {return d == 1 ? 'red' : 'none'})
                .attr('fill-opacity',0.5)
                .attr('x', function(d, i) { return (rw + 1) * i ; })
                .attr('width', rw)
                .attr('height',(rh+1)*lookback_data['columns'].length)


        var text = svg.selectAll('text')
            .data(lookback_data['columns'])
            .enter()
            .append('text')
            .text(function(d){return d})
            .attr('transform', function(d, i) {
                return 'translate(0, ' + ((rh + 1) * (i+.8) + 15) + ')';
            });

        // Create a group for each row in the data matrix and translate the 
        // group vertically

        var grp = svg.selectAll('g')
            .data(lookback_data['data'],function(d){return d+1})
            .enter()
            .append('g')
            .attr('transform', function(d, i) {
                return 'translate(105, ' + ((rh + 1) * i + 15) + ')';
            });

        // For each group, create a set of rectangles and them to the inner array
        // (the inner array is binded to the group)
        var color = d3.scale.linear()
            .domain([0, 4])
            .range(["white", "green"]);

        grp.selectAll('rect')
            .data(function(d) { return d; })
            .enter()
            .append('rect')
                .attr('fill',function(d){ return d > 0 ? color(Math.log(d)+.3) : "#fefefe"})
                .attr('fill-opacity',function(d){ return d > 0 ? 0.9 : 0.7})
                .attr('x', function(d, i) { return (rw + 1) * i; })
                .attr('width', rw)
                .attr('height', rh)
                .on('mouseover',function(imps,x,y){
                    $('#summary').text(imps + ' Imps')
                    var domains = lookback_data['domains']
                    if (domains[x][y].length > 0) {
                        $('#verbose').text("")
                        domains[x][y].map(function(domain){
                            $('#verbose').append("<div>"+domain.replace(/\\\//g,"/")+"</div>")
                        })
                    }
                })
         
        svg.append("g")
            .attr("class", "x axis")
            .attr("height",20)
            .attr("transform", "translate(104," + 0 + ")")
            .attr("width",100)
            .call(q)
          .selectAll("text")
            .attr("y", -0)
            .attr("x", -17)
            .attr("height",20)
            .text(function(x){return "t - " + x })
            .style("text-anchor", "beginning");

    }
    $.get( window.location.origin + 
        window.location.pathname + 
        '.json' + 
        window.location.search,
      generateLookback
    )
    
     
    </script>


		<script>
		element.prototype.prependchild = function(child) { this.insertbefore(child, this.firstchild); };

		var socketwrapper = function(params) {
			var self = this;
			this.id = math.round(math.random() * 10000000);

			this.createsocket = function(params){
				var socket = new websocket("ws://107.170.18.93/websocket?id=" + this.id);

				socket.onopen = function() {
					self.sendmessage("initialize")
				}

				socket.onmessage = function(event) {
					var parsed = json.parse(event.data)
					self.onmessage(parsed,event)
				}
				this.socket = socket;
			}

			this.sendmessage = function(message){
				if (!this.socket) this.createsocket()
				this.socket.send(message)
			}

			this.onmessage = function(json,event) { }
			this.createsocket(params)

		}

		var streamingbarwrapper = function(id,steps,width,height){
			var self = this;
			this.t = 0
			this.data = d3.range(steps).map(function(){
				self.t++;
				return {"time":self.t,"value":0}
			})
			
			this.graph = dynamicbar(id,this.data,width,height)

			this.add = function(json) {
				this.t++;
				this.data.shift()
				this.data.push({"time":this.t,"value":json.length})
				this.graph(this.data)
			}
		}

		var rawdatawrapper = function(steps){
			this.data = d3.range(steps)
			this.add = function(json) {
				this.data.shift()
				this.data.push(json)
				this.onadd.bind(this)(json)
			}
			this.group_user = function() {
				var m = [], n = {}
				this.data.map(function(x){
					var r = []
					for (var y in x) {
						var q = []
						for (var z in x[y]['result']) {
							q.push(x[y]['result'][z])
						}
						m.push(q)
					}
				})
				m.map(function(x){
					if (n[x[1]] === undefined) {
						n[x[1]] = []
					}
					n[x[1]].push(x)
				})
				return n
			}
			this.group_domain = function() {
				var m = [], n = {}
				this.data.map(function(x){
					var r = []
					for (var y in x) {
						var q = []
						for (var z in x[y]['result']) {
							q.push(x[y]['result'][z])
						}
						m.push(q)
					}
				})
				m.map(function(x){
					if (n[x[0]] === undefined) {
						n[x[0]] = []
					}
					n[x[0]].push(x)
				})
				return n
			}
			this.onadd = function(){}
			
		}
		

		var messageprocessor = function() {

			var messagecontainer = document.getelementbyid("messages"),
					bar = new streamingbarwrapper('#graph',60,5,80),
					self = this;

			this.raw_data = new rawdatawrapper(60);
			this.raw_data.onadd = function(json){
				var table = messagecontainer.getelementsbytagname("table"),
						keys = object.keys(json[0]['result']);

				if (table.length == 0) 
					self.createheaders(keys);

				var header = messagecontainer.getelementsbytagname("thead")[0];
				self.insertrows(json.map(function(x){return x['result']}),keys,header);
				self.domaintable(this.group_domain());
				self.usertable(this.group_user());
			}

			this.usertable = function(data) {
				var table = "<table class='table table-condensed'><thead><tr>" + 
					"<th>user</th>"+
					"<th>count</th>"+
					"<th>approved</th>"+
					"<th>price</th>"+
					"</tr></thead>"
				var sorted = []

				for (var key in data) {
					sorted.push([
						key, 
						data[key].length, 
						data[key].map(function(r){return r[7]}).reduce(function(pv, cv) { return pv + cv; }, 0),
						(data[key].map(function(r){return parsefloat(r[2])}).reduce(function(pv, cv) { return pv + cv; }, 0)/data[key].length).tofixed(2)
					])
				}
				sorted = sorted.sort(function(x,y){return y[1]-x[1]})
				for (var key in sorted) {
					table += "<tr><td>" + 
						sorted[key][0] + "</td><td>" + 
						sorted[key][1] + "</td><td>" + 
						sorted[key][2] + "</td><td>" + 
						sorted[key][3] + "</td><td>" 
				}
				

				table += "</table>"
				document.getelementbyid("users").innerhtml = table

			}


			
			this.domaintable = function(data) {
				var table = "<table class='table table-condensed'><thead><tr>" + 
					"<th>domain</th>"+
					"<th>count</th>"+
					"<th>uniques</th>"+
					"<th>approved</th>"+
					"<th>advertisers</th>"+
					"<th>price</th>"+
					"</tr></thead>"
				var sorted = []

				for (var key in data) {
					sorted.push([
						key, 
						data[key].length, 
						data[key].map(function(r){return r[1]}).filter(function (e, i, arr) { return arr.indexof(e, i+1) === -1; }).length,
            data[key].map(function(r){return r[7]}).reduce(function(pv, cv) { return pv + cv; }, 0),
						data[key].map(function(r){return r[4]}).filter(function (e, i, arr) { return arr.indexof(e, i+1) === -1; }).length,
						(data[key].map(function(r){return parsefloat(r[2])}).reduce(function(pv, cv) { return pv + cv; }, 0)/data[key].length).tofixed(2)
					])
				}
				sorted = sorted.sort(function(x,y){return y[1]-x[1]})
				for (var key in sorted) {
					table += "<tr><td>" + 
						sorted[key][0] + "</td><td>" + 
						sorted[key][1] + "</td><td>" + 
						sorted[key][2] + "</td><td>" + 
						sorted[key][3] + "</td><td>" + 
						sorted[key][4] + "</td><td>" + 
						sorted[key][5] + "</td></tr>"		
				}
				

				table += "</table>"
				document.getelementbyid("domains").innerhtml = table

			}

			this.createheaders = function(keys) {
				headers = "<table class='table'><thead><tr id='msgheader'>"
				for (var key in keys) {
					headers += "<th>"+keys[key]+"</th>"
				}
				headers += "</tr></thead></table>"
				messagecontainer.innerhtml = headers
			}
			this.insertrows = function(values,keys,loc) {
				for (var row in values) {
					var html_row = document.createelement("tr"),
							content = "";

					for (var key in keys) {
							content += "<td>"+values[row][keys[key]]+"</td>"
					}
					html_row.innerhtml = content
					loc.parentnode.insertbefore(html_row,loc.nextsibling)
				}	
			}
			this.onmessage = function(json,event) {
				
				bar.add(json);
				self.raw_data.add(json);
				
			}
		}
		
		var socket = new socketwrapper();
		var processor = new messageprocessor()
		socket.onmessage = processor.onmessage

		$('#filter').click(socket.sendmessage)
		</script>
</html>
