{% extends "../clean_base.html" %}

{% block content %}

<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

<div id="content" class="container">
  <div class="row">
    <script>
      data = {{data}}
      console.log(data)
    </script>
  </div>

  <table id="data-table" class="table table-hover table-striped dc-data-table">
    <thead>
      <tr class="data-table-headers"></tr>
    </thead>
  </table>
</div>

<script>
  var URL = window.location.pathname + window.location.search
  var cols = ["id", "opt_type", "config_name", "param", "value", "last_update", "active"]
  var editable = ["opt_type", "param", "value", "config_name", "active", "advertiser"]

  var addParam = function(u, p) {
    return u.indexOf("?") >= 0 ? u + "&" + p : u + "?" + p
  }

  URL = addParam(URL, "format=json")

  var $header = $("<tr></tr>")
  $.each(cols, function(i, col){
    $header.append("<th>" + col + "</th>")
  })
  $("#data-table").append($header)

  $.getJSON(URL, function(data){
    if (data.length === 0) {
      $("#data-table").append("<tr><td>Sorry, no results available.</td></tr>");
    }
    else {
      $.each(data, function(i, result) {
        var $row = $("<tr></tr>")
        var rowId = result.id
        $.each(cols, function(i, k) {
          if ($.inArray(k, editable) != -1){
            $row.append("<td><a href='#' data-pk=" +  rowId + " class=" + k + ">" + result[k] + "</a></td>")
          }
          else {
            $row.append("<td>" + result[k] + "</td>")
          }
        })
        $("#data-table").append($row)
      })
      console.log(data[0])
      console.log(Object.keys(data[0]))
      $.each(editable, function(i, key) {
        $('a.'+key).editable({
                                type: 'text',
                                name: key,
                                url: '/admin/opt_config',
                                title: 'Enter a value for '+key
                            });
      })
    }
  });
</script>

{% end %}
