{% autoescape None %}
{% extends "../clean_base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/css/dc.css">
<link rel="stylesheet" type="text/css" href="/static/css/chosen.css">
<script type="text/javascript" src="/static/js/d3.js"></script>
<script type="text/javascript" src="/static/js/checks.js"></script> 

<div id="suite-content" class='container'>
  <div class="row">
    <h4>Fixture Suites</h4>
  </div>
</div>

<script>
  var d = {{data}},
    wrapped = buildChecksWrapper(d,"#suite-content",'name')

    fixture_heading = buildSuiteInfo(wrapped)

    buildFixtureInfo(fixture_heading,true)
    d3.json("/admin/campaign_check/fixtures?format=json", function(d){
      addSuiteFixture(wrapped,d)
    })

</script>

{% end %}   
