/* COPYRIGHT INFO HERE */

/* FUNCTIONS/VARIABLES */

.border-radius(@border) {
  -webkit-border-radius: @border;
  -moz-border-radius: @border;
  border-radius: @border;
}

@blue: #29a3d8;

@red: #e46161;

@orange: #ffb952;

@green: #5ec34b;

/* CONTENT */

#content {
    #overall-box {
        #overall-stats {
            margin:0px 40px;
            li {
                margin:0px 25px;
                padding:10px 0px 12px;
                display:inline-block;
                text-align:center;
                .overall-item-header {
                    font-family:"Novecento", sans-serif;
                    font-weight:400;
                    font-size:18px;
                }
                .overall-item-value {
                    font-family:"Source Sans Pro", sans-serif;
                    font-weight:700;
                    font-size:25px;
                    margin-top:6px;
                    margin-bottom:3px;
                }
            }
        }
    }
    #filter-box {
        .box-title, #filter-radio {
            float:left;
        }
        #filter-radio {
            margin-left:60px;
            margin-top:20px;
            list-style-type:none;
            li {
                display:inline-block;
                font-family:"Novecento", sans-serif;
                font-weight:400;
                font-size:16px;
                cursor:pointer;
                margin-right:40px;
                img {
                    margin-right:10px;
                    margin-bottom:-5px;
                }
            }
        }
        .custom-filter-select {
            display:inline-block;
            padding:15px;
            padding-right:10px; 
            font-family:"Source Sans Pro", sans-serif;
            font-weight:300;
            font-size:16px;     
            .filter-text {
                display:inline-block;
                width:110px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .filter-reset {
                font-family:"Novecento", sans-serif;
                font-weight:400;
                font-size:14px;
                color:#aaa;
                margin-left:10px;
                border-bottom:1px solid transparent;
                transition:all .15s linear;    
                visibility:hidden;
                &:hover {
                    cursor:pointer;
                    border-bottom:1px solid #aaa;
                }
            }         
        }
    }
	#map-box {
        height:550px;
		 /*background:lighten(#29a3d8, 20%); */
		background:#ccc;
        position:relative;
        #map-loading {
            background:rgba(0,0,0,.3);
            .data-loading-content {
                color:#fff;
                margin-left:-74px;
            }
        }
        .tooltip {              
            position: absolute;            
            width: 100%;
            margin-top:-40px;
            margin-left:20px;       
            color:#fff;           
            font-family:"Source Sans Pro", sans-serif;
            font-weight:400;
            font-size:14px;  
            .tooltip-content {
                display:inline-block;
               white-space:nowrap;
                box-shadow:0px 0px 3px #fff;
                background:#333;
                padding:0px 10px 6px;
                .tooltip-values {
                    display:inline-block;
                    margin-left:8px;
                    padding-top:2px;
                    &#tooltip-imps {
                        border-top:3px solid @green;
                        margin-left:15px;
                    }
                    &#tooltip-uniques {
                        border-top:3px solid @orange;
                    }
                }
            }        
        }
	}
    #domain-box, #location-box, #campaign-box {
        position:relative;
		text-align:center;
		#domain-table, #location-table, #campaign-table {
			margin-top:10px;
			ul {
				padding-left:15px;
				li {
					display:inline-block;
					margin-right:20px;
				}
				.domain-name, .location-name, .campaign-name {					
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
				}
                .domain-name, .location-name {
                    width:260px;
                }
                .campaign-name {
                    width:600px;
                }
                .domain-imps, .location-imps {
                    width:120px;
                }
                .campaign-imps, .campaign-uniques {
                    width:200px;
                }
                .domain-uniques, .location-uniques {
                    width:70px;
                }
			}
			.header-row {
				margin-bottom:5px;
                li {
                    img {
                        position:absolute;
                         width:15px;
                         margin-top:5px;
                         margin-left:5px;
                    }  
                    &:hover {
                        cursor:pointer;
                    }
                }
			}
			.domain-row, .location-row, .campaign-row {
				padding:10px 15px;
				font-family:"Source Sans Pro", sans-serif;
				font-weight:300;
				font-size:16px;
				border-top:1px solid #ddd;		
				transition:all .15s linear;
				&:hover {
					background:#f0f0f0;
					cursor:pointer;
				}
                li:not(.domain-name):not(.location-name):not(.campaign-name) {
                    font-weight:700;
                }
			}
		}
		.show-more {
			display:none;
			margin:15px 0px;
		}
	}
}

