.selectbar {
  h5 a {
    padding: 0 0 0 10px;
    height: 100%;
  }
}
.page_tabs_item {
  padding: 20px 30px;
  display: inline-block;
  border-right: solid 1px rgb(240, 240, 240);
  cursor: pointer;
}
.page_tabs_item.active {
  background-color: #FFF;
  font-weight: bold;
}

.max-width-330 {
	width: 330px;
	.bar.series.views {
		min-height: 305px;
	}
}

// Segment page header fix
.action-view-wrapper .heading {
	margin-top: -85px !important;
}

.page-header-controls {
	display: inline-block;
	float: right;
	padding: 10px 15px 8px 15px;
	border: solid 2px;
	line-height: 14px;
	border-radius: 21px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
	margin: 0 0 30px 0;
	border-color: #AAA;
	color: #AAA;
	cursor: pointer;
}

.page-header-controls:hover {
	border-color: #888;
	color: #888;
}
