.card {
  overflow: auto;

  .bar-series {
    overflow: auto;
  }

  h3 {
    margin: 0;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: #888;
    letter-spacing: .05em;
  }

  div.description {
    margin-bottom: 20px;
  }
}

.ct-chart {
  /*width: 400px;
    height: 450px;*/
  border-style: solid;
  border-width: 1px;
  border-color: #f0f0f0;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  background-color: #FFFFFF;
  margin-bottom: 30px;
}
.ct-chart svg {
  float: center;
}
.ct-chart .chart-title {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color: #5A5A5A;
  text-align: left;
}
.ct-chart .chart-total {
  width: 100%;
  padding: 10px 10px 10px 0;
  font-size: 24px;
  font-weight: bold;
  color: #5A5A5A;
  text-align: left;
}
.ct-chart .chart-description {
  width: 100%;
  font-size: 14px;
  color: #5A5A5A;
  text-align: left;
}
.chart-wrapper {
  padding-top: 20px;
}
.ct-line {
  stroke-width: 3px;
}
.ct-point {
  stroke-width: 8px;
}
.ct-series-a .ct-line {
  stroke: #428bca;
}
.ct-series-a .ct-area {
  fill: #428bca;
}
.ct-series-a .ct-point {
  stroke: #428bca;
}
.ct-series-a .ct-bar {
  stroke: #428bca;
}
.ct-label {
  font-size: 12px;
}
