{% extends clean_base.html %}

{% block content %}
<link rel="stylesheet" type="text/css" href="http://rockerbox.com/css/dc.css">
<script type="text/javascript" src="http://rockerbox.com/js/d3.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/crossfilter.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/dc.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/colorbrewer.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/reporting.js"></script>
<script src="/static/table.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<link href="http://rockerbox.com/css/bootstrap.css" rel="stylesheet">

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css">

<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>

<style>
.content{
   width:1000px;
   margin:auto;
}
.header{
   float:left;
   width:100%;
}
.header h1{
   text-align:center;
}
.body{
   width:100%;
   float:left;
   padding-top:20px;
   margin:auto;
}
div {
/*margin-left:10%;
margin-right: 10%;*/
}
div.content {
}
</style>
<div class="paths content row">
<style>
.content .label {
  min-width:100px;color:black;display:inline-block
}
</style>
<script>
var content = d3.select(".content");

var data = {% raw data %}
var draw_parameters = function(target,params) {
  target.text("")
  var param_row = target.selectAll(".param").data(params)

  param_row.enter()
    .append("div")
    .classed("param",true)

  param_row.exit().remove()

  param_row.append("div").classed("label",true)
    .text(function(x){ return x.key })

  param_row.append("input")
    .style("width","160px")


  param_row.append("div")
    .style("display","inline-block")
    .style("font-size","11px")
    .style("margin-left","10px")

    .text(function(x){return x.description })


}

var select_target = content.append("div").classed("selector",true)

var select_target_adv = content.append("div").classed("selector_adv",true)
var params_target = content.append("div").classed("params",true)

var submit_target = content.append("div").classed("submit",true)

var params_target2 = content.append("div").classed("params2",true)

params_target2.append("div").classed("label script",true).text("Debug")
params_target2.append("input")
    .classed("paraminput2",true)
    .style("width","200px")
    .style("margin-top", "50px")
    .style("margin-left", "1px")
params_target2.append("div").classed("break",true).html("<br/>")
params_target2.append("div").classed("label script2",true).text("Advertiser")
params_target2.append("input")
    .classed("paraminput3",true)
    .text("advertiser")
    .style("width","200px")
    .style("margin-top", "-10px")
    .style("margin-left", "1px")

var submit_target2 = content.append("div").classed("run_all",true)

var resp_target = content.append("div").classed("response",true)

var resp_target2 = content.append("div").classed("response2",true)

submit_target.append("button")
  .text("submit")
  .style("width","160px")
  .style("margin-left","100px")
  .on("click",function(x){

   var d = params_target.datum()
   var adv_div = select_target_adv[0][0].children[1]
    console.log(adv_div.options[adv_div.selectedIndex].value)
    
    var obj = {
      "udf": d.key,
      "advertiser":adv_div.options[adv_div.selectedIndex].value
    }

    params_target.selectAll(".param").each(function(y){
      obj[y.key] = d3.select(this).selectAll("input").node().value;

      if (y.type == "object") obj[y.key] = JSON.parse(obj[y.key])
    })

    d3.xhr("/cache")
      .post(
        JSON.stringify(obj),
        function(err,x) {
          var j = JSON.parse(x.response)

          resp_target.html("Job Submitted: <br><pre>" + x.response + "</pre><br>")
          //resp_target.append("a")
          //  .attr("href","/jobs/" + j.job_id)
          //  .attr("target","_blank")
          //  .text("View job status") 
        }
      )
  })


submit_target2.append("button")
    .text("Run All for Advertiser")
    .style("width", "200px")
    .style("margin-left","100px")
    .on("click",function(x){

    var data_sample = {"runall":"true"}
    var input_index = d3.selectAll("input")[0].length-1
    data_sample["advertiser"] = d3.selectAll("input")[0][input_index].value

    var debug_index = d3.selectAll("input")[0].length-2
    debug_value = d3.selectAll("input")[0][debug_index].value
    data_sample['debug'] = debug_value

    d3.xhr("/cache")
      .post(
        JSON.stringify(data_sample),
        function(err,x) {
          var j = JSON.parse(x.response)

          resp_target2.html("Job Submitted: <br><pre>" + x.response + "</pre><br>")
          resp_target.append("a")
            .attr("href","/jobs/" + j.job_id)
            .attr("target","_blank")
            .text("View job status") 
        }
      )
})

data.map(function(item){
  var name = item.key,
    cls= item.class,
    type = item.type;
  
  var label = select_target.selectAll("div.label." + cls)
    .data([item])
    .enter()
    .append("div")
    .classed("label " + cls,true)
    .style("color","black")
    .text(function(x){return x.key })

  var input = select_target.selectAll(type + "." + cls)
    .data([item])
    .enter()
    .append(type)
    .classed(cls,true)
    .style("width","160px")
    .on("change",function(x){
      var value = this.value
      var filtered = x.values.filter(function(y){ return y.key == value });
      if (filtered.length > 0) draw_parameters(params_target.datum(filtered[0]),filtered[0].parameters);
      select_target.selectAll("div.desc").text(filtered[0].description)
      return 
    0})

  var option = input.selectAll("option").data(function(x){return x.values}).enter()
    .append("option")
    .text(function(x){
      return x.key
    })

  var labeladv = select_target_adv.selectAll("div.label."+"adv")
    .data([item])
    .enter()
    .append("div")
    .classed("label adv",true)
    .style("color","black")
    .text("advertiser")

  var input_adv = select_target_adv.selectAll(type + ".adv")
    .data([item])
    .enter()
    .append(type)
    .classed(cls,true)
    .style("width","160px")

  var option = input_adv.selectAll("option").data(function(x){return x.adv}).enter()
    .append("option")
    .text(function(x){
      return x
    })

  var desc = select_target.selectAll("div.desc.adv" )
    .data([item])
    .enter()
    .append("div")
    .classed("desc " + cls,true)
    .style("color","black")
    .style("margin-left","10px")
    .style("display","inline-block")

})


</script>
<a href="/logging" target="_blank">LOG</a>

</div>

<div style="height:450px;overflow:scroll;position:relative" class="outer-table-wrapper"></div>
  <script>

var d3_updateable = function(target,selector,type,data,joiner) {
  var type = type || "div"
  var updateable = target.selectAll(selector).data(
    function(x){return data ? [data] : [x]},
    joiner || function(x){return [x]}
  )

  updateable.enter()
    .append(type)

  return updateable
}

var d3_splat = function(target,selector,type,data,joiner) {
  var type = type || "div"
  var updateable = target.selectAll(selector).data(
    data || function(x){return x},
    joiner || function(x){return x}
  )

  updateable.enter()
    .append(type)

  return updateable
}


    //function buildTable(data) {
      
    //  var tt = d3.selectAll(".outer-table-wrapper")

    //  table.table(tt)
        //.data({"key":"Data","values":data}) 
    //    .data({"key":"Data","values":data['values']})
    //    .draw()

    //}
    //buildTable({% raw data %})

         
</script>

<div class="content">
</div>

{% end %}
