{% extends clean_base.html %}

{% block content %}
<link rel="stylesheet" type="text/css" href="http://rockerbox.com/css/dc.css">
<script type="text/javascript" src="http://rockerbox.com/js/d3.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/crossfilter.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/dc.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/colorbrewer.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/reporting.js"></script>
<script src="/static/table.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<link href="http://rockerbox.com/css/bootstrap.css" rel="stylesheet">

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css">

<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>

<style>
.content{
   width:1000px;
   margin:auto;
}
.header{
   float:left;
   width:100%;
}
.header h1{
   text-align:center;
}
.body{
   width:100%;
   float:left;
   padding-top:20px;
   margin:auto;
}
div {
margin-left:10%;
margin-right: 10%;
}
div.content {
margin-left:-12%;
}
button {
margin-bottom: 1%;
}
</style>
<div class="paths content row">
{% raw paths%}
</div>

<!--<div style="height:450px;overflow:scroll;position:relative" class="outer-table-wrapper"></div>-->
<div id="changetable">
<div id=buttons>
<!--<button type="button" class="btn btn-primary" onclick=buildTable2()>Show All Segments</button>
<button onclick=buildTable3() type="button" class="btn btn-primary"> Show Missing Segments </button>-->
</div>
</div>
<div style="overflow:scroll;position:relative;margin-left:-5%" class="outer-table-wrapper"></div>
  <script>
var d3_updateable = function(target,selector,type,data,joiner) {
  var type = type || "div"
  var updateable = target.selectAll(selector).data(
    function(x){return data ? [data] : [x]},
    joiner || function(x){return [x]}
  )
  updateable.enter()
    .append(type)
  return updateable
}
var d3_splat = function(target,selector,type,data,joiner) {
  var type = type || "div"
  var updateable = target.selectAll(selector).data(
    data || function(x){return x},
    joiner || function(x){return x}
  )
  updateable.enter()
    .append(type)
  return updateable
}

var data = {% raw data %};

//function buildTable2() {
//      var tt = d3.selectAll(".outer-table-wrapper")
//      table.table(tt)
//        .data({"key":"Data","values":data['values']})
//        .draw()
//}


    function buildTable(data) {
      var tt = d3.selectAll(".outer-table-wrapper")
      table.table(tt)
        //.data({"key":"Data","values":data})
        .data({"key":"Data","values":data['values']})
        .headers(data['headers'])
        .draw()
    }
    buildTable(data)
         
</script>

<div class="content">
</div>

{% end %}
