{% extends clean_base.html %}

{% block content %}

<style>
a {
font-size: 150%;
margin-left: 15%;
}
h2 {
margin-left: 10%;
}
</style>

<h2> Welcome to the Rockerbox WorkQueue Application </h2>

<a href="/jobs">View Named Jobs</a>
<br>
<a href="/jobs/new">Create Named Jobs</a>
<br>
<br>

<a href="/schedule">View Schedule for Jobs</a>
<br>
<br>

<div>
<a href="/cache"> Re-cache/Cache Hindsight Data</a>
<a href="https://rockerboxwiki.atlassian.net/wiki/display/ED/Overview" >(Help)</a>
</div>
<br>

<div>
<a href="/check/cache">Hindsight Cache Checks</a>
<br>
<a href="/check/segment">Hindsight Segment Data Checks</a>
<br>
<a href="/check/pixel">Hindsight Advertiser Pixel Data Checks</a>
</div>
<br>

<a href="/logging">View Logs</a>
<br>
<br>
<a href="https://rockerboxwiki.atlassian.net/wiki/display/ED/Tornado+work+queue"> Help/Documentation </a>

{% end %}
