{% extends clean_base.html %}

{% block content %}
<link rel="stylesheet" type="text/css" href="http://rockerbox.com/css/dc.css">
<script type="text/javascript" src="http://rockerbox.com/js/d3.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/crossfilter.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/dc.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/colorbrewer.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/reporting.js"></script>
<script src="http://hindsight.getrockerbox.com/static/js/rockerbox/crusher/table/build/table.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<link href="http://rockerbox.com/css/bootstrap.css" rel="stylesheet">

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css">

<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>

<style>
.content{
   width:1000px;
   margin:auto;
}
.header{
   float:left;
   width:100%;
}
.header h1{
   text-align:center;
}
.body{
   width:100%;
   float:left;
   padding-top:20px;
   margin:auto;
}
div {
margin-left:10%;
margin-right: 10%;
}
div.content {
margin-left:-12%;
}
</style>
<div class="paths content row">
{% raw paths%}
</div>

<div style="height:450px;overflow:scroll;position:relative" class="outer-table-wrapper"></div>
  <script>

var d3_updateable = function(target,selector,type,data,joiner) {
  var type = type || "div"
  var updateable = target.selectAll(selector).data(
    function(x){return data ? [data] : [x]},
    joiner || function(x){return [x]}
  )

  updateable.enter()
    .append(type)

  return updateable
}

var d3_splat = function(target,selector,type,data,joiner) {
  var type = type || "div"
  var updateable = target.selectAll(selector).data(
    data || function(x){return x},
    joiner || function(x){return x}
  )

  updateable.enter()
    .append(type)

  return updateable
}


    function buildTable(data) {
      
      var tt = d3.selectAll(".outer-table-wrapper")

      table.table(tt)
        //.data({"key":"Data","values":data}) 
        .data({"key":"Data","values":data['values']})
        .draw()

    }
    buildTable({% raw data %})



var table_select = d3.select(".main")
var table_rows = table_select.selectAll("tr")

//for (i = 0; i < table_rows[0].length; i++) {
//    if(i>=2){
//        var buttonindex = table_rows[0][i].getElementsByTagName("td").length - 2
//        table_rows[0][i].getElementsByTagName("td")[buttonindex].innerHTML='<button onclick="PostButton(\''+row_name+'\')">run</button>'    
//    } 
//    console.log(i);
//}
for (i = 0; i < table_rows[0].length; i++) {
    if(i>=2){
        var day = table_rows[0][i].getElementsByTagName("td")[4].innerHTML
        var time = table_rows[0][i].getElementsByTagName("td")[4].innerHTML
        var row_name = table_rows[0][i].getElementsByTagName("td")[4].innerHTML
        var buttonindex = table_rows[0][i].getElementsByTagName("td").length - 3
        table_rows[0][i].getElementsByTagName("td")[buttonindex].innerHTML='<button onclick="DeleteButton(\''+row_name+"\',\'"+day+"\',\'"+time+'\')">delete</button>'    
    } 
    console.log(i);
}

function PostButton(name,day,time) {
    var obj = {
        "name": name,
        "day":day,
        "time":time,
        "debug": "True"
        }
        console.log(obj)
    
    d3.xhr("/schedule")
      .post(
        JSON.stringify(obj),
        function(err,x) {
          var j = JSON.parse(x.response)
          console.log(x.response)
          resp_target.html("Job Submitted: <br><pre>" + x.response + "</pre><br>")
            })
    }

function DeleteButton(X) {
    var obj = {
        "name": X,
        "debug": "True",
        "type":"delete"
        }
        console.log(obj)
    
    d3.xhr("/schedule")
      .post(
        JSON.stringify(obj),
        function(err,x) {
          var j = JSON.parse(x.response)
          console.log(x.response)
          resp_target.html("Job Submitted: <br><pre>" + x.response + "</pre><br>")
            })
    }
         
</script>

<div class="content">
</div>

{% end %}
