{% autoescape None %}
{% extends "../../clean_base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="http://rockerbox.com/css/dc.css">
<link rel="stylesheet" type="text/css" href="http://rockerbox.com/css/chosen.css">
<script type="text/javascript" src="http://rockerbox.com/js/d3.js"></script>
<script type="text/javascript" src="/static/js/advertiser.js"></script> 

<div id="domain-content" class='container'>
  <div class="row">
    <h4>Domain Lists</h4>
  </div>
</div>

<script>

var data = {{ data }};

rolled = d3.nest()
  .key(function(x){return x.log})
  .entries(data,d3.map)



var id = '#domain-content'

var buildDomainListWrapper = function(data, summary_data, id, width) {
  var wrapper_width = width || 6
    

  var wrappers = d3.select(id).selectAll(".wrapper")
    .data(data,function(x){
      var y = summary_data.get(x.key)
      x['summary'] = y || {}
      return x.key
    }).enter()
    .append("div")
      .classed("wrapper col-md-" + wrapper_width,true)
      .attr("id",function(x){return x.key})


  var panels = wrappers
    .append("div")
    .classed("panel",true)
    .classed("panel-default", true)

  var headings = panels.append("div").classed("panel-heading",true);

  var titles = headings.append("h3")
    .classed("panel-title",true)
    .text(function(x) {return x.key})

  return [wrappers, panels]
}

var buildDomainListInfo = function(obj) {
  var panels = obj

  panels
    .append("div")
    .classed("panel-body summary",true)
    .selectAll("div")
    .data(function(x){
      return d3.entries(x['summary'])
    })
    .enter()
      .append("div")
      .text(function(x){
        return x.key + " : " + x.value
      })
}

var buildDomains = function(obj,reporting_data) {
  var default_panel = obj

  default_panel
    .append("div")
    .classed("panel-heading domain",true)
    .text("Domains")
    .on("click",function(x){
      d3.select(this.nextSibling).classed("hidden",function(x){
        if (x.is_opened === undefined) x.is_opened = 0
        if (this.classList.contains("hidden")) {
          x.is_opened += 1
          return false
        } else {
          x.is_opened -= 1
          return true
        }
      })
      return x
    })

  var domain = default_panel
    .append("div")
    .classed("list-group hidden",true)

  var domain_details = domain
    .selectAll("div")
    .data(function(x){
      return x.values
    })
    .enter()
      .append("div")
      .classed("list-group-item", true)
      .html(function(x){
        x.reporting = reporting_data.get(x.pattern) || [{}]
        x.reporting = x.reporting[0]
        x.percent_loaded = x.reporting.loaded/x.reporting.served
        x.percent_visible = x.reporting.visible/x.reporting.loaded
        return '<h5 class="list-group-item-heading">' + x.pattern + 
          ' ' + x.reporting.served +
          ' ' + x.percent_visible +
          '</h5>'
      })
      .classed("list-group-item-success",function(x){
        return x.percent_loaded > .5 && x.percent_visible > .4 && x.reporting.served >= 1000
      })
      .classed("list-group-item-info",function(x){
        return x.percent_loaded > .5 && x.percent_visible > .4 && x.reporting.served < 1000
      })
      .classed("list-group-item-warning",function(x){
        return (x.percent_loaded <= .5 || x.percent_visible <= .4) && x.reporting.served < 1000
      })
      .classed("list-group-item-danger",function(x){
        return (x.percent_loaded <= .5 || x.percent_visible <= .4) && x.reporting.served >= 1000
      })
      .sort(function(x,y){
        var l = x.reporting.served || 0,
          r = y.reporting.served || 0
        return l - r
      })

}

var URL = "/admin/advertiser/viewable/reporting?meta=domain_list&format=json",
  rolled_map = d3.nest()
    .key(function(x){return x.key})
    .rollup(function(x){
      return x[0].values
    })
    .map(rolled,d3.map)


d3.json(URL,function(reporting_data){
  var reporting_rolled = d3.nest()
    .key(function(x){return x.type})
    .rollup(function(x){
      var d = {
        "domains_served":x.length,
        "served":d3.sum(x,function(y){return y.served}),
        "loaded":d3.sum(x,function(y){return y.loaded}),
        "visible":d3.sum(x,function(y){return y.visible})
      }
      d.percent_loaded = d.loaded/d.served
      d.percent_visible = d.visible/d.loaded
      var xx = rolled_map.get(x[0].type)
      d["domains_total"] = xx ? xx.length : 0
      
      return d
    })
    .map(reporting_data,d3.map)

  var reporting_domain_rolled = d3.nest()
    .key(function(x){return x.domain})
    .map(reporting_data,d3.map)

  window.panels = buildDomainListWrapper(rolled,reporting_rolled,id)
  window.wrapped = panels[1]

  buildDomainListInfo(wrapped)
  buildDomains(wrapped,reporting_domain_rolled)

  wrapped
    .on("click",function(data){
      var p = d3.select(this.parentNode), 
      has_opened = (data.is_opened >  0)

      p.classed("col-md-6",!has_opened) 
      p.classed("col-md-12",has_opened)  
    }) 

  panels[0]
    .sort(function(x,y){

      var r = (x.summary.served != undefined) ? x.summary.served : 0,
        l = (y.summary.served != undefined) ? y.summary.served : 0

      return l - r
    
    })
})

 




</script>

{% end %}   
