{% autoescape None %}
{% extends "../../clean_base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="http://rockerbox.com/css/dc.css">
<link rel="stylesheet" type="text/css" href="http://rockerbox.com/css/chosen.css">
<style>
  .bar {}
  .negative {
    fill:red;
  }
</style>

<script type="text/javascript" src="http://rockerbox.com/js/d3.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/crossfilter.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/dc.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/colorbrewer.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/reporting.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/chosen.js"></script>
<script type="text/javascript" src="/static/js/render.js"></script> 
<script type="text/html" id="advertiser-template">
  <div class="col-md-6">
    <div class="panel <%= active ? 'panel-success' : 'panel-default' %>" id="advertiser-<%= external_advertiser_id %>">
        <div class="panel-heading">
          <h3 class="panel-title">
            <span class="pull-right"><%= external_advertiser_id %></span>
            <%= advertiser_name %>
          </h3>
        </div>
        <div class="list-group">
          <a class="list-group-item campaigns">
            <span class="badge"><%= campaigns.length %></span>
            Campaigns
          </a>
          <a class="list-group-item segments">
            <span class="badge"><%= segments.length %></span>
            Segments
          </a> 
          <a class="list-group-item pixels">
            <span class="badge"><%= pixels.length %></span>
            Conversion Pixels
          </a>  

        </div>
    </div>
</div>
</script>


<div id="advertiser-content" class='container'>
  <div class="row">
    <h4>Advertisers</h4>
  </div>

</div>
<script>



var data = {{ data }}
  data.sort(function(x){
    return - parseInt(x.active)
  })

var container = $('#advertiser-content > .row'),
  renderer = Rockerbox.render.renderer(document.getElementById("advertiser-template").innerHTML)

/*$.each(data,function(i,d){
  container.append(renderer(d))
})*/
var format = d3.format("0,000"),
  formatPercent = d3.format("%")

var buildViewable = function(summary,accessor,_class,height) {
  var height = height || 50
  var x = d3.scale.linear()
    .range([0, 100])

  var y = d3.scale.ordinal()
    .rangeRoundBands([0, height], .2)
    .domain(["served","loaded","visible"])

  var LABEL_WIDTH = 50

  var svg = summary
    .append("div")
    .classed(_class,true)
    .append("svg")
    .attr("width", 170)
    .attr("height",height)
    .append("g")

  svg
    .append("rect")
    .attr("x",LABEL_WIDTH + 50)
    .attr("y",0)
    .attr("width",1)
    .attr("height",height)
    
  bars = svg.selectAll(".bar")
    .data(function(d){
      return d[accessor]
    })
    .enter()

  bars
   .append("text")
   .text(function(d){return d.key})
   .attr("x", function(d) { return x(Math.min(0, d.values[1])); })
   .attr("y", function(d) { return y(d.key) + 10; }) 
   .attr("width",LABEL_WIDTH)
   .attr("class","small")

  bars
    .append("rect")
      .attr("class", function(d) { return d.values[1] < .5 ? "bar negative" : "bar positive"; })
      .attr("x", function(d) { return LABEL_WIDTH + x(Math.min(0, d.values[1])); })
      .attr("y", function(d) { return y(d.key); })
      .attr("width", function(d) { return Math.abs(x(d.values[1]) - x(0)); })
      .attr("height", y.rangeBand());
}

var buildSummary = function(Sum,panels) {
  var sum = Sum.toLowerCase().replace(" ","_")

  var summary = panels
    .append("div")
    .classed("panel-body " + sum + "-summary",true)

  summary.append("h5")
    .text(Sum + " Summary")

  var summary_body = summary
    .append("div")
    .classed("col-md-3 small",true)
    .selectAll("div")
    .data(function(x){
      return x[sum + "_summary"]
    })
    .enter()
    .append("div")
    .html(function(x){
      return x.key + " " + format(x.values[0])
    })

  buildViewable(summary,sum + "_summary","col-md-3")
  
}


d3.json("/admin/advertiser/viewable/reporting?format=json&date=14-09-22&include=tag",function(reporting_data){

  reporting = d3.nest()
    .key(function(d) {return d.advertiser})
    .rollup(function(l){
      var fields = ["served","loaded","visible"],
        values =  fields.map(function(n){
          return d3.sum(l.map(function(k,i){return k[n]}))
        }),
        rolled = fields.map(function(n,i){
          return {
            key: n,
            values: [values[i],values[i]/values[0]]
          }
        })

      return rolled
    })
    .map(reporting_data,d3.map)


  campaign_viewability = d3.nest()
    .key(function(d) {return d.advertiser})
    .map(reporting_data,d3.map)

  tag_viewability = d3.nest()
    .key(function(d) {return d.advertiser})
    .map(reporting_data,d3.map)


  data.forEach(function(d){
    d.viewability_summary = reporting.get(d.pixel_source_name) || []

    var v = campaign_viewability.get(d.pixel_source_name) || []

    d.campaign_viewabilitys = d3.nest()
      .key(function(d) { return d["campaign"]})
      .rollup(function(l){
        var fields = ["served","loaded","visible"],
          values =  fields.map(function(n){
            return d3.sum(l.map(function(k,i){return k[n]}))
          }),
          rolled = fields.map(function(n,i){
            return {
              key: n,
              values: [values[i],values[i]/values[0]]
            }
          })

        return rolled
      })
      .entries(v)

    var v = tag_viewability.get(d.pixel_source_name) || []

    d.tag_viewabilitys = d3.nest()
      .key(function(d) { return d["tag"]})
      .rollup(function(l){
        var fields = ["served","loaded","visible"],
          values =  fields.map(function(n){
            return d3.sum(l.map(function(k,i){return k[n]}))
          }),
          rolled = fields.map(function(n,i){
            return {
              key: n,
              values: [values[i],values[i]/values[0]]
            }
          })

        return rolled
      })
      .entries(v) 

      d.tag_viewabilitys = d.tag_viewabilitys.filter(function(x){ return x.values[0].values[0] > 10})

  })

  

  var wrappers = d3.select('#advertiser-content').selectAll("div")
      .data(data).enter()
      .append("div")
        .classed("col-md-6",true)
        .attr("id",function(x){return x.external_advertiser_id})

  var panels = wrappers
      .append("div")
      .classed("panel",true)
      .classed("panel-default",function(x) {
        return !x.active 
      })
      .classed("panel-success", function(x) {
        return x.active 
      })

  var  headings = panels.append("div").classed("panel-heading",true);


  var titles = headings.append("h3")
    .classed("panel-title",true)
    .text(function(x) {return x.advertiser_name})

  titles.append("span")
    .classed("pull-right",true)
    .text(function(x){return x.external_advertiser_id})


  var groupings = {
    "Viewability":["Domain List","Campaign Viewability", "Tag Viewability"]
  }

  var render = function(class_name,items) {
    if (class_name == "campaign_viewability" || class_name == "tag_viewability") {

      var summary_body = items
        .append("div")
        .classed("col-md-3 small",true)
        .selectAll("div")
        .data(function(x){
          return x["values"]
        })
        .enter()
        .append("div")
        .html(function(x){
          return x.key + " " + format(x.values[0]) + " (" + formatPercent(x.values[1]) +")"
        })
   
      buildViewable(items,"values","col-md-3",45)

      items
        .append("div")
        .classed("col-md-3",true)
        .html(function(x){
          var base = "/admin/advertiser/viewable/reporting?"
          return "<a href='" + base + "include=tag,domain&campaign="+x.key+"'>by domain, tag</a><br/>" + 
            "<a href='" + base + "include=domain&campaign="+x.key+"'>by domain</a><br/>" + 
            "<a href='" + base + "include=tag&campaign="+x.key+"'>by tag</a>" 
        })
       
    }
  }



  Object.keys(groupings).map(function(key){

    buildSummary(key,panels)

    groupings[key].map(function(grouping) { 

      var class_name= grouping.toLowerCase().replace(" ","_"),
        group_class = class_name + "-group",
        group_header_class = class_name + "-header",
        group_item_class = class_name + "-item"

      var group = panels.append("div")
        .classed("list-group " + group_class,true)
        .on("click",function(x){

          var p = d3.select(this.parentNode.parentNode), 
            has_opened = Object.keys(x.is_opened).filter(function(y){return x.is_opened[y]}).length;

          p.classed("col-md-6",!has_opened) 
          p.classed("col-md-12",has_opened)  
            
        })

      var header = group.append("a")
        .classed("list-group-item " + group_header_class,true)
        .text(grouping)
        .on("click",function(data){
          data.is_opened = data.is_opened || {}
          d3.select(this.parentNode)
            .selectAll("." + group_item_class)
            .classed("hidden",function(x){
              var is_visible = !this.classList.contains("hidden")
              data.is_opened[class_name] = !is_visible
              return is_visible
            })
        })

      header
        .append("span")
        .classed("badge",true)
        .text(function(x){
          var values = x[class_name + "s"]
          values = values ? values : {}
          return Object.keys(values).length
        })

      var items = group.selectAll("div")
        .data(function(x){
          var values = x[class_name + "s"]
          return values ? values : {}
        })
        
        .enter()
        
          .append("div")
          .sort(function(x,y) {
            return x.key - y.key
          })
          .classed("list-group-item hidden " + group_item_class,true)
          .classed("list-group-item-warning",function(x){
            if (x.values) 
              return x.values[2].values[1] < .35
          })
          .classed("list-group-item-danger",function(x){
            if (x.values) 
              return x.values[2].values[1] < .2
          })
          .append("p")
          .classed("row list-group-item-text",true)

          .html(function(x){
            return '<div class="col-md-3">' +  x["key"]  + '</div>'
          })
          


      render(class_name,items)

    })
  })
}) 




$(".pixels").on("click",function(x,i){
  $(x.target).addClass("active")
  $(x.target).parents(".panel").parent().attr("class","col-md-12")
}) 

</script>
<script src="http://rockerbox.com/js/jquery.serialize-object.js"></script>

{% end %} 
