{% autoescape None %}
{% extends "../../clean_base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="http://rockerbox.com/css/dc.css">
<link rel="stylesheet" type="text/css" href="http://rockerbox.com/css/chosen.css">
<link rel="stylesheet" type="text/css" href="/static/css/metricsgraphics.css">   
<script type="text/javascript" src="/static/js/d3.js"></script>
<script type="text/javascript" src="/static/js/advertiser.js"></script> 
<script type="text/javascript" src="/static/js/advertiser/info.js"></script>  
<script type="text/javascript" src="/static/js/advertiser/conversion.js"></script>   
<script type="text/javascript" src="/static/js/advertiser/pixel.js"></script>   
<script type="text/javascript" src="/static/js/advertiser/domain_list.js"></script>   
<script type="text/javascript" src="/static/js/advertiser/viewability.js"></script>    
<script type="text/javascript" src="/static/js/advertiser/viewable.js"></script>     
<script type="text/javascript" src="/static/js/advertiser/streaming.js"></script>      
<script type="text/javascript" src="/static/js/d3_helpers.js"></script>     
<script type="text/javascript" src="/static/js/metricsgraphics.js"></script>      
<script type="text/javascript" src="/static/js/rockerbox/dataobjects.js"></script>       
<style>
.min-height {font-size:0px}
.axis path,
.axis line {
    fill: none;
    stroke: #ccc;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 6px;
}
.mg-chart-title {
  font-size:16px;
  padding-top:14px;
  margin-top:0px;
  text-align:left;
  margin-bottom:15px
}
.table {
  font-size:13px
}
.chart-table-wrapper tr {
  cursor:pointer
}
.legend {
  text-align: right;
  font-size: 11px;
  margin-top: 35px;
  padding: 0px;
  height: 0px;
  position: absolute;
  right: 20px;
}
</style>


<script type="text/javascript" src="/static/js/advertiser_viewable.js"></script>  
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

 

<div id="advertiser-content" class='container'>
  <div class="row">
    <h4>Advertisers</h4>
  </div>
</div>

<script>
$(document).ready(function(){
    var data = {{ data }};

    data.sort(function(x){
      return - parseInt(x.active)
    })

    var id = '#advertiser-content'

    var wrapped = buildAdvertiserWrapper(data,id,"12",true,true)
    wrapped.sort(function(x,y){
        var wx = (x.active + x.running - x.deleted)*(x.monthly_budget+1),
          wy = (y.active + y.running - y.deleted)*(y.monthly_budget+1)
        return wy-wx  
      })
    buildStreaming(wrapped)
   
    //accordianify(wrapped, ".panel-sub-heading > .list-group-item",function(){return this.parentNode.nextSibling})

    wrapped.selectAll(".panel-sub-heading > .list-group-item")
      .on("click",function(x){
        d3.select(this.parentNode.nextSibling).classed("hidden",function(x){
          if (x.is_opened === undefined) x.is_opened = 0
          if (this.classList.contains("hidden")) {
            x.is_opened += 1
            return false
          } else {
            x.is_opened -= 1
            return true
          }
        })
      })

    $.fn.editable.defaults.mode = 'inline';

    $('.editable').editable({
      params: function(params) {
        var data = {};
        data['id'] = params.pk;
        data[params.name] = params.value;
        return JSON.stringify(data)
      },
      ajaxOptions: {
        type: 'put',
        dataType: 'json'
      }
    }) 
})


 


</script>

{% end %}   
