{% autoescape None %}
{% extends "../../clean_base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="http://rockerbox.com/css/dc.css">
<link rel="stylesheet" type="text/css" href="http://rockerbox.com/css/chosen.css">
<style>
  .bar {}
  .negative {
    fill:red;
  }
</style>

<script type="text/javascript" src="http://rockerbox.com/js/d3.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/crossfilter.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/dc.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/colorbrewer.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/reporting.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/chosen.js"></script>
<script type="text/javascript" src="/static/js/render.js"></script> 
<script type="text/javascript" src="/static/js/advertiser_viewable.js"></script>  

<div id="advertiser-content" class='container'>
  <div class="row">
    <h4>Advertisers</h4>
  </div>
</div>

<script>

// Sort display order
var advertiser_data = {{ data }};
advertiser_data.sort(function(x){return - parseInt(x.active)})


var defaultWidth = advertiser_data.length > 1 ? "6" : "12",
  container = $('#advertiser-content > .row'),
  format = d3.format("0,000"),
  formatPercent = d3.format("%"),

  formatter = d3.time.format("%y-%m-%d"),
  BASE_URL = "/admin/advertiser/viewable/reporting",
  COMPILED_URL = BASE_URL + "?format=json&start_date=" + formatter(new Date()) + "&include=advertiser,campaign,tag,type&meta=none";

if (advertiser_data.length == 1) 
  COMPILED_URL = COMPILED_URL + "&advertiser_equal=" + advertiser_data[0].pixel_source_name;

 

d3.json(COMPILED_URL,function(reporting_data){

  advertiser_data = transformData(advertiser_data,reporting_data)
  advertiser_data.unshift({})

  var panels = buildViewableWrapper(advertiser_data,defaultWidth)
  var groupings = {
    "Viewability":[
      "Domain List Viewability",
      "Campaign Viewability", 
      "Tag Viewability"
    ]
  }

  Object.keys(groupings).map(function(key){

    buildViewableSummary(key,panels)

    groupings[key].map(function(grouping) { 


      var class_name = grouping.toLowerCase().split(" ").join("_"),
        groups = buildGroup(panels,class_name,grouping),
        items = buildItems(groups,class_name),
        rows = renderRows(class_name,items)

    })
  })
}) 




$(".pixels").on("click",function(x,i){
  $(x.target).addClass("active")
  $(x.target).parents(".panel").parent().attr("class","col-md-12")
}) 

</script>
<script src="http://rockerbox.com/js/jquery.serialize-object.js"></script>

{% end %} 
