{% extends clean_base.html %}

{% block content %}
<style>
.content{
   width:1000px;
   margin:auto;
}
.header{
   float:left;
   width:100%;
}
.header h1{
   text-align:center;
}
.body{
   width:100%;
   float:left;
   padding-top:20px;
   margin:auto;
}
.table_wrapper{
   float:left;
   width:60%;
}
table.form{
   border-spacing:10px;
   border-collapse:separate;
   margin:auto;
   align:center;
}

.sidebar{
   float:left;
   width:18%;
   padding-top:10px;
   margin-right: 40px;
}
</style>
<div class="content">
<div class="header">
  <h1>Batch Request Form</h1>
</div>
<div class="body">
<div class="sidebar">
  <ul>
    <li><a href="/admin/batch_request">Request form</a></li>
    <li><a href="/admin/batch_requests">Requests</a></li>
  </ul>
</div>

<div class="table_wrapper">
<form action="" method="post">
<table class="form">
<tr>
  <td>Segment: </td>
  <td><select name="segment">
    {% for segment in segments %}
    <option value="{{segment}}">{{segment}}</option>
    {% end %}
  </select> </td>
</tr>

<tr>
<td>Expiration (minutes): </td>
<td><input type="text" name="expiration"></input></td>
</tr>

<tr>
  <td>Target Window (minutes): </td>
  <td><input type="text" name="target_window"></input></td>
</tr>

<tr>
  <td>Target Segment (optional): </td>
  <td><input type="text" name="target_segment"></input></td>
</tr>
<tr>
  <td>Active: </td>
  <td><select name="active">
      <option value="1">Yes</option>
      <option value="0">No</option>
      </select>
  </td>
</tr>

<tr>
  <td align="center" colspan="2"><input type="submit" value="Submit"></td>
</tr>
</table>
</form>
</div>
</div>

</div>
{% end %}
