{% extends clean_base.html %}

{% block content %}
<link rel="stylesheet" type="text/css" href="http://rockerbox.com/css/dc.css">
<script type="text/javascript" src="http://rockerbox.com/js/d3.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/crossfilter.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/dc.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/colorbrewer.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/reporting.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<link href="http://rockerbox.com/css/bootstrap.css" rel="stylesheet">

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css">

<!-- jQuery -->
<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>

<script>
$(document).ready( function () {
    $('.dataframe').dataTable( {
        "pageLength": 20,
        "order": [ 1, 'asc' ],
        "dom": 'T<"clear">lfrtip',
        "tableTools": {
            "sSwfPath": "/static/copy_csv_xls_pdf.swf"
        }
    });
    var table = $('.dataframe').DataTable();
    table.columns(":contains(active)").nodes().flatten().to$().each(function() {
        var id = $(this).closest('tr').find('td:first').text().trim();

        if ($(this).html() == 1){
             $(this).replaceWith('<td><a href="/admin/batch_requests?deactivate_request='+id+'"><button type="button" class="delete btn btn-danger remove btn-xs">disable</button></a></td>');
        }
        else if ($(this).html() == 0){
             $(this).replaceWith('<td><a href="/admin/batch_requests?activate_request='+id+'"><button type="button" class="enable btn btn-success btn-xs">enable</button></a></td>');
        }
    })
} );

</script>
<style>
.content{
   width:1000px;
   margin:auto;
}
.header{
   float:left;
   width:100%;
}
.header h1{
   text-align:center;
}
.body{
   width:100%;
   float:left;
   padding-top:20px;
   margin:auto;
}
</style>
<div class="content">
{% raw data %}
</div>

{% end %}
