{% autoescape None %}
{% extends "../templates/empty_base.html" %}

{% block stuff %}
<link rel="stylesheet" type="text/css" href="http://rockerbox.com/css/dc.css">
<script type="text/javascript" src="http://rockerbox.com/js/d3.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/crossfilter.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/dc.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/colorbrewer.js"></script>
<style>
.table tbody tr.info td {
  background-color: #d9edf7;
}
.dc-table-row td {
  max-width:550px
}
.summary-wrapper.dc-chart {
  float:none
}
</style>
<script>
$.getJSON("/api?table=advertiser&external_advertiser_id=302568").done(function(e){
  $(".advertiser").text(e[0]["advertiser_name"]);
})

$.getJSON("/api?table=campaign_bucket&campaign_id=3810899").done(function(e){
  $(".campaign").text(e[0]["bucket_name"]);
})



d3.json(window.location.href+"&format=json",function(data){

  var Set = function(a) {
    var self = this;
    if (a) {
      a.forEach(function(x){
        self.add(x)
      })
    }
  }
  Set.prototype.add = function(o) { this[o] = true; }
  Set.prototype.remove = function(o) { delete this[o]; }

  var getLocation = function(href) {
    href = href.match(/http/) ? href : "http://" + href
    var l = document.createElement("a");
    l.href = href;
    var host = l.hostname
    var split = host.split(".")
    if (host.slice(0,host.length/2) == host.slice(host.length/2,host.length)) {
      return host.slice(host.length/2,host.length)
    } else {
      var len = split.length
      var h = split[len-2] + "." + split[len-1];
      if (split[len-1].length > 2) {
        return h
      } else {
        return split[len-3] + "." + h
      }
    }
  };

  var dateFormat = d3.time.format("%y-%m-%d %H:%M");
  var dateFormatPretty = d3.time.format("%b %d, %Y at %_I %p");

  var moveChart = dc.lineChart('#imps-chart');
  var historicalChart = dc.barChart('#historical-chart');

  window.data = data

  data.forEach(function(d) {
    d.domain = getLocation(d.referrer);
    d.campaign_id = d.campaign_id || d.campaign 
    d.dd = new Date(d.date*1000)
    d.imps = +d.imps
    d.clicks = +d.clicks
    d.conversions = +d.is_valid
    d.cost = 0 //d.media_cost*d.cpm_multiplier
  })

  var crs = crossfilter(data);
  window.crs = crs
  crs.groupAll();
  

  var dateDimension = crs.dimension(function(d){
    return d.dd
  })

  var countDimension = crs.dimension(function(d){
    return 0
  })

  var countRows = countDimension.group().reduce(
    function(p, v){
      ++p.count
      p.imps += v.imps
      return p
    },
    function(p, v){
      --p.count
      p.imps -= v.imps
      return p 
    },
    function(){
      return {
        count: 0,
        imps: 0,
        min_time:Infinity,
        max_time:0
      }
    }
  )

  countRows.count = function() {
    return this.all()[0]["value"]["count"]
  }

  var countDimension = {
    top: function (x) {
      var min_date = dateFormatPretty(dateDimension.bottom(1)[0].dd)
      var max_date = dateFormatPretty(dateDimension.top(1)[0].dd)
      return countRows.top(x).filter(function(grp){return grp.value.count}).map(function (grp) { 
        
        return {
          "imps": grp.value.imps,
          "domains": domainImps.all().filter(function(v){return v.value > 0}).length,
          "referrers": referrerImps.all().filter(function(v){return v.value.count > 0}).length

        } 
      }).sort(function(x){return x.domain_imps });
    }
  };


  window.countRows = countRows

  var dateImps = dateDimension.group().reduce(
    function(p,v) {return p + v.imps},
    function(p,v) {return p - v.imps},
    function() {return 0}
  )

  var referrerDimension = crs.dimension(function(d){
    return d.referrer
  })

  var referrerImps = referrerDimension.group().reduce(
    function(p,v) {
      p.count += v.imps
      p.domain = v.domain
      return p
    },
    function(p,v) {
      p.count -= v.imps
      p.domain = v.domain
      return p
    },
    function() {
      return {
        "domain":"",
        "count":0
      }
    }
  )


  var domainDimension = crs.dimension(function(d){
    return d.domain
  })

  var domainImps = domainDimension.group().reduce(
    function(p,v) {
      return p + v.imps
    },
    function(p,v) {
      return p - v.imps
    },
    function() {
      return 0
    }
  )

  var mixinMemoizedWithCheck = function(group, extensions, check) {

    function comparePrev(fn) {
      if (!fn) return false
      var pre = fn.preValue
      fn.preValue = fn()
      return pre != fn.preValue
    }

    function cacheRun(_run, _check, _cacheName) {
      var cacheName = _cacheName || "cache",
        _check = _check || function() {return true};

      if (_check()) this[cacheName] = _run()
      return this[cacheName]
    }

    for (var ext in extensions) {
      var fn = extensions[ext].bind(group),
        checkFn = comparePrev.bind(this,check ? check.bind(this): false),
        cachedFn = cacheRun.bind(group,fn,checkFn);
      group[ext] = cachedFn
    }

  }

  var exts = {
    toHash : function() {
      var h = {}
      this.all().forEach(function(grp){
        h[grp["key"]] = grp["value"]
      })
      return h
    }
  }

  mixinMemoizedWithCheck(domainImps, exts, countRows.count.bind(countRows))

  domainImps.all()

  domainImps.__row_count__ = 0
  domainImps.__hash_cached__ = {}

  domainImps.asHash = function() {
    var self = this;
    var old_count = this.__row_count__;
    this.__row_count__ = countRows.count()

    if (old_count == this.__row_count__) {
      return this.__hash_cached__
    } else {
      this.__hash_cached__ = {};
      this.all().forEach(function(x){
        self.__hash_cached__[x["key"]] = x["value"]
      })
      return this.__hash_cached__
    }

  }

  domainImps.__all_cached__ = domainImps.asHash() 

  window.referrerDimension = referrerDimension
  window.referrerImps = referrerImps

  window.domainDimension = domainDimension
  window.domainImps = domainImps

  var pseudoDimension = {
    top: function (x) {
      var min_date = dateFormatPretty(dateDimension.bottom(1)[0].dd)
      var max_date = dateFormatPretty(dateDimension.top(1)[0].dd)
      return referrerImps.top(x).filter(function(grp){return grp.value.count}).map(function (grp) { 
        
        return {
          "domain": grp.value.domain,
          "imps": grp.value.count, 
          "referrer": grp.key,
          "domain_imps": domainImps.toHash()[grp.value.domain],
          "referrers": 0
        } 
      }).sort(function(x){return x.domain_imps });
    }
  };


  moveChart
    .renderArea(true)
    .width(960)
    .height(200)
    //.transitionDuration(1000)
    .margins({top: 30, right: 50, bottom: 28, left: 60})
    .dimension(dateDimension)
    .mouseZoomable(false)
    .x(d3.time.scale().domain([
      dateDimension.bottom(1)[0].dd,
      dateDimension.top(1)[0].dd
    ]))
    .elasticY(true)
    .rangeChart(historicalChart)
    .brushOn(false)
    .group(dateImps,"Impressions")
    .yAxisLabel("Ads Served");

  
  
  historicalChart.width(960)
    .height(80)
    .margins({top: 15, right: 50, bottom: 28, left: 60})
    .dimension(dateDimension)
    .brushOn(true)

    .group(dateImps)
    .centerBar(true)
    .colors("gray")
    .gap(1)
    .x(d3.time.scale().domain([
      dateDimension.bottom(1)[0].dd,
      dateDimension.top(1)[0].dd
    ]))
    .round(d3.time.hour.round)
    .alwaysUseRounding(true)
    .xUnits(d3.time.hours)
    .yAxisLabel("")
  historicalChart
    .yAxis().ticks(4);


   
  var numberFormat = d3.format("0,000.00")
      
  dc.dataTable(".dc-data-table")
    .dimension(pseudoDimension)
    .group(function (d) {
      return d.domain 
    })
    .size(10000000) 
    .columns([
      function (d) {
         return d.referrer;
      },
      function (d) {
        return numberFormat(d.imps);
      },
      function (d) {return ""}
    ])
    .sortBy(function (d) {
      return d.imps;
    })
    .sortGroupBy(function (d) {
      return d.values[0].domain_imps;
    })
    .groupRowFormatter(function (row) {
      row.append("td")
        .html(function(d) {
            return d['key']
        })      
      row.append("td")
        .html(function(d) {
            return d.values[0].domain_imps
        })
      row.append("td")
        .html(function(d) {
            return d.values.length
        })
    })
    .order(d3.descending)
    .renderlet(function (table) {
      table.selectAll(".dc-table-group")
        .classed("info", true)
        .on("click", function(e){
          d3.select(this.parentNode)
            .selectAll(".dc-table-row")
            .classed("hidden" ,function(e){
              return d3.select(this).classed("hidden") ?
                false : true;
            })
        })
      table.selectAll(".dc-table-row").classed("hidden",true)
    }); 

  dc.dataTable(".summary")
    .dimension(countDimension)
    .group(function (d) {
      return 0
    })
    .size(1)
    .columns([
      function (d) {
        return d.domains;
      },
      function (d) {
        return d.referrers;
      },
      function (d) {
        return d.imps;
      }   
    ])
    
    .groupRowFormatter(function (row) {
      row.classed("hidden",true)
      row.append("td")
        .html(function(d) {
            return d['key']
        })      
      row.append("td")
        .html(function(d) {
            return d.values[0].domain_imps
        })
      
    })
    .renderlet(function (table) {
      table.selectAll(".dc-table-group")
        .classed("info", true)
        .on("click", function(e){
          d3.select(this.parentNode)
            .selectAll(".dc-table-row")
            .classed("hidden" ,function(e){
              return d3.select(this).classed("hidden") ?
                false : true;
            })
        })
    });

  dc.dataCounts = function(parent, chartGroup) {
      var _formatNumber = d3.format(",d");
      var _chart = dc.baseMixin({});

      _chart._doRender = function() {
          window.dim = _chart.dimension().top(1)
          _chart.selectAll(".domains").text(_formatNumber(dim[0].domains))
          _chart.selectAll(".imps").text(_formatNumber(dim[0].imps))
          _chart.selectAll(".referrers").text(_formatNumber(dim[0].referrers))

          return _chart;
      };

      _chart._doRedraw = function(){
          return _chart._doRender();
      };

      return _chart.anchor(parent, chartGroup);
  };

  dc.dataCounts(".summary-wrapper")
    .dimension(countDimension)
    .group(function(){return 0})


  window.dateImps = dateImps

  dc.renderAll()  
  
})
</script>
<div class="row hidden">
  <h2 class="col-sm-3">
    <img src="http://rockerbox.com/img/logo.png" width="150px" style="margin-top:-5px">
  </h2>
  <div class="col-sm-4" style="line-height:30px;margin-top:10px;font-size:13px;font-weight:bold;font-family:Proxima-Nova, 'Helvetica Neue', Helvetica, Arial, sans-serif; ">
    <span class="advertiser">[[advertiser_name]]</span> > <span class="campaign">[[campaign_name]]</span>
  </div>
</div>

<h2 class="advertiser">[[Advertiser Name]]</h2>

<h4 style="margin-top:20px"><span class="campaign">[[Campaign Name]]</span> Delivery</h4>
<br/>
<div class="row summary-wrapper">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
      <p class="text-uppercase"><strong>Domains</strong></p>
      <h2 class="domains"></h2>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
      <p class="text-uppercase"><strong>Pages</strong></p>
      <h2 class="referrers"></h2>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
      <p class="text-uppercase"><strong>Impressions</strong></p>
      <h2 class="imps"></h2>
    </div>
  </div> 
</div>

<div class="row">
  <div id="imps-chart"></div>
</div>

<div class="row">
  <div id="historical-chart"></div>
  <p class="muted pull-right" style="margin-right: 15px;">select a time range to zoom in</p>
</div>



<div class="row hidden">
  <table class="table table-hover summary">
    <thead>
      <tr>
        <th>Domains</th>
        <th>Pages</th>
        <th>Impressions</th>
      </tr>
    </thead>
  </table>
</div>

<h4>Delivery Details</h4>

<table class="table table-hover dc-data-table">
  <thead>
    <tr>
      <th>Domain</th>
      <th>Impressions</th>
      <th>Pages</th>
    </tr>
  </thead>
</table>
<div class="hidden">{{ stuff }}</div>
{% end %}

