{% autoescape None %}
{% extends "../templates/clean_base.html" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="http://rockerbox.com/css/dc.css">
<link rel="stylesheet" type="text/css" href="http://rockerbox.com/css/chosen.css">

<script type="text/javascript" src="http://rockerbox.com/js/d3.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/crossfilter.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/dc.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/colorbrewer.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/reporting.js"></script>
<script type="text/javascript" src="http://rockerbox.com/js/chosen.js"></script>

<div class='container'>

<h4>Add Targeting Settings</h4>
<form role="form">
  <br/>
  <div class="row"> 
    <div class="col-md-12">
      <h4>Create</h4>
    </div>
  </div>
  <div class="row new-item">
  </div>
  <br/>
  <div class="row">
    <div class="col-md-12 col-sm-4">
      <h4>Batch Testing</h4>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Log</th>
            <th>Segment</th>
            <th>Pattern</th>
            <th>Imps</th>
            <th>Price</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody id="batches">
        </tbody>
      </table>
    </div>
    <div class="col-md-12">
      <button type="submit" id="add-batch" class="submit btn btn-success">
        Start 
      </button>
      <button type="submit" id="disable-batch" class="submit btn btn-warning">
        Disable 
      </button>
      <button type="submit" id="delete-batch" class="submit btn btn-danger">
        Delete 
      </button>
      <button type="submit" id="confirm-batch" class="submit btn btn-info">
        Confirm (and Clear) 
      </button>
    </div>
      
  </div>
  <br/>
  <h4>Existing</h4>
  
  <table class="table table-hover dc-data-table">
    <thead>
      <tr>
        <th>Log</th>
        <th>Segment</th>
        <th>Pattern</th>
        <th>Imps</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
  </table>
</form>

</div>
<script type="text/javascript" src="/static/streaming.js"></script>
<script>


  $('document').ready(function(){

var data = {{ profile }},
  crs = crossfilter(data);

log = crs.dimension(function(d){ return d.log })
group = log.group().all()

var LOG = '<div class="col-sm-3"><select class="lists form-control" id="log" name="log" data-placeholder="domain list logging name"></select></div>',
  PATTERN = '<div class="col-sm-4"><input class="form-control" id="pattern" name="pattern" placeholder="pattern to match"></div>',
  INPUT = '<div class="col-sm-3"><select class="segs form-control" id="segment" name="segment" placeholder="segment code"></select></div>',
  HIDDEN = '<div class="col-sm-4 hidden"><input class="form-control" id="test" name="test" value="1"></input></div>',
  VALUE = '<div class="col-sm-2"><input class="form-control" id="value" name="value" placeholder="value"></div>',
  ACTION = '<button type="submit" id="add-target" class="submit btn btn-success">Start Targeting</button>'
  DUPLICATE = '<div class="col-md-1"><button type="submit" id="batch" class="submit btn ">Add to Batch</button></div>'
  BATCH  = '<div class="col-md-1"><button type="submit" id="add-batch" class="submit btn btn-success">Add Batch</button></div>'
  
var NEW = "<div>" + LOG + INPUT + VALUE + PATTERN + HIDDEN + DUPLICATE + "</div>"

$(".new-item").append(NEW)




$.each(group, function(i,v){
  var vv = '<option value="' + v.key + '">' + v.key + "</option>"
  $(".lists").append(vv)
})

$('.lists').chosen({
  create_option: function(term){
    var chosen = this;
    chosen.append_option({
      value: term,
      text: "Custom: " + term
    });
    $(".lists").trigger("change")
  },
  persistent_create_option: false
})

seg = crs.dimension(function(d){ return d.segment})
seg_group = seg.group().all().map(function(x){
  return x
})

seg_group_values = d3.set( 
    seg_group.map(function(x){return x.key.split(":")[0]})
  )
  .values()
  .map(function(x){ return {"key":x}})

console.log(seg_group_values)

$.each(seg_group_values, function(i,v){
  console.log(v)
  var vv = '<option value="' + v.key + '">' + v.key + "</option>"
  $(".segs").append(vv)
})

$('.segs').chosen({
  create_option: function(term){
    var chosen = this;
    chosen.append_option({
      value: term,
      text: "Custom: " + term
    });
    $j(".segs").trigger("change")
  },
  persistent_create_option: false
})


dc.dataTable(".dc-data-table")
  .dimension(log)
  .group(function (d) {
    return d.log + "<div style='float:right' class='lock right btn-xs'>Served</div>"
  })
  .size(10000)
  .columns([
    function (d) {
      return d.log
    },
    function (d) {
      return d.segment 
    },
    function (d) {
      return d.pattern
    },
    function (d) {
      return "<span class='imps' id='imps-"+d.pattern+"'></span>"
    },
    function (d) {
      return "<span class='price' id='price-"+d.pattern+"'></span>"
    },
    function (d) {
      return d.actions
    }
  ])
  .sortBy(function (d) {
    return d.log;
  })
  .order(d3.ascending)
  .renderlet(function (table) {

    table.selectAll(".dc-table-group").classed("info", true).on("click", function(e){
      var lock = d3.select(this.parentNode).selectAll(".lock");
      var text = lock.text();
      if (text == "Served") {
        lock.text("All")
        d3.select(this.parentNode)
          .selectAll(".dc-table-row")
          .classed("soft-hide" , false)
          .classed("hide" , false)
          .transition().duration(500)

      } else if (text == "Hidden") {
                
        lock.text("Served")
        d3.select(this.parentNode)
          .selectAll(".dc-table-row")
          .classed("hide",true)
          .classed("soft-hide" ,function(e){
            return d3.select(this).classed("soft-hide") ?
              false : true;
          })
          .transition().duration(500)

      } else if (text == "All") {

        lock.text("Hidden")
        d3.select(this.parentNode)
          .selectAll(".dc-table-row")
          .classed("soft-hide" ,function(e){
            return d3.select(this).classed("soft-hide") ?
              false : true;
          })
          .transition().duration(500)
        
      }

    })

    table.selectAll(".dc-table-row").classed("hide",true)
    $(document.getElementsByClassName('dc-table-row')).each(function(x,y){
      y.classList.add("warning")
    })
  });

dc.renderAll()






$(".remove").click(function(e){
  e.preventDefault()
  $.ajax({
    url: "?"+e.target.id,
    type: "DELETE"
  }).done(function(){
    if (e.target.id.match("delete")) {
      $(e.target).parents("tr").remove()
    } else {
      $(e.target).parent().find("button").toggleClass("hidden")
    }
  })
  
})

$(".enable").click(function(e){
  e.preventDefault()
  $.ajax({
    url: "?"+e.target.id,
    type: "POST"
  }).done(function(){
    $(e.target).parent().find("button").toggleClass("hidden")
  })

})

var send_data = function(json_string,cb) {
  $.ajax({
    type: "POST",
    dataType: "json",
    url: "?", 
    data: json_string, 
    success: function(last){ 
      if (cb) cb()
    }
  })
}


$('form').on('click','#add-batch',function(e){
  e.preventDefault()
  console.log("asdf")
  $.ajax({
    url:"?format=json",
    dataType:"json"
  }).done(function(original){
    batch = batch.map(function(x){x.active = 1; return x})
    original = original.concat(batch)
    var target_to_add = JSON.stringify(original)
    send_data(target_to_add)
  })
  return false;
})


$('form').on('click','#disable-batch',function(e){
  e.preventDefault()
  $.ajax({
    url:"?format=json",
    dataType:"json"
  }).done(function(original){
    batch = batch.map(function(x){x.active = 0; return x})
    original = original.concat(batch)
    var target_to_add = JSON.stringify(original)
    send_data(target_to_add)
  })
  return false;
})

$('form').on('click','#delete-batch',function(e){
  e.preventDefault()
  $.ajax({
    url:"?format=json",
    dataType:"json"
  }).done(function(original){
    var logs = [],
      segments = [],
      patterns = [];
    batch = batch.map(function(x){
      logs.push(x.log)
      segments.push(x.segment)
      patterns.push(x.pattern)
      return x
    })
    original = original.filter(function(x){
      console.log(logs.indexOf(x.log),
        segments.indexOf(x.segment),
        patterns.indexOf(x.pattern)
      )
      if ((logs.indexOf(x.log) > -1) &&
          (segments.indexOf(x.segment) > -1) &&
          (patterns.indexOf(x.pattern) > -1)) {
        return false 
      }
      return true
    })
    var target_to_add = JSON.stringify(original)
    send_data(target_to_add,function(){
      batch = []
      draw_batch()
    })
  })
  return false;
})



$('form').on('click','#confirm-batch',function(e){
  e.preventDefault()
  $.ajax({
    url:"?format=json",
    dataType:"json"
  }).done(function(original){
    var logs = [],
      segments = [],
      patterns = [];
    console.log(batch);
    batch = batch.map(function(x){
      logs.push(x.log)
      segments.push(x.segment)
      patterns.push(x.pattern)
      return x
    })
    console.log(logs,segments,patterns)
    original = original.map(function(x){
      console.log(logs.indexOf(x.log),
        segments.indexOf(x.segment),
        patterns.indexOf(x.pattern)
      )
      if ((logs.indexOf(x.log) > -1) &&
          (segments.indexOf(x.segment) > -1) &&
          (patterns.indexOf(x.pattern) > -1)) {
        console.log(x)
        x.test = 0;
      }
      return x
    })
    var target_to_add = JSON.stringify(original)
    send_data(target_to_add,function(){
      batch = []
      draw_batch()
    })
  })
  return false;
})




$('#add-target').click(function(e){
  e.preventDefault()
  $.ajax({
    url:"?format=json",
    dataType:"json"
  }).done(function(original){
    _new = $(e.target).parents("form").serializeObject()
    original.push(_new)
    var target_to_add = JSON.stringify(original)
    send_data(target_to_add)
  })
  return false;
})


var batch = []

function draw_batch() {
  vv = ""
  $.each(batch,function(i,v){
    vv += "<tr><td>" + v.log + 
      "</td><td>" + v.segment + 
      "</td><td>" + v.pattern + 
      "</td><td>" + "<div class='imps' id='imps-" + v.pattern  + "'></div>" +
      "</td><td>" + "<div id='price-" + v.pattern + "'></div>" +
      "</td><td>" +
        "<a class='remove-batch btn btn-danger btn-xs' id=remove-" + 
          v.log + "|" + 
          v.pattern + "|" +
          v.segment +
      ">X</a></td></tr>"
  })
  console.log(batch)
  //if (vv != "") {
  //  vv = vv + BATCH
  //}
  $('#batches').html(vv)
}

$('#batch').click(function(e){
  e.preventDefault()
  var serialized = $(e.target).parents("form").serializeObject()
  console.log(serialized)
  serialized['segment'] = serialized['segment'] + ":" + serialized['value']
  batch.push(serialized)
  draw_batch()
  
  return false;
})

$('#batches').on('click','.remove-batch',function(e){
  
  if (batch.length) {  
    batch.splice(e.id,1)
  } else {
    var log = e.target.id.split("remove-")[1].split("|")[0],
      pattern = e.target.id.split("remove-")[1].split("|")[1],
      segment = e.target.id.split("remove-")[1].split("|")[2]
    console.log(log,pattern)
    $.ajax({
      url:"?format=json",
      dataType:"json"
    }).done(function(original){
      var remove = function() {
        $(e.target).parents("tr").remove()
      }
      var ids = []
      $(original).each(function(i,o){
        if ((o.log == log) && 
            (o.pattern == pattern) && 
            (o.segment == segment)){
          ids.unshift(i)
        }
      })
      $(ids).each(function(o,i){
        console.log(o,i)
        original.splice(i,1)
      })
      send_data(JSON.stringify(original),remove)
    })
  }
  //draw_batch()
  
})

})
</script>
<script src="http://rockerbox.com/js/jquery.serialize-object.js"></script>

{% end %}
