{% autoescape None %}
{% extends "base.html" %}

{% block page_title %}Advertiser{% end %}
{% block page_header %}Pixels{% end %}

{% block page_sidebar %}
    <li><a href="/reporting"><img src="/static/img/sidebar/reporting-icon.png" alt="Reporting icon" /><span class="sidebar-label">campaign reporting</span></a></li>
    <!--
    <li><a href="/streaming"><img src="/static/img/sidebar/global-icon.png" alt="Global icon" /><span class="sidebar-label">global streaming</span></a></li>
    <li><a href="/creative/reporting"><img src="/static/img/sidebar/creative-icon.png" alt="Creatives icon" /><span class="sidebar-label">creative reporting</span></a></li>
    -->
    <li class="active"><a href="/advertiser"><img src="/static/img/sidebar/pixel-icon.png" alt="Pixels icon" /><span class="sidebar-label">pixels</span></a></li>
 <li >
    <a href="/campaign" style="padding:0px;position:relative">
      <div style="opacity:.6;text-align:center;width:50px;line-height:50px;font-size:20px;color:white" class="glyphicon glyphicon-th-list"></div>
      <span class="sidebar-label" style="top:0px;margin-top:0px"> campaign manager</span>
    </a>
  </li>

<!--
  <li>
    <a href="/pixel" style="padding:0px;position:relative">
      <div style="opacity:.6;text-align:center;width:50px;line-height:50px;font-size:20px;color:white" class="glyphicon glyphicon glyphicon-star"></div>
      <span class="sidebar-label" style="top:0px;margin-top:0px"> pixel reporting</span>
    </a>
  </li>  
  <li>
    <a href="/hoverboard" style="padding:0px;position:relative">
      <div style="opacity:.6;text-align:center;width:50px;line-height:50px;font-size:20px;color:white" class="glyphicon glyphicon-ice-lolly"></div>
      <span class="sidebar-label" style="top:0px;margin-top:0px"> hoverboard</span>
    </a>
  </li>    

  <li><a href="global"><img src="/static/img/sidebar/global-icon.png" alt="Global icon" /><span class="sidebar-label">global streaming</span></a></li>

  <li><a href="intraweek"><img src="/static/img/sidebar/intraweek-icon.png" alt="Intraweek icon" /><span class="sidebar-label">intraweek overview</span></a></li>
  -->
{% end %}

{% block page_content %}
<link rel="stylesheet" type="text/css" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="http://rockerbox.com/css/dc.css">
<link rel="stylesheet" type="text/css" href="http://rockerbox.com/css/chosen.css">
<script type="text/javascript" src="http://rockerbox.com/js/d3.js"></script>
<script type="text/javascript" src="/static/js/advertiser.js"></script> 
<script type="text/javascript" src="/static/js/advertiser/info.js"></script>  
<script type="text/javascript" src="/static/js/mixpanel.js"></script>  
<style>
.container {
  padding-top:15px
}
.panel {
  border:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.panel-heading {
  border-bottom-width: 0px;
}
.list-group-item {
  padding:15px;
  border-top: 1px solid #ddd;
}
.list-group-item-heading {
  margin-bottom: 15px;
}
.panel-sub-heading > .list-group-item:first-of-type {;
  border-top: 1px solid #ddd;
  border-top: 0px;
  border-width: 0px;
  border-color: white;
}
.well {
  font-family: "courier new";
  font-size: 13px;
  margin-top:20px
}
#page-container {
  background:#f5f5f5
}
#header #left-align #header-logo {
  padding: 12px 20px 16px;
}
#sidebar {
  width:52px
}
#header #left-align #page-title {
  font-weight:100;
  font-family:'helvetica neue'
}
body {
  background:none;
  background-color:rgb(118, 118, 118);
}
</style>

<div id="advertiser-content" class='container row' style="height:inherit;overflow:scroll">
</div>
{% end %}
{% block page_scripts %}
<script>

var data = {{ data }};

data.sort(function(x){
  return - parseInt(x.active)
})

var id = '#advertiser-content'

var wrapped = buildAdvertiserWrapper(data,id,"12",false).selectAll(".panel")
//buildAdvertiserInfo(wrapped)
//buildClientAdvertiserInfo(wrapped) 
//buildInsertionOrders(wrapped)
//buildPixels(wrapped)  
buildSegments(wrapped,"Pixel Implementation Guide",false)  

$(document).ready(function() { 
  $('#page-loader').fadeOut(); // put this inside the callback if you don't want it to pop up after the page content loads. will slow down the page load by a second or so though.
  var extUserID = {{ advertiser_id }};
  $.getJSON("/api?table=advertiser&external_advertiser_id=" + extUserID, function(data){
    $('#header #right-align #user-name').text(data[0].advertiser_name.toLowerCase());
  });
  addMixpanelEvent({{ advertiser_id }}, "{{ user_id }}", "load advertiser");
});

</script>

{% end %}  
