{% autoescape None %}
{% extends "clean_base.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="http://rockerbox.com/css/dc.css">
<link rel="stylesheet" type="text/css" href="http://rockerbox.com/css/chosen.css">
<script type="text/javascript" src="http://rockerbox.com/js/d3.js"></script>
<script type="text/javascript" src="/static/js/advertiser.js"></script> 
<script type="text/javascript" src="/static/js/advertiser/info.js"></script>  
<script type="text/javascript" src="/static/js/mixpanel.js"></script>  

<div id="advertiser-content" class='container'>
</div>

<script>

var data = {{ data }};

data.sort(function(x){
  return - parseInt(x.active)
})

var id = '#advertiser-content'

var wrapped = buildAdvertiserWrapper(data,id,"12",false)
//buildAdvertiserInfo(wrapped)
//buildClientAdvertiserInfo(wrapped) 
//buildInsertionOrders(wrapped)
//buildPixels(wrapped)  
buildSegments(wrapped,"Pixel Implementation Guide",false)  


</script>
<script>
  addMixpanelEvent({{ advertiser_id }}, "{{ user_id }}", "load advertiser");
</script>

{% end %}  
