{% autoescape None %}
{% extends "base.html" %}

{% block page_title %}Advertiser{% end %}
{% block page_header %}Campaigns{% end %}

{% block page_sidebar %}
    <li><a href="/reporting"><img src="/static/img/sidebar/reporting-icon.png" alt="Reporting icon" /><span class="sidebar-label">campaign reporting</span></a></li>
    <li><a href="/streaming"><img src="/static/img/sidebar/global-icon.png" alt="Global icon" /><span class="sidebar-label">global streaming</span></a></li>
    <li><a href="/creative/reporting"><img src="/static/img/sidebar/creative-icon.png" alt="Creatives icon" /><span class="sidebar-label">creative reporting</span></a></li>
    <li class="active"><a href="/advertiser"><img src="/static/img/sidebar/pixel-icon.png" alt="Pixels icon" /><span class="sidebar-label">pixels</span></a></li>
<!--
  <li><a href="global"><img src="/static/img/sidebar/global-icon.png" alt="Global icon" /><span class="sidebar-label">global streaming</span></a></li>

  <li><a href="intraweek"><img src="/static/img/sidebar/intraweek-icon.png" alt="Intraweek icon" /><span class="sidebar-label">intraweek overview</span></a></li>
  -->
{% end %}

{% block page_content %}
<link rel="stylesheet" type="text/css" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="http://rockerbox.com/css/dc.css">
<link rel="stylesheet" type="text/css" href="http://rockerbox.com/css/chosen.css">
<script type="text/javascript" src="http://rockerbox.com/js/d3.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>   
<script type="text/javascript" src="/static/js/editable-limited.js"></script>  
<script type="text/javascript" src="/static/js/advertiser.js"></script> 
<script type="text/javascript" src="/static/js/advertiser/info.js"></script>  
<script type="text/javascript" src="/static/js/advertiser/campaign.js"></script>   
<script type="text/javascript" src="/static/js/mixpanel.js"></script>  
  
<style>
.container {
  padding-top:15px
}
.panel {
  border:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.panel-heading {
  border-bottom-width: 0px;
}
.list-group-item {
  padding:15px;
  border-top: 1px solid #ddd;
}
.list-group-item-heading {
  margin-bottom: 15px;
}
.panel-sub-heading > .list-group-item:first-of-type {;
  border-top: 1px solid #ddd;
  border-top: 0px;
  border-width: 0px;
  border-color: white;
}
.well {
  font-family: "courier new";
  font-size: 13px;
  margin-top:20px
}
#page-container {
  background:#f5f5f5
}
#header #left-align #header-logo {
  padding: 12px 20px 16px;
}
#sidebar {
  width:52px
}
#header #left-align #page-title {
  font-weight:100;
  font-family:'helvetica neue'
}
body {
  background:none;
  background-color:rgb(118, 118, 118);
}
</style>

<div id="advertiser-content" class='container row'>
</div>
{% end %}
{% block page_scripts %}
<script>

var data = {{ data }};

data.sort(function(x){
  return - parseInt(x.active)
})

var id = '#advertiser-content'

//buildCampaigns(wrapped)  
d3.json('/advertiser?format=json',function(data){
  var wrapped = buildAdvertiserWrapper(data,"#advertiser-content","12",false)

  buildCampaigns(wrapped)

  d3.select('#page-loader').classed("hidden",true)
})
 



</script>

{% end %}  
