{% autoescape None %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="http://d3js.org/d3.v3.min.js"></script>
        <script src="http://metrics.getrockerbox.com/assets/bar.js"></script>
        <script src="http://metrics.getrockerbox.com/assets/map.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>

        <link href="http://rockerbox.com/css/bootstrap.css" rel="stylesheet">
        <style>
        body {padding-top:70px}
        </style>
    </head>
   <body data-spy="scroll" data-target=".navbar" data-offset="150"> 
     <div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="toolbar navbar-header" style="float:right">
              {% block right_toolbar %}{% end %}
            </div>
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">
                <img src="http://rockerbox.com/img/logo.png" width="150px" style="margin-top:-5px;padding-right:20px">
              </a>
            </div>
            <div class="navbar-collapse collapse"> 
              <ol class="breadcrumb"></ol>
            </div>
            

          </div>
        </nav>
      </div>
      {% block content %}{% end %}
    </body>
    
</html
