{% autoescape None %}
{% extends "base.html" %}

{% block page_title %}Advertiser{% end %}
{% block page_header %}Hoverboard{% end %}

{% block page_sidebar %}
    <li><a href="/reporting"><img src="/static/img/sidebar/reporting-icon.png" alt="Reporting icon" /><span class="sidebar-label">campaign reporting</span></a></li>
    <!--
    <li><a href="/streaming"><img src="/static/img/sidebar/global-icon.png" alt="Global icon" /><span class="sidebar-label">global streaming</span></a></li>
    <li><a href="/creative/reporting"><img src="/static/img/sidebar/creative-icon.png" alt="Creatives icon" /><span class="sidebar-label">creative reporting</span></a></li>
    -->
    <li><a href="/advertiser"><img src="/static/img/sidebar/pixel-icon.png" alt="Pixels icon" /><span class="sidebar-label">pixels</span></a></li>

  <li>
    <a href="/campaign" style="padding:0px;position:relative">
      <div style="opacity:.6;text-align:center;width:50px;line-height:50px;font-size:20px;color:white" class="glyphicon glyphicon-th-list"></div>
      <span class="sidebar-label" style="top:0px;margin-top:0px"> campaign manager</span>
    </a>
  </li>

  <li>
    <a href="/pixel" style="padding:0px;position:relative">
      <div style="opacity:.6;text-align:center;width:50px;line-height:50px;font-size:20px;color:white" class="glyphicon glyphicon glyphicon-star"></div>
      <span class="sidebar-label" style="top:0px;margin-top:0px"> pixel reporting</span>
    </a>
  </li> 

  <li class="active">
    <a href="/hoverboard" style="padding:0px;position:relative">
      <div style="text-align:center;width:50px;line-height:50px;font-size:20px;color:white" class="glyphicon glyphicon-ice-lolly"></div>
      <span class="sidebar-label" style="top:0px;margin-top:0px"> hoverboard analysis</span>
    </a>
  </li>    
{% end %}

{% block page_content %}
<link rel="stylesheet" type="text/css" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="http://rockerbox.com/css/dc.css">
<link rel="stylesheet" type="text/css" href="http://rockerbox.com/css/chosen.css">
<script type="text/javascript" src="http://rockerbox.com/js/d3.js"></script>
<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>   
<script type="text/javascript" src="/static/js/editable-limited.js"></script>  
<script type="text/javascript" src="/static/js/advertiser.js"></script> 
<script type="text/javascript" src="/static/js/advertiser/info.js"></script>  
<script type="text/javascript" src="/static/js/advertiser/hoverboard.js"></script>    
<script type="text/javascript" src="/static/js/mixpanel.js"></script>  
  
<style>
.container {
  padding-top:15px
}
.panel {
  border:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.panel-heading {
  border-bottom-width: 0px;
}
.list-group-item {
  padding:15px;
  border-top: 1px solid #ddd;
}
.list-group-item-heading {
  margin-bottom: 15px;
}
.panel-sub-heading > .list-group-item:first-of-type {;
  border-top: 1px solid #ddd;
  border-top: 0px;
  border-width: 0px;
  border-color: white;
}
.well {
  font-family: "courier new";
  font-size: 13px;
  margin-top:20px
}
#page-container {
  background:#f5f5f5
}
#header #left-align #header-logo {
  padding: 12px 20px 16px;
}
#sidebar {
  width:52px
}
#header #left-align #page-title {
  font-weight:100;
  font-family:'helvetica neue'
}
body {
  background:none;
  background-color:rgb(118, 118, 118);
}

svg {
  font: 10px sans-serif;
}

svg .label {
  font-weight:normal;
  font-size:10px
}

.custom-tooltip {
  font: 10px sans-serif;
  background:rgba(255,255,255,.5);
  padding:5px;
  margin-top:15px
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  /*stroke: #000;*/
  opacity:.8
}
.bar-wrapper svg {
  background-color:white;
}
</style>

<div id="advertiser-content" class='container row' style="height:inherit;overflow:scroll">
</div>
{% end %}
{% block page_scripts %}
<script>

/*var data = {{ data }};

data.sort(function(x){
  return - parseInt(x.active)
})*/

var id = '#advertiser-content'

d3.json('/hoverboard?format=json&limit=15&meta=bubble_category',function(data){
  var wrapped = buildAdvertiserWrapper([{"bubble_data":data}],"#advertiser-content","12",false).selectAll(".panel")

  wrapped.selectAll(".panel-title").text("Where do users spend their time before converting?")

  buildHoverboard(wrapped)

  d3.select('#page-loader').classed("hidden",true)
})
 



</script>

{% end %}   
